{% extends 'vuexy/Layout.html' %}
{% load static %}
{% block topfilter %}
    <input type="text" id="date_range" class="form-control">
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/flatpickr/flatpickr.css"/>
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/select2/select2.css"/>
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/@form-validation/umd/styles/index.min.css"/>
    <style>
    .bg-rabbi {
        --bs-bg-opacity: 1;
        background-color: rgba(244, 107, 104, var(--bs-bg-opacity)) !important;
    }
        .red-badge {
            background-color: RGB(244, 107, 104);
            padding: 0.25rem 0.65rem;
            border-radius: 0.375rem;
            min-width: 46px;
            text-align: center;
            color: #ffffff;
        }
        .green-badge {
            background-color: RGB(43, 193, 85);
            padding: 0.25rem 0.65rem;
            border-radius: 0.375rem;
            min-width: 46px;
            text-align: center;
            color: #ffffff;
        }
        .blue-badge {
            background-color: RGB(54, 157, 201);
            padding: 0.25rem 0.65rem;
            border-radius: 0.375rem;
            min-width: 46px;
            text-align: center;
            color: #ffffff;
        }
        .pink-badge {
            background-color: RGB(163, 54, 201);
            padding: 0.25rem 0.65rem;
            border-radius: 0.375rem;
            min-width: 46px;
            text-align: center;
            color: #ffffff;
        }
        .gradient-bx {
            position: relative;
            z-index: 1;
        }
    </style>

    <style>
        .table-container {
            box-sizing: border-box;
        {#border: 1px solid #ddd;#}
        }

        .custom-table {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: separate;
            border-spacing: 0 15px;
            width: 100%;
            border: none;
            margin: 0 auto;
        }

        .custom-table > tbody > tr:hover {
            transform: translate(0px, -10px);

        }

        .custom-table td,
        .custom-table th {
            padding: 20px;
        }

        .custom-table tr {
            background-color: #fff;
            box-shadow: 5px 2px 4px #ccc;
            transition: transform 0.5s ease-in-out;
        }

        .custom-table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #ebf0ef;
        }

        .custom-table td:first-child,
        .custom-table th:first-child {
        {#border-radius: 10px 0 0 10px;#}
        }

        .custom-table td:last-child,
        .custom-table th:last-child {
        {#border-radius: 0 10px 10px 0;#}
        }
    </style>

{% endblock %}
{% block content %}

    <div class="row">

    <div class="row mb-4">
            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start justify-content-between">
                            <div class="content-left">
                                <span>Visited Appoinment</span>
                                <p>ANC 1</p>
                                <div class="d-flex align-items-center my-2">
                                    <h3 class="mb-0 me-2" id="ANC_1">0</h3>
                                    {#                                <p class="text-success mb-0">(+29%)</p>#}
                                </div>
                                {#                            <p class="mb-0">Total Users</p>#}
                            </div>
                            <span class="badge bg-label-primary rounded p-2">
                          <i class="ti ti-ad-2 ti-sm"></i>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start justify-content-between">
                            <div class="content-left">
                                <span>Visited Appoinment</span>
                                <p>ANC 2</p>
                                <div class="d-flex align-items-center my-2">
                                    <h3 class="mb-0 me-2" id="ANC_2">0</h3>
                                    {#                                <p class="text-success mb-0">(+29%)</p>#}
                                </div>
                                {#                            <p class="mb-0">Total Users</p>#}
                            </div>
                            <span class="badge bg-label-primary rounded p-2">
                          <i class="ti ti-ad-2 ti-sm"></i>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start justify-content-between">
                            <div class="content-left">
                                <span>Visited Appoinment</span>
                                <p>ANC 3</p>
                                <div class="d-flex align-items-center my-2">
                                    <h3 class="mb-0 me-2" id="ANC_3">0</h3>
                                    {#                                <p class="text-success mb-0">(+18%)</p>#}
                                </div>
                                {#                            <p class="mb-0">Last week analytics</p>#}
                            </div>
                            <span class="badge bg-label-success rounded p-2">
                          <i class="ti ti-ad-2 ti-sm"></i>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start justify-content-between">
                            <div class="content-left">
                                <span>Visited Appoinment</span>
                                <p>ANC 4</p>
                                <div class="d-flex align-items-center my-2">
                                    <h3 class="mb-0 me-2" id="ANC_4">0</h3>
                                    {#                                <p class="text-danger mb-0">(-14%)</p>#}
                                </div>
                                {#                            <p class="mb-0">Last week analytics</p>#}
                            </div>
                            <span class="badge bg-label-danger rounded p-2">
                          <i class="ti ti-ad-2 ti-sm"></i>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start justify-content-between">
                            <div class="content-left">
                                <span>Pregnant Mother</span>
                                <div class="d-flex align-items-center my-2">
                                    <h3 class="mb-0 me-2" id="pregnant_mother">0</h3>
                                    {#                                <p class="text-success mb-0">(+29%)</p>#}
                                </div>
                                {#                            <p class="mb-0">Total Users</p>#}
                            </div>
                            <span class="badge bg-label-primary rounded p-2">
                          <i class="ti ti-ad-2 ti-sm"></i>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start justify-content-between">
                            <div class="content-left">
                                <span>High Risk</span>
                                <div class="d-flex align-items-center my-2">
                                    <h3 class="mb-0 me-2" id="high_risk">0</h3>
                                    {#                                <p class="text-success mb-0">(+29%)</p>#}
                                </div>
                                {#                            <p class="mb-0">Total Users</p>#}
                            </div>
                            <span class="badge bg-label-primary rounded p-2">
                          <i class="ti ti-ad-2 ti-sm"></i>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start justify-content-between">
                            <div class="content-left">
                                <span>Normal Delivery</span>
                                <div class="d-flex align-items-center my-2">
                                    <h3 class="mb-0 me-2" id="normal_delivery">0</h3>
                                    {#                                <p class="text-success mb-0">(+18%)</p>#}
                                </div>
                                {#                            <p class="mb-0">Last week analytics</p>#}
                            </div>
                            <span class="badge bg-label-success rounded p-2">
                          <i class="ti ti-ad-2 ti-sm"></i>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start justify-content-between">
                            <div class="content-left">
                                <span>C Section</span>
                                <div class="d-flex align-items-center my-2">
                                    <h3 class="mb-0 me-2" id="c_section">0</h3>
                                    {#                                <p class="text-danger mb-0">(-14%)</p>#}
                                </div>
                                {#                            <p class="mb-0">Last week analytics</p>#}
                            </div>
                            <span class="badge bg-label-danger rounded p-2">
                          <i class="ti ti-ad-2 ti-sm"></i>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    <!-- Total Earning -->
                <!-- Horizontal Bar Charts -->
                <div class="col-12 col-xl-5 mb-4 col-md-6">
                  <div class="card">
                    <div class="card-header header-elements">
                      <div class="d-flex flex-column">
                          <h5 class="card-title mb-0">Appointment Statistic</h5>
                      </div>
                      <div class="card-action-element ms-auto py-0">
                        <div class="dropdown">
                          <button
                            type="button"
                            class="btn dropdown-toggle px-0"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="ti ti-calendar"></i>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                              <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Today</a>
                            </li>
                            <li>
                              <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center"
                                >Yesterday</a
                              >
                            </li>
                            <li>
                              <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center"
                                >Last 7 Days</a
                              >
                            </li>
                            <li>
                              <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center"
                                >Last 30 Days</a
                              >
                            </li>
                            <li>
                              <hr class="dropdown-divider" />
                            </li>
                            <li>
                              <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center"
                                >Current Month</a
                              >
                            </li>
                            <li>
                              <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center"
                                >Last Month</a
                              >
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <canvas id="horizontalBarChart" class="chartjs" data-height="400"></canvas>
                    </div>
                  </div>
                </div>
                <!-- /Horizontal Bar Charts -->

    <!-- Line Chart -->
                <div class="col-12 col-xl-7 mb-4 col-md-6">
                  <div class="card h-100">
                    <div class="card-header d-flex justify-content-between">
                      <div>
                        <h5 class="card-title mb-0">Patient Statistic</h5>
                      </div>
                    </div>
                    <div class="card-body">
                      <div id="chart">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /Line Chart -->
    </div>

    <!-- Projects table -->
    <div class="">
        <div class="card-header header-elements">
            <div>
                <h5 class="card-title mb-0">Patient</h5>
            </div>
        </div>

        <div class="table-container">
            <table id="datatables-company" class="datatables-company custom-table table-hover">
                <thead class="table-light">
                <tr>
                    <th style="text-align: center; vertical-align: middle;">Registration No</th>
                    <th style="text-align: center; vertical-align: middle;">Patient Name</th>
                    <th style="text-align: center; vertical-align: middle;">Patient Phone</th>
                    <th style="text-align: center; vertical-align: middle;">Total Appointments</th>
                    <th style="text-align: center; vertical-align: middle;">Upcomming Appointments</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody id="datatables-company-body" class="card-datatable table-responsive">

                </tbody>
            </table>
        </div>

    </div>
    <!--/ Projects table -->
{% endblock %}
{% block js %}
    <script src="{% static 'vuexy/' %}assets/vendor/libs/moment/moment.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/chartjs/chartjs.js"></script>
    <script src="{% static 'vuexy/' %}assets/js/charts-chartjs.js"></script>
    <script src="{% static 'vuexy/' %}assets/js/charts-apex.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/apex-charts/apexcharts.js"></script>
    <script src="{% static 'vuexy/' %}assets/js/dashboard-data.js"></script>
    <script>
        update_report_dashboard()
        setInterval(function () {
            update_report_dashboard()
        }, 5000)

        function update_report_dashboard() {
            let dateRange = document.getElementById('date_range').value
            let url = '/api/v1/patient_report_data'
            let dates = dateRange.split('-')
            if (dates[1]) {
                url = `/api/v1/patient_report_data?start_date=${dates[0]}&end_date=${dates[1]}`
            }
            console.log(dateRange)
            let dashboard_data = AsyncAPICall(url)
            dashboard_data.then(function (response) {
                document.getElementById('ANC_1').innerText = response.anc_type_counts.ANC_1;
                document.getElementById('ANC_2').innerText = response.anc_type_counts.ANC_2;
                document.getElementById('ANC_3').innerText = response.anc_type_counts.ANC_3;
                document.getElementById('ANC_4').innerText = response.anc_type_counts.ANC_4;
                document.getElementById('pregnant_mother').innerText = response.patient_count_with_lmp;
                document.getElementById('high_risk').innerText = response.patient_count_with_status;
                document.getElementById('normal_delivery').innerText = response.delivery_type_counts.Normal;
                document.getElementById('c_section').innerText = response.delivery_type_counts.C_Section;

            })
        }

    </script>

    <script>
        function formatAMPM(date_string) {
            var date = new Date(date_string)
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var ampm = hours >= 12 ? 'pm' : 'am';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0' + minutes : minutes;
            var strTime = hours + ' ' + ampm;
            return strTime;
        }

        update_dashboard()
        setInterval(function () {
            update_dashboard()
        }, 5000)

        function update_dashboard() {

            let url = '/api/v1/patient_data'
            let dashboard_data = AsyncAPICall(url)
            dashboard_data.then(function (response) {
                document.getElementById('datatables-company-body').innerHTML = '';

                response.patient_summery.forEach(function (item) {
                    let url_details = `/accounts/patient/${item.id}/detail_patient/`;
                    const date = new Date();

                    var template = document.getElementById('campaign_template').innerHTML
                    template = template.replace('CAMPAIGN_NAME', item['registration_no'])
                    template = template.replace('CAMPAIGN_REQUEST', item['patient_name'])
                    template = template.replace('Total_Campaign', item['patient_phone'])
                    template = template.replace('Running_Campaign', item['request_response']['total_appointments'])
                    template = template.replace('Ended_Campaign', item['request_response']['upcomming_appointments'])

                    template = template.replace('Actions', `<div class="d-flex align-items-center" style="text-align: center; vertical-align: middle;">
                            <a href="${url_details}" data-id="${item.id}" class="text-body user-eye"><i class="ti ti-eye ti-sm me-2"></i></a>
                            </div>`);

                    template = htmlToElement(template)
                    console.log(template)
                    document.getElementById('datatables-company-body').append(template)
                })

            })
        }

        $('html').on('click', '.user-edit', function () {
            let url = $(this).attr('data-url');
            let id = $(this).attr('data-id');
            let size = $(this).attr('data-size');
            if (!size) {
                size = 'modal-lg'
            }
            console.log(url)
            $(".modal:not(#ajaxModal)").find('[aria-label="Close"]').click();
            $('#ajaxModal').find('.modal-dialog').removeClass('modal-lg').removeClass('modal-xl').addClass(size)
            $('#ajaxModal').modal('show');

            $('#ajaxModal').find('#modal-content').load(url, function () {
                $('#ajaxModal').find('form').attr('action', url)
                $('#ajaxModal').find('form').attr('data-id', id)
                $('#ajaxModal').find('#close_modal').attr('data-bs-dismiss', 'modal')
                $('#ajaxModal').find('#close_modal').attr('aria-label', "Close")


            })
        });
        </script>
{#    <script>#}
{#        $('html').on('change','#date_range',function (){#}
{#            update_data()#}
{#        })#}
{##}
{#        function update_data() {#}
{#            let dateRange = document.getElementById('date_range').value#}
{#            let dates = dateRange.split('-')#}
{#            console.log(dateRange, dates)#}
{#            let from_date = formatDate(dates[0])#}
{#            let to_date = formatDate(dates[1])#}
{#            dt_user.ajax.url(`${dt_ajax_url}&s_date=${from_date}&e_date=${to_date}`).load();#}
{#        }#}
{##}
{#    </script>#}
    <script type="text/html" id="campaign_template">
        <tr>
            <td style="text-align: center; vertical-align: middle;">CAMPAIGN_NAME</td>
            <td style="text-align: center; vertical-align: middle;">CAMPAIGN_REQUEST</td>
            <td style="text-align: center; vertical-align: middle;">Total_Campaign</td>
            <td style="text-align: center; vertical-align: middle;">Running_Campaign</td>
            <td style="text-align: center; vertical-align: middle;">Ended_Campaign</td>
            <td>Actions</td>
        </tr>
    </script>

    <script>
        $(document).ready(function () {

            var counters = $(".count");
            var countersQuantity = counters.length;
            var counter = [];

            for (i = 0; i < countersQuantity; i++) {
                counter[i] = parseInt(counters[i].innerHTML);
            }


            var count = function (start, value, id) {
                var localStart = start;
                setInterval(function () {
                    if (localStart < value) {
                        localStart++;
                        counters[id].innerHTML = localStart;
                    }
                }, 40);
            }

            for (j = 0; j < countersQuantity; j++) {
                count(0, counter[j], j);
            }
        });
    </script>
    <script>
    var options = {
          series: [{
            name: "Recovered Patient",
            data: [45, 52, 38, 24, 33, 26, 21, 20, 6, 8, 15, 10]
          },
          {
            name: "New Patient",
            data: [35, 41, 62, 42, 13, 18, 29, 37, 36, 51, 32, 35]
          }
        ],
          chart: {
          height: 350,
          type: 'line',
          zoom: {
            enabled: false
          },
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          width: [5, 7, 5],
          curve: 'straight',
          dashArray: [0, 8, 5]
        },
        legend: {
          tooltipHoverFormatter: function(val, opts) {
            return val + ' - <strong>' + opts.w.globals.series[opts.seriesIndex][opts.dataPointIndex] + '</strong>'
          }
        },
        markers: {
          size: 0,
          hover: {
            sizeOffset: 6
          }
        },
        xaxis: {
          categories: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September',
            'October', 'November', 'December'
          ],
        },
        tooltip: {
          y: [
            {
              title: {
                formatter: function (val) {
                  return val
                }
              }
            },
            {
              title: {
                formatter: function (val) {
                  return val
                }
              }
            },
            {
              title: {
                formatter: function (val) {
                  return val;
                }
              }
            }
          ]
        },
        grid: {
          borderColor: '#f1f1f1',
        }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();

    </script>
{% endblock %}