{% load static %}
<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-navbar-fixed layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="{% static 'vuexy/assets/' %}"
        data-template="vertical-menu-template-no-customizer">
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

    <title>MUHC {% if title %} | {{ title }} {% endif %}</title>
    <script>
        var staff = "{{ request.user.is_staff }}";
        var sadm = "{{ request.user.is_staff }}";
    </script>

    <meta name="description" content=""/>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static '' %}img/favicon/gov.png"/>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&ampdisplay=swap"
            rel="stylesheet"/>

    <!-- Icons -->
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/fonts/fontawesome.css"/>
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/fonts/tabler-icons.css"/>
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/fonts/flag-icons.css"/>

    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/css/rtl/core.css"/>
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/css/rtl/theme-default.css"/>
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/css/demo.css"/>

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/node-waves/node-waves.css"/>
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"/>
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/typeahead-js/typeahead.css"/>
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/apex-charts/apex-charts.css"/>
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/swiper/swiper.css"/>
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css"/>
    <link rel="stylesheet"
          href="{% static 'vuexy/' %}assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css"/>
    <link rel="stylesheet"
          href="{% static 'vuexy/' %}assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css"/>
    <link rel="stylesheet"
          href="{% static 'vuexy/' %}assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.css"/>

    <!-- Page CSS -->
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/css/pages/cards-advance.css"/>

    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/flatpickr/flatpickr.css"/>
    <link rel="stylesheet"
          href="{% static 'vuexy/assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.css' %}"/>

    <!-- Helpers -->
    <script src="{% static 'vuexy/' %}assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% static 'vuexy/' %}assets/js/config.js"></script>
    <style>
        .border-bottom-primary {
            border-bottom: solid 2px #7367f0;
        }

        input#date_range {
            border: none;
        }

        input#date_range::after {
            content: "";
            background-image: url('path/to/icon.png');
            background-size: contain;
            width: 20px;
            height: 20px;
            display: inline-block;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
    </style>
    {% block css %}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
    {% endblock %}
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
            <div class="app-brand demo">
                <img src="{% static 'img/favicon/gov.png' %}" alt="" style="height: 3.5vw; width: auto;" class="center">
                <span class="app-brand-text demo menu-text fw-bold" style="color:white;">MUHC</span>
                {#                <a href="{% url 'dashboard' %}" class="app-brand-link">#}
                {#              <span class="app-brand-logo demo">#}
                {##}
                {#                  <img src="{% static 'img/favicon/AdVisor_logo.png' %}" alt="" width="22" height="22">#}
                {#              </span>#}
                {#                    <span class="app-brand-text demo menu-text fw-bold">B-Track</span>#}
                {#                </a>#}

                <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
                    <i class="ti menu-toggle-icon d-none d-xl-block ti-sm align-middle"></i>
                    <i class="ti ti-x d-block d-xl-none ti-sm align-middle"></i>
                </a>
            </div>

            <div class="menu-inner-shadow"></div>

            <ul class="menu-inner py-1">
                <!-- Dashboards -->
                <li class="menu-item">
                    <a href="{% url 'dashboard' %}" class="menu-link">
                        <i class="menu-icon tf-icons ti ti-smart-home"></i>
                        <div data-i18n="Dashboards">Dashboards</div>
                        {#                        <div class="badge bg-primary rounded-pill ms-auto">3</div>#}
                    </a>

                </li>

                <!-- Apps & Pages -->
                <li class="menu-header small text-uppercase">
                    <span class="menu-header-text">Apps &amp; Pages</span>
                </li>
                {% if perms.accounts.view_company %}

                    <li class="menu-item">
                        <a href="{% url 'company' %}" class="menu-link">
                            <i class="menu-icon tf-icons ti ti-user-star"></i>
                            <div data-i18n="Hospital">Hospital</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="{% url 'staff' %}" class="menu-link">
                            <i class="menu-icon tf-icons ti ti-user-star"></i>
                            <div data-i18n="Staff">Staff</div>
                        </a>
                    </li>

                {% endif %}
                    <li class="menu-item">
                        <a href="{% url 'patient' %}" class="menu-link">
                            <i class="menu-icon tf-icons ti ti-user-star"></i>
                            <div data-i18n="Patient">Patient</div>
                        </a>
                    </li>
                <li class="menu-item">
                        <a href="{% url 'pregnancycycle' %}" class="menu-link">
                            <i class="menu-icon tf-icons ti ti-user-star"></i>
                            <div data-i18n="Pregnancy Cycle">Pregnancy Cycle</div>
                        </a>
                    </li>
                <li class="menu-item">
                        <a href="{% url 'staffworkinglog' %}" class="menu-link">
                            <i class="menu-icon tf-icons ti ti-user-star"></i>
                            <div data-i18n="Staff Working Log">Staff Working Log</div>
                        </a>
                    </li>
{#                    <li class="menu-item">#}
{#                            <a href="{% url 'appointment' %}" class="menu-link">#}
{#                                <i class="menu-icon tf-icons ti ti-user-star"></i>#}
{#                                <div data-i18n="Appointment">Appointment</div>#}
{#                            </a>#}
{#                        </li>#}
{#                </li>#}
                <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons ti ti-users"></i>
                            <div data-i18n="Appointments">Appointments</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a href="{% url 'upcomming_appointment' %}" class="menu-link">
                                    <div data-i18n="Upcoming Appointment">Upcoming Appointment</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="{% url 'historical_appointment' %}" class="menu-link">
                                    <div data-i18n="Historical Appointment">Historical Appointment</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="{% url 'notvisited_appointment' %}" class="menu-link">
                                    <div data-i18n="Not Visited Appointment">Not Visited Appointment</div>
                                </a>
                            </li>

                        </ul>
                    </li>
            <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons ti ti-users"></i>
                            <div data-i18n="Blood Bank">Blood Bank</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a href="{% url 'donor' %}" class="menu-link">
                                    <div data-i18n="Donor List">Donor List</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="{% url 'bloodbank' %}" class="menu-link">
                                    <div data-i18n="Blood Transection">Blood Transection</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="{% url 'bloodcount' %}" class="menu-link">
                                    <div data-i18n="Blood Repository">Blood Repository</div>
                                </a>
                            </li>

                        </ul>
                    </li>
                {% if perms.auth.view_user %}
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons ti ti-users"></i>
                            <div data-i18n="User & Role">User & Role</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a href="{% url 'users' %}" class="menu-link">
                                    <div data-i18n="User List">User List</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="{% url 'roles' %}" class="menu-link">
                                    <div data-i18n="Role List">Role List</div>
                                </a>
                            </li>

                        </ul>
                    </li>
                {% endif %}
                {#                {% if perms.auth.view_group %}#}
                {#                    <li class="menu-item">#}
                {#                        <a href="javascript:void(0);" class="menu-link menu-toggle">#}
                {#                            <i class="menu-icon tf-icons ti ti-settings"></i>#}
                {#                            <div data-i18n="Roles & Permissions">Roles & Permissions</div>#}
                {#                        </a>#}
                {#                        <ul class="menu-sub">#}
                {#                            #}
                {##}
                {#                        </ul>#}
                {#                    </li>#}
                {#                {% endif %}#}



        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar -->

            <nav
                    class="layout-navbar container-fluid navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                    id="layout-navbar">
                <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                        <i class="ti ti-menu-2 ti-sm"></i>
                    </a>
                </div>

                <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                {% if request.user.profile.company.name == 'bKash'%}
                    <div class="avatar" style="margin-right: 10px;">
                                    <img src="{% static 'vuexy/' %}assets/img/avatars/bkas.png" alt
                                         class="h-auto rounded-circle"/>
                    </div>
                {% endif %}
{#                    <div class="avatar" style="margin-right: 10px;">#}
{#                                    <img src="{% static 'vuexy/' %}assets/img/avatars/bkas.png" alt#}
{#                                         class="h-auto rounded-circle"/>#}
{#                    </div>#}
                    <div class="navbar-nav align-items-center" style="padding-top: 12px">
                                {% if request.user.profile.company.name %}
                                    <h2>Welcome to {{ request.user.profile.company }}</h2>
                                {% else %}
                                    <h2>Dashboard</h2>
                                {% endif %}
                    </div>
                    <ul class="navbar-nav flex-row align-items-center ms-auto">

                        <!-- Quick links -->
                    <li>
                        {% block topfilter %}

                        {% endblock %}
                    </li>
                        {#                        <li>aabbccdd</li>#}
                        <!-- Notification -->
                        <li class="nav-item">
                            {% block filter %}

                            {% endblock %}
                        </li>
                        <li class="nav-item dropdown-notifications navbar-dropdown dropdown me-3 me-xl-1">

                            <ul class="dropdown-menu dropdown-menu-end py-0">
                                <li class="dropdown-menu-header border-bottom">
                                    <div class="dropdown-header d-flex align-items-center py-3">
                                        <h5 class="text-body mb-0 me-auto">Notification</h5>
                                        <a
                                                href="javascript:void(0)"
                                                class="dropdown-notifications-all text-body"
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                title="Mark all as read"
                                        ><i class="ti ti-mail-opened fs-4"></i
                                        ></a>
                                    </div>
                                </li>
                                <li class="dropdown-notifications-list scrollable-container">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item list-group-item-action dropdown-notifications-item">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar">
                                                        <img src="{% static 'vuexy/' %}assets/img/avatars/1.png" alt
                                                             class="h-auto rounded-circle"/>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="mb-1">Congratulation Lettie 🎉</h6>
                                                    <p class="mb-0">Won the monthly best seller gold badge</p>
                                                    <small class="text-muted">1h ago</small>
                                                </div>
                                                <div class="flex-shrink-0 dropdown-notifications-actions">
                                                    <a href="javascript:void(0)" class="dropdown-notifications-read"
                                                    ><span class="badge badge-dot"></span
                                                    ></a>
                                                    <a href="javascript:void(0)" class="dropdown-notifications-archive"
                                                    ><span class="ti ti-x"></span
                                                    ></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item list-group-item-action dropdown-notifications-item">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar">
                                                        <span class="avatar-initial rounded-circle bg-label-danger">CF</span>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="mb-1">Charles Franklin</h6>
                                                    <p class="mb-0">Accepted your connection</p>
                                                    <small class="text-muted">12hr ago</small>
                                                </div>
                                                <div class="flex-shrink-0 dropdown-notifications-actions">
                                                    <a href="javascript:void(0)" class="dropdown-notifications-read"
                                                    ><span class="badge badge-dot"></span
                                                    ></a>
                                                    <a href="javascript:void(0)" class="dropdown-notifications-archive"
                                                    ><span class="ti ti-x"></span
                                                    ></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar">
                                                        <img src="{% static 'vuexy/' %}assets/img/avatars/2.png" alt
                                                             class="h-auto rounded-circle"/>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="mb-1">New Message ✉️</h6>
                                                    <p class="mb-0">You have new message from Natalie</p>
                                                    <small class="text-muted">1h ago</small>
                                                </div>
                                                <div class="flex-shrink-0 dropdown-notifications-actions">
                                                    <a href="javascript:void(0)" class="dropdown-notifications-read"
                                                    ><span class="badge badge-dot"></span
                                                    ></a>
                                                    <a href="javascript:void(0)" class="dropdown-notifications-archive"
                                                    ><span class="ti ti-x"></span
                                                    ></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item list-group-item-action dropdown-notifications-item">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar">
                                <span class="avatar-initial rounded-circle bg-label-success"
                                ><i class="ti ti-shopping-cart"></i
                                ></span>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="mb-1">Whoo! You have new order 🛒</h6>
                                                    <p class="mb-0">ACME Inc. made new order $1,154</p>
                                                    <small class="text-muted">1 day ago</small>
                                                </div>
                                                <div class="flex-shrink-0 dropdown-notifications-actions">
                                                    <a href="javascript:void(0)" class="dropdown-notifications-read"
                                                    ><span class="badge badge-dot"></span
                                                    ></a>
                                                    <a href="javascript:void(0)" class="dropdown-notifications-archive"
                                                    ><span class="ti ti-x"></span
                                                    ></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar">
                                                        <img src="{% static 'vuexy/' %}assets/img/avatars/9.png" alt
                                                             class="h-auto rounded-circle"/>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="mb-1">Application has been approved 🚀</h6>
                                                    <p class="mb-0">Your ABC project application has been approved.</p>
                                                    <small class="text-muted">2 days ago</small>
                                                </div>
                                                <div class="flex-shrink-0 dropdown-notifications-actions">
                                                    <a href="javascript:void(0)" class="dropdown-notifications-read"
                                                    ><span class="badge badge-dot"></span
                                                    ></a>
                                                    <a href="javascript:void(0)" class="dropdown-notifications-archive"
                                                    ><span class="ti ti-x"></span
                                                    ></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar">
                                <span class="avatar-initial rounded-circle bg-label-success"
                                ><i class="ti ti-chart-pie"></i
                                ></span>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="mb-1">Monthly report is generated</h6>
                                                    <p class="mb-0">July monthly financial report is generated</p>
                                                    <small class="text-muted">3 days ago</small>
                                                </div>
                                                <div class="flex-shrink-0 dropdown-notifications-actions">
                                                    <a href="javascript:void(0)" class="dropdown-notifications-read"
                                                    ><span class="badge badge-dot"></span
                                                    ></a>
                                                    <a href="javascript:void(0)" class="dropdown-notifications-archive"
                                                    ><span class="ti ti-x"></span
                                                    ></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar">
                                                        <img src="{% static 'vuexy/' %}assets/img/avatars/5.png" alt
                                                             class="h-auto rounded-circle"/>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="mb-1">Send connection request</h6>
                                                    <p class="mb-0">Peter sent you connection request</p>
                                                    <small class="text-muted">4 days ago</small>
                                                </div>
                                                <div class="flex-shrink-0 dropdown-notifications-actions">
                                                    <a href="javascript:void(0)" class="dropdown-notifications-read"
                                                    ><span class="badge badge-dot"></span
                                                    ></a>
                                                    <a href="javascript:void(0)" class="dropdown-notifications-archive"
                                                    ><span class="ti ti-x"></span
                                                    ></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item list-group-item-action dropdown-notifications-item">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar">
                                                        <img src="{% static 'vuexy/' %}assets/img/avatars/6.png" alt
                                                             class="h-auto rounded-circle"/>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="mb-1">New message from Jane</h6>
                                                    <p class="mb-0">Your have new message from Jane</p>
                                                    <small class="text-muted">5 days ago</small>
                                                </div>
                                                <div class="flex-shrink-0 dropdown-notifications-actions">
                                                    <a href="javascript:void(0)" class="dropdown-notifications-read"
                                                    ><span class="badge badge-dot"></span
                                                    ></a>
                                                    <a href="javascript:void(0)" class="dropdown-notifications-archive"
                                                    ><span class="ti ti-x"></span
                                                    ></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar">
                                <span class="avatar-initial rounded-circle bg-label-warning"
                                ><i class="ti ti-alert-triangle"></i
                                ></span>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="mb-1">CPU is running high</h6>
                                                    <p class="mb-0">CPU Utilization Percent is currently at 88.63%,</p>
                                                    <small class="text-muted">5 days ago</small>
                                                </div>
                                                <div class="flex-shrink-0 dropdown-notifications-actions">
                                                    <a href="javascript:void(0)" class="dropdown-notifications-read"
                                                    ><span class="badge badge-dot"></span
                                                    ></a>
                                                    <a href="javascript:void(0)" class="dropdown-notifications-archive"
                                                    ><span class="ti ti-x"></span
                                                    ></a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-menu-footer border-top">
                                    <a
                                            href="javascript:void(0);"
                                            class="dropdown-item d-flex justify-content-center text-primary p-2 h-px-40 mb-1 align-items-center">
                                        View all notifications
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!--/ Notification -->

                        <!-- User -->
                        <li class="nav-item navbar-dropdown dropdown-user dropdown">
                            <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);"
                               data-bs-toggle="dropdown">
                                <div class="avatar avatar-online">
                                    <img src="{% static 'vuexy/' %}assets/img/avatars/1.png" alt
                                         class="h-auto rounded-circle"/>
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item" href="javascript:void(0)">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 me-3">
                                                <div class="avatar avatar-online">
                                                    <img src="{% static 'vuexy/' %}assets/img/avatars/1.png" alt
                                                         class="h-auto rounded-circle"/>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <span class="fw-medium d-block">
                                                    {% if request.user.first_name %}
                                                        {{ request.user.first_name }}
                                                    {% else %}
                                                        {{ request.user.username }}
                                                    {% endif %}
                                                </span>
                                                <small class="text-muted">
                                                    {% if request.user.is_superuser %}
                                                        Super Admin
                                                        {#                                                    {% elif request.user.is_staff %}#}
                                                        {#                                                        Staff#}
                                                    {% else %}
                                                        {{ request.user.profile.company }}-
                                                        {{ request.user.groups.first }}
                                                    {% endif %}
                                                </small>
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'logout' %}">
                                        <i class="ti ti-logout me-2 ti-sm"></i>
                                        <span class="align-middle">Log Out</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!--/ User -->
                    </ul>
                </div>

                <!-- Search Small Screens -->
                <div class="navbar-search-wrapper search-input-wrapper d-none">
                    <input
                            type="text"
                            class="form-control search-input container-xxl border-0"
                            placeholder="Search..."
                            aria-label="Search..."/>
                    <i class="ti ti-x ti-sm search-toggler cursor-pointer"></i>
                </div>
            </nav>

            <!-- / Navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->

                <div class="container-fluid flex-grow-1 container-p-y">
                    {% block content %}

                    {% endblock %}
                </div>
                <!-- / Content -->

                <!-- Footer -->
                <footer class="content-footer footer bg-footer-theme">
                    <div class="container-fluid">
                        <div
                                class="footer-container d-flex align-items-center justify-content-between py-2 flex-md-row flex-column">
                            <div>
                                ©
                                <script>
                                    document.write(new Date().getFullYear());
                                </script>
                                , made with ❤️ by
                                <a href="https://purplepatch.online/" target="_blank" class="fw-medium">Rafiqul Hasan</a>
                            </div>

                        </div>
                    </div>
                </footer>
                <!-- / Footer -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>

    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
</div>
<!-- / Layout wrapper -->
{#<ins data-purplepatch-slotid="942" data-purplepatch-ct0="%%CLICK_URL_UNESC%%" data-purplepatch-id="53126d71827fcba70ff68055b9a73ca1" data-purplepatch-seq="0" id="purplepatch-0-0" data-purplepatch-loaded="1" style="position: fixed;width: 100%;left: 0;bottom: 0;">#}
{#</ins>#}
{#<script async="" src="//bgd1.purplepatch.online/payload/async.js" type="text/javascript"></script>#}
<ins id="pp-nagad-01">

</ins>

<div id="pp_floating" style="position: fixed; width: 100%; right: 0; bottom: 0; z-index: 999999999;">
    <ins data-purplepatch-slotid="833" data-purplepatch-ct0="%%CLICK_URL_UNESC%%"
         data-purplepatch-id="53126d71827fcba70ff68055b9a73ca1" data-purplepatch-seq="2" id="purplepatch-floating_001"
         data-purplepatch-loaded="1" style="position: fixed;width: 100%;right: 0;bottom: 0;z-index: 999999999;">
    </ins>
    <style>
        #purplepatch-floating_001 {
            position: fixed;
            width: 100%;
            z-index: 999;
            right: 3vw;
            bottom: 48%
        }

        @media only screen and (max-width: 482px) {
            #purplepatch-floating_001 {
                left: 13vw;
                bottom: 30%;
                transform: scale(.55);
            }
        }
    </style>

    <style>
        #purplepatch-floating_001 {
            width: 100%
        }

        #purplepatch-floating_001 {
            animation-name: changeWidth;
            animation-duration: .1s;
            animation-delay: 2.3s;
            animation-fill-mode: forwards
        }

        @keyframes changeWidth {
            100% {
                width: 363px;
            }
        }
    </style>

</div>


{#<script async src="//bgd1.purplepatch.online/payload/async.js"></script>#}


<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<!-- Ajax Common Modal -->
<div class="modal fade" id="ajaxModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-simple modal-edit-user">
        <div class="modal-content p-3 p-md-5">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div id="modal-content"></div>
            </div>
        </div>
    </div>
</div>
<!--/ Ajax Common Modal -->
<script src="{% static 'vuexy/' %}assets/vendor/libs/jquery/jquery.js"></script>
<script src="{% static 'vuexy/' %}assets/vendor/libs/popper/popper.js"></script>
<script src="{% static 'vuexy/' %}assets/vendor/js/bootstrap.js"></script>
<script src="{% static 'vuexy/' %}assets/vendor/libs/node-waves/node-waves.js"></script>
<script src="{% static 'vuexy/' %}assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="{% static 'vuexy/' %}assets/vendor/libs/hammer/hammer.js"></script>
<script src="{% static 'vuexy/' %}assets/vendor/libs/i18n/i18n.js"></script>
<script src="{% static 'vuexy/' %}assets/vendor/libs/typeahead-js/typeahead.js"></script>
<script src="{% static 'vuexy/' %}assets/vendor/js/menu.js"></script>

<!-- endbuild -->

<!-- Vendors JS -->
<script src="{% static 'vuexy/' %}assets/vendor/libs/apex-charts/apexcharts.js"></script>
<script src="{% static 'vuexy/' %}assets/vendor/libs/swiper/swiper.js"></script>
<script src="{% static 'vuexy/' %}assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
<script src="{% static 'vuexy/' %}assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>

<!-- Main JS -->
<script src="{% static 'vuexy/' %}assets/js/main.js"></script>

<!-- Page JS -->
<script src="{% static 'vuexy/' %}assets/js/dashboards-analytics.js"></script>

<script src="{% static 'vuexy/' %}assets/vendor/libs/moment/moment.js"></script>
<script src="{% static 'vuexy/' %}assets/vendor/libs/flatpickr/flatpickr.js"></script>
<script src="{% static 'vuexy/' %}assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.js"></script>

<script>
    function objectifyForm(formArray) {
        var returnArray = {};
        for (var i = 0; i < formArray.length; i++) {
            returnArray[formArray[i]['name']] = formArray[i]['value'];
        }
        return returnArray;
    }


</script>
<script>
    $('#layout-menu .menu-item').removeClass('active')
    $('#layout-menu').find('a').each(function () {
        let url = $(this).attr('href')
        if (url == window.location.pathname) {
            $(this).closest('.menu-item').addClass('active')
            $(this).closest('.menu-sub').parent('.menu-item').addClass('active open')
        }
    });

    async function AsyncAPICall(url) {
        try {

            const response = await fetch(url);
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            const data = await response.json();
            console.log(data)
            return data;

        } catch (error) {
            console.error(error);
        }
    }

    function createElementFromHTML(htmlString) {
        var div = document.createElement('div');
        div.innerHTML = htmlString.trim();

        // Change this to div.childNodes to support multiple top-level nodes.
        return div.firstChild;
    }

    function htmlToElement(html) {
        var template = document.createElement('template');
        html = html.trim(); // Never return a text node of whitespace as the result
        template.innerHTML = html;
        return template.content.firstChild;
    }

    function formatDate(userDate) {
        // format from M/D/YYYY to YYYYMMDD
        let array = userDate.trim().split("/");
        while (array[0].length < 2) {
            array[0] = "0" + array[0];
        }
        while (array[1].length < 2) {
            array[1] = "0" + array[1];
        }
        let arrayAnswer = array[2] +'-'+ array[0] +'-'+ array[1];
        return arrayAnswer;
    }
</script>
<script>
    var bsRangePickerRange = $('#date_range');
    if (bsRangePickerRange.length) {
        bsRangePickerRange.daterangepicker({
            ranges: {
                Today: [moment(), moment()],
                Yesterday: [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            opens: isRtl ? 'left' : 'right'
        });
    }

    function formatDate2(userDate) {
        var parts = userDate.split('/');
        if (parts[0].length == 1) parts[0] = '0' + parts[0];
        if (parts[1].length == 1) parts[1] = '0' + parts[1];
        return `${parts[2]}-${parts[0]}-${parts[1]}`;
    }

    function formatDate(userDate) {
        userDate = new Date(userDate);
        y = userDate.getFullYear().toString();
        m = (userDate.getMonth() + 1).toString();
        d = userDate.getDate().toString();
        if (m.length == 1) m = '0' + m;
        if (d.length == 1) d = '0' + d;
        return `${y}-${m}-${d}`;
    }
</script>
{% block js %}

{% endblock %}
</body>
</html>
