{% extends 'vuexy/Layout.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/select2/select2.css"/>
    <link rel="stylesheet" href="{% static 'vuexy/libs/' %}Toastr/css/toastr.css"/>
{% endblock %}
{% block content %}
    <div class="card">
        {#        <div class="card-header border-bottom">#}
        {#            <h5 class="card-title mb-3">Search Filter</h5>#}
        {#            <div class="d-flex justify-content-between align-items-center row pb-2 gap-3 gap-md-0">#}
        {#                <div class="col-md-6 user_role"></div>#}
        {#                <div class="col-md-4 user_plan"></div>#}
        {#                <div class="col-md-6 user_status"></div>#}
        {#            </div>#}
        {#        </div>#}
        <div class="card-datatable table-responsive">
            <table id="channels" class="datatables-users table">
                <thead class="border-top">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Campaign</th>
                    <th>Channel</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'vuexy/libs/' %}Toastr/js/toastr.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/select2/select2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
            integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        let channels = $('#channels')
        if (channels) {
            var table = channels.DataTable({
                ajax: '/api/v1/tags/?format=datatables', // JSON file to add data
                processing: true,
                serverSide: true,
                columns: [
                    // columns according to JSON
                    {
                        className: 'control',
                        searchable: false,
                        orderable: false,
                        responsivePriority: 2,
                        targets: 0,
                        data: '',
                        mRender: function (data, type, row) {
                            console.log(data)
                            return '';
                        }
                    },
                    {data: 'name'},
                    {data: 'campaign_name', name: 'campaign.name'},
                    {data: 'channel_name', name: 'channel.name'},
                    {data: 'status'},
                    {
                        data: 'id',
                        mRender: function (data, type, row) {
                            console.log(data)
                            let detail_url = "{% url 'tag_detail' 0 %}"
                            detail_url = detail_url.replace('0', data)
                            return `<a href="javascript:;"  data-url="${detail_url}"  class="text-body tag-edit" data-size="modal-xl" data-id="${data}"><i class="ti ti-eye ti-sm me-2"></i></a>`;
                        }
                    },
                ],
                dom:
                    '<"row me-2"' +
                    '<"col-md-2"<"me-3"l>>' +
                    '<"col-md-10"<"dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-center justify-content-end flex-md-row flex-column mb-3 mb-md-0"fB>>' +
                    '>t' +
                    '<"row mx-2"' +
                    '<"col-sm-12 col-md-6"i>' +
                    '<"col-sm-12 col-md-6"p>' +
                    '>',
                language: {
                    sLengthMenu: '_MENU_',
                    search: '',
                    searchPlaceholder: 'Search..'
                },
                buttons: [
                    {
                        text: '<i class="ti ti-plus me-0 me-sm-1 ti-xs"></i><span class="d-none d-sm-inline-block">Add New Tag</span>',
                        className: 'add-new btn btn-primary mx-2',
                        attr: {
                            'id': 'create_tag',
                            // 'data-bs-toggle': 'offcanvas',
                            // 'data-bs-target': '#offcanvasAddUser'
                        }
                    }
                ],
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.modal({
                            header: function (row) {
                                var data = row.data();
                                return 'Details of ' + data['name'];
                            }
                        }),
                        type: 'column',
                        renderer: function (api, rowIdx, columns) {
                            var data = $.map(columns, function (col, i) {
                                return col.title !== '' // ? Do not show row in modal popup if title is blank (for check box)
                                    ? '<tr data-dt-row="' +
                                    col.rowIndex +
                                    '" data-dt-column="' +
                                    col.columnIndex +
                                    '">' +
                                    '<td>' +
                                    col.title +
                                    ':' +
                                    '</td> ' +
                                    '<td>' +
                                    col.data +
                                    '</td>' +
                                    '</tr>'
                                    : '';
                            }).join('');

                            return data ? $('<table class="table"/><tbody />').append(data) : false;
                        }
                    }
                },
            });
        }

        $('html').on('click', '#create_tag', function () {
            let url = '/ad_measurement/tags/create';
            console.log(url)
            $('#ajaxModal').modal('show');
            $('#ajaxModal').find('#modal-content').load(url, function () {
                $('#ajaxModal').find('form').attr('action', url)
                $('#ajaxModal').find('#close_modal').attr('data-bs-dismiss', 'modal')
                $('#ajaxModal').find('#close_modal').attr('aria-label', "Close")
                $('#ajaxModal').find('select').select2({dropdownParent: $("#ajaxModal")});
            })
        });

        $('html').on('submit', '#tag_form', function (e) {
            e.preventDefault();
            axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
            axios.defaults.xsrfCookieName = "csrftoken";
            const config = {
                headers: {
                    'content-type': 'multipart/form-data'
                }
            }
            let form_data = objectifyForm($(this).serializeArray());
            console.log(form_data);
            let id = $(this).attr('data-id');
            if (id) {
                axios.put(`/api/v1/tags/${id}/`, form_data)
                    .then(function (response) {
                        console.log(response);
                        table.ajax.reload();
                        $('#ajaxModal').find('[aria-label="Close"]').click()
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

            } else {
                axios.post(`/api/v1/tags/`, form_data)
                    .then(function (response) {
                        console.log(response);
                        table.ajax.reload();
                        $('#ajaxModal').find('[aria-label="Close"]').click()
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }

        });

        $('html').on('click', '.tag-edit', function () {
            let url = $(this).attr('data-url');
            let id = $(this).attr('data-id');
            let size = $(this).attr('data-size');
            if (!size) {
                size = 'modal-lg'
            }
            console.log(url)
            $(".modal:not(#ajaxModal)").find('[aria-label="Close"]').click();
            $('#ajaxModal').find('.modal-dialog').removeClass('modal-lg').removeClass('modal-xl').addClass(size)
            $('#ajaxModal').modal('show');

            $('#ajaxModal').find('#modal-content').load(url, function () {
                $('#ajaxModal').find('form').attr('action', url)
                $('#ajaxModal').find('form').attr('data-id', id)
                $('#ajaxModal').find('#close_modal').attr('data-bs-dismiss', 'modal')
                $('#ajaxModal').find('#close_modal').attr('aria-label', "Close")


            })
        });

        function copy2Click() {
            var tag_code = document.getElementById('script_tag').innerText
            console.log(tag_code);
            navigator.clipboard.writeText(tag_code);

            $.toastr.success('Successfully Copied!');

        }
    </script>
{% endblock %}