{% extends 'vuexy/Layout.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/flatpickr/flatpickr.css"/>
    <link rel="stylesheet"
          href="{% static 'vuexy/assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.css' %}"/>
    <style>
        .blue-badge {
            background-color: #6258cc;
            padding: 0.25rem 0.65rem;
            border-radius: 0.375rem;
            min-width: 46px;
            text-align: center;
            color: #ffffff;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12 col-lg-12  mb-4">
            <div class="card card-border-shadow-danger">
                <div class="card-body">
                    <div class="col-md-6 col-12 mb-4">
                        <label for="date_range" class="form-label">Date Range</label>
                        <input type="text" id="date_range" class="form-control">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-3  mb-4">
            <div class="card card-border-shadow-primary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="text-dark mb-0 mt-2">All</h5>
                            <small>Total 28.5% Conversion Rate</small>
                        </div>
                        <div>
                            <h6 class="text-dark mt-0 mt-md-3 mb-3">Traffic</h6>
                            <div class="row">
                                <div class="col-6">
                                    <ul class="list-unstyled mb-0">
                                        <li class="d-block mb-4 align-items-center text-center">
                                            <p class="mb-0 fw-medium me-2 website-analytics-text-bg blue-badge w-100 count"
                                               id="today_request">0</p>
                                            <p class="mb-0 w-100">Request</p>
                                        </li>
                                        <li class="d-block align-items-center  text-center mb-2">
                                            <p class="mb-0 fw-medium me-2 website-analytics-text-bg blue-badge w-100 count"
                                               id="today_impression">0</p>
                                            <p class="mb-0 w-100">Impression</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <ul class="list-unstyled mb-0">
                                        <li class="d-block mb-4 align-items-center text-center">
                                            <p class="mb-0 fw-medium me-2 website-analytics-text-bg blue-badge w-100 count"
                                               id="today_click">0</p>
                                            <p class="mb-0 w-100">Click</p>
                                        </li>
                                        <li class="d-block align-items-center text-center mb-2">
                                            <p class="mb-0 fw-medium me-2 website-analytics-text-bg blue-badge w-100 count"
                                               id="today_skip">0</p>
                                            <p class="mb-0 w-100">Skip Video</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-3 mb-4">
            <div class="card card-border-shadow-warning">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="text-dark mb-0 mt-2">In-Video</h5>
                            <small>Today Request/Response</small>
                        </div>
                        <div>
                            <h6 class="text-dark mt-0 mt-md-3 mb-3">Traffic</h6>
                            <div class="row">
                                <div class="col-6">
                                    <ul class="list-unstyled mb-0">
                                        <li class="d-block mb-4 align-items-center text-center">
                                            <p class="mb-0 fw-medium me-2 website-analytics-text-bg blue-badge w-100 count"
                                               id="today_request_in_video">0</p>
                                            <p class="mb-0 w-100">Request</p>
                                        </li>
                                        <li class="d-block align-items-center text-center mb-2">
                                            <p class="mb-0 fw-medium me-2 website-analytics-text-bg blue-badge w-100 count"
                                               id="today_impression_in_video">0</p>
                                            <p class="mb-0 w-100">Impression</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <ul class="list-unstyled mb-0">
                                        <li class="d-block mb-4 align-items-center text-center">
                                            <p class="mb-0 fw-medium me-2 website-analytics-text-bg blue-badge w-100 count"
                                               id="today_click_in_video">0</p>
                                            <p class="mb-0 w-100">Click</p>
                                        </li>
                                        <li class="d-block align-items-center text-center mb-2">
                                            <p class="mb-0 fw-medium me-2 website-analytics-text-bg blue-badge w-100 count"
                                               id="today_skip_in_video">0</p>
                                            <p class="mb-0 w-100">Skip Video</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-3 mb-4">
            <div class="card card-border-shadow-danger">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="text-dark mb-0 mt-2">Splash</h5>
                            <small>Today Request/Response</small>
                        </div>
                        <div>
                            <h6 class="text-dark mt-0 mt-md-3 mb-3">Traffic</h6>
                            <div class="row">
                                <div class="col-6">
                                    <ul class="list-unstyled mb-0">
                                        <li class="d-block mb-4 align-items-center text-center">
                                            <p class="mb-0 fw-medium me-2 website-analytics-text-bg blue-badge w-100 count"
                                               id="today_request_popup">0</p>
                                            <p class="mb-0 w-100">Request</p>
                                        </li>
                                        <li class="d-block align-items-center mb-2 text-center">
                                            <p class="mb-0 fw-medium me-2 website-analytics-text-bg blue-badge w-100 count"
                                               id="today_impression_popup">0</p>
                                            <p class="mb-0 w-100">Impression</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <ul class="list-unstyled mb-0">
                                        <li class="d-block mb-4 align-items-center text-center">
                                            <p class="mb-0 fw-medium me-2 website-analytics-text-bg blue-badge w-100 count"
                                               id="today_click_popup">0</p>
                                            <p class="mb-0 w-100">Click</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-3 mb-4">
            <div class="card card-border-shadow-danger">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="text-dark mb-0 mt-2">In-Video-Popup</h5>
                            <small>Today Request/Response</small>
                        </div>
                        <div>
                            <h6 class="text-dark mt-0 mt-md-3 mb-3">Traffic</h6>
                            <div class="row">
                                <div class="col-6">
                                    <ul class="list-unstyled mb-0">
                                        <li class="d-block mb-4 align-items-center text-center">
                                            <p class="mb-0 fw-medium me-2 website-analytics-text-bg blue-badge w-100 count"
                                               id="today_request_in_video_popup">0</p>
                                            <p class="mb-0 w-100">Request</p>
                                        </li>
                                        <li class="d-block align-items-center mb-2 text-center">
                                            <p class="mb-0 fw-medium me-2 website-analytics-text-bg blue-badge w-100 count"
                                               id="today_impression_in_video_popup">0</p>
                                            <p class="mb-0 w-100">Impression</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <ul class="list-unstyled mb-0">
                                        <li class="d-block mb-4 align-items-center text-center">
                                            <p class="mb-0 fw-medium me-2 website-analytics-text-bg blue-badge w-100 count"
                                               id="today_click_in_video_popup">0</p>
                                            <p class="mb-0 w-100">Click</p>
                                        </li>
                                        <li class="d-block align-items-center text-center">
                                            <p class="mb-0 fw-medium me-2 website-analytics-text-bg blue-badge w-100 count"
                                               id="today_close_in_video_popup">0</p>
                                            <p class="mb-0 w-100">Close</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Projects table -->
    <div class="card">
        <div class="card-datatable table-responsive">
            <table id="datatables-campaign" class="datatables-campaigns table border-top">
                <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Request</th>
                    <th>Impression</th>
                    <th class="w-px-200">Click</th>
                    <th>Close</th>
                    <th>Skip</th>
                </tr>
                </thead>
                <tbody id="datatables-campaign-body">

                </tbody>
            </table>
        </div>
    </div>
    <!--/ Projects table -->
{% endblock %}
{% block js %}
    <script src="{% static 'vuexy/' %}assets/vendor/libs/moment/moment.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/flatpickr/flatpickr.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.js"></script>
    <script>
        update_dashboard()
        setInterval(function () {
            update_dashboard()
        }, 5000)

        function update_dashboard() {
            let dateRange = document.getElementById('date_range').value
            let url = '/api/v1/dashboard_data'
            let dates = dateRange.split('-')
            if (dates[1]) {
                url = `/api/v1/dashboard_data?start_date=${dates[0]}&end_date=${dates[1]}`
            }
            console.log(dateRange)
            let dashboard_data = AsyncAPICall(url)
            dashboard_data.then(function (response) {
                document.getElementById('datatables-campaign-body').innerHTML = ''
                document.getElementById('today_request').innerText = response.today_request;
                document.getElementById('today_impression').innerText = response.today_impression;
                document.getElementById('today_click').innerText = response.today_click;
                document.getElementById('today_skip').innerText = response.today_skip;

                document.getElementById('today_request_in_video').innerText = response.today_request_in_video;
                document.getElementById('today_impression_in_video').innerText = response.today_impression_in_video;
                document.getElementById('today_click_in_video').innerText = response.today_click_in_video;
                document.getElementById('today_skip_in_video').innerText = response.today_skip;

                document.getElementById('today_request_popup').innerText = response.today_request_popup;
                document.getElementById('today_impression_popup').innerText = response.today_impression_popup;
                document.getElementById('today_click_popup').innerText = response.today_click_popup;

                document.getElementById('today_request_in_video_popup').innerText = response.today_request_in_video_popup;
                document.getElementById('today_impression_in_video_popup').innerText = response.today_impression_in_video_popup;
                document.getElementById('today_click_in_video_popup').innerText = response.today_click_in_video_popup;
                document.getElementById('today_close_in_video_popup').innerText = response.today_close_in_video_popup;

                response.campaign_summery.forEach(function (item) {
                    console.log(item)
                    var template = document.getElementById('campaign_template').innerHTML
                    template = template.replace('CAMPAIGN_NAME', item.name)
                    template = template.replace('CAMPAIGN_REQUEST', item.request_response.request)
                    template = template.replace('CAMPAIGN_RESPONSE', item.request_response.impression)
                    template = template.replace('CAMPAIGN_CLICK', item.request_response.click)
                    template = template.replace('CAMPAIGN_CLOSE', item.request_response.close)
                    template = template.replace('CAMPAIGN_SKIP', item.request_response.skip)
                    template = htmlToElement(template)
                    console.log(template)
                    document.getElementById('datatables-campaign-body').append(template)
                })


            })
        }

        var bsRangePickerRange = $('#date_range');
        if (bsRangePickerRange.length) {
            bsRangePickerRange.daterangepicker({
                ranges: {
                    Today: [moment(), moment()],
                    Yesterday: [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                opens: isRtl ? 'left' : 'right'
            });
        }

    </script>
    <script type="text/html" id="campaign_template">
        <tr>
            <td></td>
            <td>CAMPAIGN_NAME</td>
            <td class="count">CAMPAIGN_REQUEST</td>
            <td class="count">CAMPAIGN_RESPONSE</td>
            <td class="count">CAMPAIGN_CLICK</td>
            <td class="count">CAMPAIGN_CLOSE</td>
            <td class="count">CAMPAIGN_SKIP</td>
        </tr>
    </script>
    <script>
        $(document).ready(function () {

            var counters = $(".count");
            var countersQuantity = counters.length;
            var counter = [];

            for (i = 0; i < countersQuantity; i++) {
                counter[i] = parseInt(counters[i].innerHTML);
            }


            var count = function (start, value, id) {
                var localStart = start;
                setInterval(function () {
                    if (localStart < value) {
                        localStart++;
                        counters[id].innerHTML = localStart;
                    }
                }, 40);
            }

            for (j = 0; j < countersQuantity; j++) {
                count(0, counter[j], j);
            }
        });
    </script>
{% endblock %}