{% extends 'vuexy/Layout.html' %}
{% block css %}{% endblock %}
{% block content %}
    <div class="card">
        {#        <div class="card-header border-bottom">#}
        {#            <h5 class="card-title mb-3">Search Filter</h5>#}
        {#            <div class="d-flex justify-content-between align-items-center row pb-2 gap-3 gap-md-0">#}
        {#                <div class="col-md-6 user_role"></div>#}
        {#                <div class="col-md-4 user_plan"></div>#}
        {#                <div class="col-md-6 user_status"></div>#}
        {#            </div>#}
        {#        </div>#}
        <div class="card-datatable table-responsive">
            <table id="channels" class="datatables-users table">
                <thead class="border-top">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Details</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        let channels = $('#channels')
        if (channels) {
            var table = channels.DataTable({
                ajax: '/api/v1/ad_networks/?format=datatables', // JSON file to add data
                processing: true,
                serverSide: true,
                columns: [
                    // columns according to JSON
                    {
                        className: 'control',
                        searchable: false,
                        orderable: false,
                        responsivePriority: 2,
                        targets: 0,
                        data: '',
                        mRender: function (data, type, row) {
                            console.log(data)
                            return '';
                        }
                    },
                    {data: 'name'},
                    {data: 'description'}
                ],
                dom:
                '<"row me-2"' +
                '<"col-md-2"<"me-3"l>>' +
                '<"col-md-10"<"dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-center justify-content-end flex-md-row flex-column mb-3 mb-md-0"fB>>' +
                '>t' +
                '<"row mx-2"' +
                '<"col-sm-12 col-md-6"i>' +
                '<"col-sm-12 col-md-6"p>' +
                '>',
            language: {
                sLengthMenu: '_MENU_',
                search: '',
                searchPlaceholder: 'Search..'
            },
                buttons: [],
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.modal({
                            header: function (row) {
                                var data = row.data();
                                return 'Details of ' + data['name'];
                            }
                        }),
                        type: 'column',
                        renderer: function (api, rowIdx, columns) {
                            var data = $.map(columns, function (col, i) {
                                return col.title !== '' // ? Do not show row in modal popup if title is blank (for check box)
                                    ? '<tr data-dt-row="' +
                                    col.rowIndex +
                                    '" data-dt-column="' +
                                    col.columnIndex +
                                    '">' +
                                    '<td>' +
                                    col.title +
                                    ':' +
                                    '</td> ' +
                                    '<td>' +
                                    col.data +
                                    '</td>' +
                                    '</tr>'
                                    : '';
                            }).join('');

                            return data ? $('<table class="table"/><tbody />').append(data) : false;
                        }
                    }
                },
            });
        }
    </script>
{% endblock %}