{% load crispy_forms_tags %}
<div class="text-center mb-4">
    <h3 class="role-title mb-2">Creative Create Form</h3>

   </div>
<form method="post" id="campaign_creative_form" enctype="multipart/form-data" >
    <input type="hidden" name="campaign" value="{{ campaign }}">
    <input type="hidden" name="image_file">
    <input type="hidden" name="file_file">
    {% crispy form %}
</form>