{% extends 'vuexy/Layout.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/select2/select2.css"/>
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/@form-validation/umd/styles/index.min.css"/>
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">#}
{#<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>#}
{% endblock %}
{% block content %}

    <!-- Users List Table -->
    <div class="card">
{#        <div class="card-header border-bottom">#}
{#            <h5 class="card-title mb-3">Search Filter</h5>#}
{#            <div class="d-flex justify-content-between align-items-center row pb-2 gap-3 gap-md-0">#}
{#                <div class="col-md-6 user_role"></div>#}
                {#                <div class="col-md-4 user_plan"></div>#}
{#                <div class="col-md-6 user_status"></div>#}
{#            </div>#}
{#        </div>#}

        <div class="card-datatable table-responsive">
            <table class="datatables-users table">
                <thead class="border-top">
                <tr>
                    <th></th>
                    <th>UAG</th>
                    <th>Details</th>
                    <th>Actions</th>
                </tr>
                </thead>
            </table>
        </div>
        <!-- Offcanvas to add new user -->
        <div class="offcanvas offcanvas-end"
             tabindex="-1"
             id="offcanvasAddUser2"
             aria-labelledby="offcanvasAddUserLabel">
            <div class="offcanvas-header">
                <h5 id="offcanvasAddUserLabel" class="offcanvas-title">Add Hnadset OS</h5>
                <button
                        type="button"
                        class="btn-close text-reset"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body mx-0 flex-grow-0 pt-0 h-100" id="user_creation_form_container">
                <form class="add-new-user pt-0" id="addNewUserForm" onsubmit="return false">

                </form>
            </div>
        </div>
        <div class="offcanvas offcanvas-end"
             tabindex="-1"
             id="offcanvasAddUser"
             aria-labelledby="offcanvasAddUserLabel">
            <div class="offcanvas-header">
                <h5 id="offcanvasAddUserLabel" class="offcanvas-title">Add Handset OS</h5>
                <button
                        type="button"
                        class="btn-close text-reset"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body mx-0 flex-grow-0 pt-0 h-100">
                <form class="add-new-user pt-0" id="addNewUserForm" onsubmit="return false">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label" for="add-user-fullname">Name</label>
                        <input
                                type="text"
                                class="form-control"
                                id="add-user-fullname"
                                placeholder="John Doe"
                                name="name"
                                aria-label="John Doe"/>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="user-role">Type</label>
                        <select id="user-role" class="form-select" name="type">
                            {% for type in company_type %}
                                <option value="{{ type.id }}">{{ type.name }}</option>
                            {% endfor %}

                        </select>
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="user-plan">Select Plan</label>
                        <select id="user-plan" name="status" class="form-select">
                            <option value="1" selected="">Active</option>
                            <option value="0">Inactive</option>
                        </select>
                    </div>
                    <button type="submit" id="submit_data" class="btn btn-primary me-sm-3 me-1 data-submit">Submit
                    </button>
                    <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="offcanvas">Cancel</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'vuexy/' %}assets/vendor/libs/select2/select2.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/@form-validation/umd/bundle/popular.min.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/@form-validation/umd/plugin-bootstrap5/index.min.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/@form-validation/umd/plugin-auto-focus/index.min.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/cleavejs/cleave.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/cleavejs/cleave-phone.js"></script>
    <script src="{% static 'vuexy/' %}assets/js/settings-useragent-list.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
            integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>



    </script>
{% endblock %}