{% load campaign_tags %}
<div class="text-center mb-4">
    <h3 class="role-title mb-2">Tag Details</h3>
    {#    <p class="text-muted">Set group campaign data</p>#}
</div>

<div class="row">

    <aside class="col-sm-12">
        <article class="card-body">
            <div>
                <h3>Tag's Details</h3>
            </div>
            <div>
                <h6>Name: {{ object.name }}</h6>
                <h6>Campaign Name: {{ object.campaign.name }}</h6>
{#                <h6>Site's URL: </h6>#}
                <h6>Tag Status:
                    {% if object.status %}
                        <i class="fas fa-check-circle" style="color: forestgreen;"></i>
                    {% else %}
                        <i class="fas fa-times-circle" style="color: red;"></i>
                    {% endif %}
                </h6>
{#                <a class="btn btn-warning btn-sm" href="/edit-tag/11">Edit</a>#}
            </div>
        </article>
        <hr/>
        <article class="card-body">
            <div>
                <h4>Tag's Scripts</h4>
                <h5>Copy the tag and implement in your Ad Tag</h5>
            </div>
            <div>
                <h6 id="script_tag" class="mb-5">
                    <xmp>
                    <ins class="advisor"
                        data-cm-id="{{ object.campaign.id }}"
                        data-tg-id="{{ object.id }}"
                        data-bn-id="{{ object.banner }}"
                        data-click-tracker-url="https://bgd1.purplepatch.online/rtb/clicks"
                        data-click-tag-class="data-click-tracker"
                        >
                        <span class='advisor-visible'></span>
                        <script src="https://advisorapi.purplepatch.online/av.js?v=2.1" TYPE="text/javascript"></script>
                    </ins>
                    </xmp>
                </h6>
                <button type="button" onclick="copy2Click()" class="btn btn-primary btn-sm"
                        style="position: absolute; bottom: 0; margin-bottom: 20px;">Copy to Clipboard
                </button>
            </div>
        </article>
    </aside>
</div>