{% load campaign_tags %}
<div class="text-center mb-4">
    <h3 class="role-title mb-2">Tag Report</h3>
        <p class="text-muted">{{ object.name}}({{ object.campaign.name }})</p>
</div>
<div id="syncReport" data-url="{% url 'tag_report' object.id %}"></div>
<div class="row">

    <aside class="col-sm-12">
        <article class="card-body">
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Impressions</th>
                    <th>Visible</th>
                    <th>Click</th>
                    <th>CPM</th>
                    <th>Spend</th>
                </tr>
                </thead>
                <tbody>
                {% for report in reports %}
                    <tr>
                    <td>{{ report.date }}</td>
                    <td>{{ report.imp }}</td>
                    <td>{{ report.viewable }}</td>
                    <td>{{ report.click }}</td>
                    <td>{{ report.cpm }}</td>
                    <td>{{ report.spend }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </article>

    </aside>
</div>