{% load static %}
<!DOCTYPE html>

<html
        lang="en"
        class="light-style customizer-hide"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="{% static 'vuexy/' %}assets/"
        data-template="vertical-menu-template-no-customizer">
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

    <title>MUHC</title>

    <meta name="description" content=""/>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static '' %}img/favicon/gov.png"/>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&ampdisplay=swap"
            rel="stylesheet"/>

    <!-- Icons -->
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/fonts/fontawesome.css"/>
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/fonts/tabler-icons.css"/>
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/fonts/flag-icons.css"/>

    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/css/rtl/core.css"/>
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/css/rtl/theme-default.css"/>
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/css/demo.css"/>

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/node-waves/node-waves.css"/>
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"/>
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/typeahead-js/typeahead.css"/>
    <!-- Vendor -->
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/@form-validation/umd/styles/index.min.css"/>

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/css/pages/page-auth.css"/>

    <!-- Helpers -->
    <script src="{% static 'vuexy/' %}assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% static 'vuexy/' %}assets/js/config.js"></script>
    <style>
        .app-brand-logo.demo {
            width: 100%;
            height: auto;
        }
    </style>
</head>

<body>
<!-- Content -->

<div class="authentication-wrapper authentication-cover authentication-bg">
    <div class="authentication-inner row">
        <!-- /Left Text -->
        <div class="d-none d-lg-flex col-lg-7 p-0">
            <div class="auth-cover-bg auth-cover-bg-color d-flex justify-content-center align-items-center">
                <img src="{% static 'img/favicon/gov.png' %}" alt="" style="height: 3.5vw; width: auto;" class="center">
                <span class="app-brand-text demo menu-text fw-bold" style="color:black;">Mongla Upazilla Health Complex, Bagerhat</span>
            </div>
        </div>
        <!-- /Left Text -->

        <!-- Login -->
        <div class="d-flex col-12 col-lg-5 align-items-center p-sm-5 p-4">
            <div class="w-px-400 mx-auto">
                <!-- Logo -->
                <div class="app-brand mb-4">
                    <a href="index.html" class="app-brand-link gap-2">
                <span class="app-brand-logo demo">
{#                    <img src="{% static 'img/advisor_white_linear_resized.png' %}" alt="">#}
{#                    <img src="{% static 'img/logo.png' %}" alt="">#}
{#                  <svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">#}
{#                    <path#}
{#                            fill-rule="evenodd"#}
{#                            clip-rule="evenodd"#}
{#                            d="M0.00172773 0V6.85398C0.00172773 6.85398 -0.133178 9.01207 1.98092 10.8388L13.6912 21.9964L19.7809 21.9181L18.8042 9.88248L16.4951 7.17289L9.23799 0H0.00172773Z"#}
{#                            fill="#7367F0"/>#}
{#                    <path#}
{#                            opacity="0.06"#}
{#                            fill-rule="evenodd"#}
{#                            clip-rule="evenodd"#}
{#                            d="M7.69824 16.4364L12.5199 3.23696L16.5541 7.25596L7.69824 16.4364Z"#}
{#                            fill="#161616"/>#}
{#                    <path#}
{#                            opacity="0.06"#}
{#                            fill-rule="evenodd"#}
{#                            clip-rule="evenodd"#}
{#                            d="M8.07751 15.9175L13.9419 4.63989L16.5849 7.28475L8.07751 15.9175Z"#}
{#                            fill="#161616"/>#}
{#                    <path#}
{#                            fill-rule="evenodd"#}
{#                            clip-rule="evenodd"#}
{#                            d="M7.77295 16.3566L23.6563 0H32V6.88383C32 6.88383 31.8262 9.17836 30.6591 10.4057L19.7824 22H13.6938L7.77295 16.3566Z"#}
{#                            fill="#7367F0"/>#}
{#                  </svg>#}
                </span>
                    </a>
                </div>
                <!-- /Logo -->

                {% if form.non_field_errors %}
                    <ul class='form-errors'>
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <form id="formAuthentication" class="mb-3" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="email" class="form-label">Email or Username</label>
                        <input
                                type="text"
                                class="form-control"
                                id="email"
                                name="username"
                                placeholder="Enter your email or username"
                                autofocus/>
                    </div>
                    <div class="mb-3 form-password-toggle">
                        <div class="d-flex justify-content-between">
                            <label class="form-label" for="password">Password</label>
                            {#                            <a href="auth-forgot-password-cover.html">#}
                            {#                                <small>Forgot Password?</small>#}
                            {#                            </a>#}
                        </div>
                        <div class="input-group input-group-merge">
                            <input
                                    type="password"
                                    id="password"
                                    class="form-control"
                                    name="password"
                                    placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                    aria-describedby="password"/>
                            <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="remember-me"/>
                            <label class="form-check-label" for="remember-me"> Remember Me </label>
                        </div>
                    </div>
                    <button class="btn btn-primary d-grid w-100">Sign in</button>
                </form>

                {#                <p class="text-center">#}
                {#                    <span>New on our platform?</span>#}
                {#                    <a href="auth-register-cover.html">#}
                {#                        <span>Create an account</span>#}
                {#                    </a>#}
                {#                </p>#}

                {#                <div class="divider my-4">#}
                {#                    <div class="divider-text">or</div>#}
                {#                </div>#}
                {##}
                {#                <div class="d-flex justify-content-center">#}
                {#                    <a href="javascript:;" class="btn btn-icon btn-label-facebook me-3">#}
                {#                        <i class="tf-icons fa-brands fa-facebook-f fs-5"></i>#}
                {#                    </a>#}
                {##}
                {#                    <a href="javascript:;" class="btn btn-icon btn-label-google-plus me-3">#}
                {#                        <i class="tf-icons fa-brands fa-google fs-5"></i>#}
                {#                    </a>#}
                {##}
                {#                    <a href="javascript:;" class="btn btn-icon btn-label-twitter">#}
                {#                        <i class="tf-icons fa-brands fa-twitter fs-5"></i>#}
                {#                    </a>#}
                {#                </div>#}
            </div>
        </div>
        <!-- /Login -->
    </div>
</div>

<!-- / Content -->

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->

<script src="{% static 'vuexy/' %}assets/vendor/libs/jquery/jquery.js"></script>
<script src="{% static 'vuexy/' %}assets/vendor/libs/popper/popper.js"></script>
<script src="{% static 'vuexy/' %}assets/vendor/js/bootstrap.js"></script>
<script src="{% static 'vuexy/' %}assets/vendor/libs/node-waves/node-waves.js"></script>
<script src="{% static 'vuexy/' %}assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="{% static 'vuexy/' %}assets/vendor/libs/hammer/hammer.js"></script>
<script src="{% static 'vuexy/' %}assets/vendor/libs/i18n/i18n.js"></script>
<script src="{% static 'vuexy/' %}assets/vendor/libs/typeahead-js/typeahead.js"></script>
<script src="{% static 'vuexy/' %}assets/vendor/js/menu.js"></script>

<!-- endbuild -->

<!-- Vendors JS -->
<script src="{% static 'vuexy/' %}assets/vendor/libs/@form-validation/umd/bundle/popular.min.js"></script>
<script src="{% static 'vuexy/' %}assets/vendor/libs/@form-validation/umd/plugin-bootstrap5/index.min.js"></script>
<script src="{% static 'vuexy/' %}assets/vendor/libs/@form-validation/umd/plugin-auto-focus/index.min.js"></script>

<!-- Main JS -->
<script src="{% static 'vuexy/' %}assets/js/main.js"></script>

<!-- Page JS -->
<script src="{% static 'vuexy/' %}assets/js/pages-auth.js"></script>
</body>
</html>
