<div class="text-center mb-4">
    <h3 class="role-title mb-2">Campaign Group Detail</h3>
    {#    <p class="text-muted">Set group campaign data</p>#}
</div>
<table class="table">
    <tbody>
    <tr data-dt-row="0" data-dt-column="1">
        <td>Name:</td>
        <td>{{ object.name }}</td>
    </tr>
    <tr data-dt-row="0" data-dt-column="2">
        <td>Hint:</td>
        <td>{{ object.hint }}</td>
    </tr>
    <tr data-dt-row="0" data-dt-column="3">
        <td>Width:</td>
        <td>{{ object.width }}</td>
    </tr>
    <tr data-dt-row="0" data-dt-column="4">
        <td>Height:</td>
        <td>{{ object.height }}</td>
    </tr>
    <tr data-dt-row="0" data-dt-column="5">
        <td>Status:</td>
        <td>{{ object.status }}</td>
    </tr>


    </tbody>
</table>
    <div class="d-flex align-items-center justify-content-between mt-2">
        <a href="javascript:;" data-url="/campaign/dimension/{{ object.id }}/edit"
                                              class="btn btn-sm btn-success text-body user-edit" data-id="2"><i
            class="ti ti-edit ti-sm me-2"></i></a>
        <a href="javascript:;" class="btn btn-sm btn-warning text-body delete-record"
                                                     data-id="{{ object.id }}"><i class="ti ti-trash ti-sm mx-2"></i></a>
    </div>

