{% load crispy_forms_tags %}
<div class="text-center mb-4">
    <h3 class="role-title mb-2">Campaign Targeting Edit Form</h3>
{#    <p class="text-muted">Set campaign data</p>#}
</div>
<form method="post" id="campaign_targeting_form" data-id="{{ object.pk }}">
    <input type="hidden" name="campaign" value="{{ object.campaign.id }}">
    {% crispy form %}
</form>
