{% extends 'vuexy/Layout.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/select2/select2.css"/>
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/@form-validation/umd/styles/index.min.css"/>
{% endblock %}
{% block content %}
    <!-- Users List Table -->
    <div class="card">
        {% if perms.auth.add_user %}
            <div id="add_perms"></div>
        {% endif %}
        {% if perms.auth.change_user %}
            <div id="change_perms"></div>
        {% endif %}
        {% if perms.auth.delete_user %}
            <div id="delete_perms"></div>
        {% endif %}

        {#        <div class="card-header border-bottom">#}
        {#            <h5 class="card-title mb-3">Search Filter</h5>#}
        {#            <div class="d-flex justify-content-between align-items-center row pb-2 gap-3 gap-md-0">#}
        {#                <div class="col-md-6 user_role"></div>#}
        {#                <div class="col-md-4 user_plan"></div>#}
        {#                <div class="col-md-6 user_status"></div>#}
        {#            </div>#}
        {#        </div>#}
        <div class="card-datatable table-responsive">
            <table class="datatables-users table">
                <thead class="border-top">
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Banner Name</th>
                    <th>Banner Width</th>
                    <th>Banner Height</th>
                    <th>Campaigns</th>
                    <th>Approval Status</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
            </table>
        </div>
        <!-- Offcanvas to add new user -->

    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'vuexy/' %}assets/vendor/libs/select2/select2.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/@form-validation/umd/bundle/popular.min.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/@form-validation/umd/plugin-bootstrap5/index.min.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/@form-validation/umd/plugin-auto-focus/index.min.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/cleavejs/cleave.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/cleavejs/cleave-phone.js"></script>
    {#    <script src="{% static 'vuexy/' %}assets/js/app-user-list-m.js"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
            integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var dt_user_table = $('.datatables-users')
        if (dt_user_table.length) {
            var dt_user = dt_user_table.DataTable({
                ajax: '/api/v1/advertiser_banner/?format=datatables', // JSON file to add data
                processing: true,
                serverSide: true,
                columns: [
                    // columns according to JSON
                    {
                        className: 'control',
                        searchable: false,
                        orderable: false,
                        responsivePriority: 2,
                        targets: 0,
                        data: '',
                        mRender: function (data, type, row) {
                            console.log(data)
                            return '';
                        }
                    },
                    {data: 'banner_id'},
                    {data: 'banner_name'},
                    {data: 'banner_width'},
                    {data: 'banner_height'},
                    {
                        data: 'campaign',
                        searchable: false,
                        mRender: function (data, type, row) {
                            let response = ''
                            data.forEach(function (item){
                                response+=`<div>${item}</div>`
                            })

                            return (
                                response
                            );
                        }
                    },
                    {
                        data: 'banner_approval_flag',
                        mRender: function (data, type, row) {
                            let statusObject = {
                                0: {title: 'Pending', class: 'bg-label-warning'},
                                1: {title: 'Active', class: 'bg-label-success'},
                                2: {title: 'Inactive', class: 'bg-label-secondary'},
                                true: {title: 'Active', class: 'bg-label-success'},
                                false: {title: 'Inactive', class: 'bg-label-secondary'},
                            };
                            var $status = data;
                            let tstatus = 0;
                            if (data == true) {
                                tstatus = 0;
                            } else {
                                tstatus = 1;
                            }

                            return (
                                `<span class="badge ${statusObject[$status].class} text-capitalized status_change">${statusObject[$status].title}</span>`
                            );
                        }
                    },
                    {
                        data: 'banner_status',
                        mRender: function (data, type, row) {
                            let statusObject = {
                                0: {title: 'Pushed', class: 'bg-label-warning'},
                                1: {title: 'Live', class: 'bg-label-success'},
                                2: {title: 'Inactive', class: 'bg-label-secondary'},
                                true: {title: 'Active', class: 'bg-label-success'},
                                false: {title: 'Inactive', class: 'bg-label-secondary'},
                            };
                            var $status = data;
                            let tstatus = 0;
                            if (data == true) {
                                tstatus = 0;
                            } else {
                                tstatus = 1;
                            }

                            return (
                                `<span class="badge ${statusObject[$status].class} text-capitalized status_change" style="cursor: pointer;" title="Click Change Status" data-status="${tstatus}" data-id="${row.banner_id}">${statusObject[$status].title}</span>`
                            );
                        }
                    },

                    {#{data: 'campaign_click_url'},#}
                    {
                        data: null,
                        mRender: function (data, type, row) {
                            let userView = '';
                            console.log(data);
                            let url = `/purple_patch/advertiserbanners/${data.banner_id}/edit`;
                            console.log(url);
                            return (
                                '<div class="d-flex align-items-center">' +
                                '<a href="javascript:;"  data-url="' + url + '" data-id="' + data.banner_id + '" class="text-body user-edit"><i class="ti ti-edit ti-sm me-2"></i></a>'
                            );
                        }
                    }

                ],

                order: [[1, 'desc']],
                dom:
                    '<"row me-2"' +
                    '<"col-md-2"<"me-3"l>>' +
                    '<"col-md-10"<"dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-center justify-content-end flex-md-row flex-column mb-3 mb-md-0"fB>>' +
                    '>t' +
                    '<"row mx-2"' +
                    '<"col-sm-12 col-md-6"i>' +
                    '<"col-sm-12 col-md-6"p>' +
                    '>',
                language: {
                    sLengthMenu: '_MENU_',
                    search: '',
                    searchPlaceholder: 'Search..'
                },
                // Buttons with Dropdown
                buttons: [],
                // For responsive popup
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.modal({
                            header: function (row) {
                                var data = row.data();
                                return 'Details of ' + data['full_name'];
                            }
                        }),
                        type: 'column',
                        renderer: function (api, rowIdx, columns) {
                            var data = $.map(columns, function (col, i) {
                                return col.title !== '' // ? Do not show row in modal popup if title is blank (for check box)
                                    ? '<tr data-dt-row="' +
                                    col.rowIndex +
                                    '" data-dt-column="' +
                                    col.columnIndex +
                                    '">' +
                                    '<td>' +
                                    col.title +
                                    ':' +
                                    '</td> ' +
                                    '<td>' +
                                    col.data +
                                    '</td>' +
                                    '</tr>'
                                    : '';
                            }).join('');

                            return data ? $('<table class="table"/><tbody />').append(data) : false;
                        }
                    }
                },
                initComplete: function () {
                    // Adding role filter once table initialized
                    this.api()
                        .columns(3)
                        .every(function () {
                            var column = this;
                            var select = $(
                                '<select id="UserRole" class="form-select text-capitalize"><option value=""> Select Role </option></select>'
                            )
                                .appendTo('.user_role')
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex($(this).val());
                                    column.search(val ? '^' + val + '$' : '', true, false).draw();
                                });

                            // column
                            //     .data()
                            //     .unique()
                            //     .sort()
                            //     .each(function (d, j) {
                            //         select.append('<option value="' + d + '">' + d + '</option>');
                            //     });
                        });
                    // Adding plan filter once table initialized
                    // this.api()
                    //     .columns(3)
                    //     .every(function () {
                    //         var column = this;
                    //         var select = $(
                    //             '<select id="UserPlan" class="form-select text-capitalize"><option value=""> Select Plan </option></select>'
                    //         )
                    //             .appendTo('.user_plan')
                    //             .on('change', function () {
                    //                 var val = $.fn.dataTable.util.escapeRegex($(this).val());
                    //                 column.search(val ? '^' + val + '$' : '', true, false).draw();
                    //             });
                    //
                    //         // column
                    //         //     .data()
                    //         //     .unique()
                    //         //     .sort()
                    //         //     .each(function (d, j) {
                    //         //         select.append('<option value="' + d + '">' + d + '</option>');
                    //         //     });
                    //     });
                    // Adding status filter once table initialized
                    this.api()
                        .columns(5)
                        .every(function () {
                            var column = this;
                            var select = $(
                                '<select id="FilterTransaction" class="form-select text-capitalize"><option value=""> Select Status </option></select>'
                            )
                                .appendTo('.user_status')
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex($(this).val());
                                    column.search(val ? '^' + val + '$' : '', true, false).draw();
                                });

                            // column
                            //     .data()
                            //     .unique()
                            //     .sort()
                            //     .each(function (d, j) {
                            //         // select.append(
                            //         //     '<option value="' +
                            //         //     statusObj[d].title +
                            //         //     '" class="text-capitalize">' +
                            //         //     statusObj[d].title +
                            //         //     '</option>'
                            //         // );
                            //     });
                        });
                }
            });
        }

        $('html').on('click', '.status_change', function () {
            axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
            axios.defaults.xsrfCookieName = "csrftoken";
            const config = {
                headers: {
                    'content-type': 'multipart/form-data'
                }
            }
            let status = $(this).attr('data-status');
            let id = $(this).attr('data-id');
            axios.put(`/api/v1/advertiser_banner/${id}/`, {banner_status: status})
                .then(function (response) {
                    console.log(response);
                    dt_user.ajax.reload();
                })
                .catch(function (error) {
                    console.log(error);
                });
        })

        $('html').on('click', '.user-edit', function () {
            let url = $(this).attr('data-url');
            let id = $(this).attr('data-id');
            console.log(url)
            $('#ajaxModal').modal('show');
            $('#ajaxModal').find('#modal-content').load(url, function () {
                $('#ajaxModal').find('form').attr('data-id', id)
                $('#id_campaign_start_date').datepicker({
                    todayHighlight: true,
                    autoclose: true,
                    format: 'yyyy-m-d'
                })
                $('#id_campaign_end_date').datepicker({
                    todayHighlight: true,
                    autoclose: true,
                    format: 'yyyy-m-d'
                })

            })
        });
        $('html').on('submit', '#advertiser_banner_form', function (e) {
            e.preventDefault()
            axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
            axios.defaults.xsrfCookieName = "csrftoken";
            const config = {
                headers: {
                    'content-type': 'multipart/form-data'
                }
            }
            let form_data = objectifyForm($(this).serializeArray());
            console.log(form_data);
            let id = $(this).attr('data-id');
            axios.put(`/api/v1/advertiser_banner/${id}/`, form_data)
                .then(function (response) {
                    console.log(response);
                    dt_user.ajax.reload();
                    $('#ajaxModal').find('[aria-label="Close"]').click()
                })
                .catch(function (error) {
                    console.log(error);
                });
        });
    </script>
{% endblock %}