{% load i18n %}
<div class="table-responsive">
    <table id="tabular_permissions" class="table" cellspacing="0" width="100%"
           data-input-name="{{ input_name }}">
        <thead>
        <tr>
            {#        <th> Application</th>#}
            <th>Module</th>
            {% if django_supports_view_permissions %}
                <th>
                    View
                    {#                    <div style="float: left; margin-right: 5px">#}
                    {#                        <input type="checkbox" class="checkbox select-all view"#}
                    {#                               id="perm_view_select_all">#}
                    {#                                        All#}
                    {#                    </div>#}
                </th>
            {% endif %}
            <th>
                Add
                {#                <div style="float: left; margin-right: 5px">#}
                {#                    <input type="checkbox" class="checkbox select-all add"#}
                {#                           id="perm_add_select_all">#}
                {#                                    {% trans 'All' %}#}
                {#                </div>#}
            </th>
            <th>
                Change
                {#                <div style="float: left; margin-right: 5px">#}
                {#                    <input type="checkbox" class="checkbox select-all change"#}
                {#                           id="perm_change_select_all">#}
                {#                                    All#}
                {#                </div>#}
            </th>
            <th>
                Delete
                {#                <div style="float: left; margin-right: 5px">#}
                {#                    <input type="checkbox" class="checkbox select-all delete"#}
                {#                           id="perm_delete_select_all">#}
                {#                                    All#}
                {#                </div>#}
            </th>
            {#        {% if custom_permissions_available %}#}
            {#            <th>#}
            {#            Other Permissions#}
            {#            </th>#}
            {#        {% endif %}#}
        </tr>
        </thead>
        <tbody>
        {% for app in apps_available.values %}
            {% for model in app.models.values %}
                <tr class="{% cycle 'row1' 'row2' %}">

                    {#                    {% if forloop.counter0 == 0 %}#}
                    {#                        <td rowspan="{{ app.models|length }}" class="app-name"#}
                    {#                            data-app-name="{{ app.label }}">{{ app.verbose_name|capfirst }}#}
                    {#                        </td>#}
                    {#                    {% endif %}#}
                    <td>
                        {% if model.verbose_name.lower == 'group' %}
                            Team
                        {% else %}
                            {{ model.verbose_name|title }}
                        {% endif %}

                        <div class="input" style="float: left; margin-right: 5px">
                            {#                        <label>#}
                            <input type="checkbox" class="checkbox select-all select-row"
                                   data-model-name="{{ model.model_name }}">
                            {#                        All#}
                            {#                        </label>#}
                        </div>
                    </td>
                    {% if django_supports_view_permissions %}
                        <td class="view">
                            {% if model.view_perm_id %}
                                <div class="input">
                                    <label>
                                        <input type="checkbox" class="checkbox view model-{{ model.model_name }}"
                                               id="id_{{ model.view_perm_name }}"
                                               data-perm-id="{{ model.view_perm_id }}"
                                                {% if model.view_perm_id in user_permissions %}
                                               checked="checked"
                                                {% endif %}>
                                    </label>
                                </div>
                            {% endif %}
                        </td>
                    {% endif %}
                    <td class="add">
                        {% if model.add_perm_id %}
                            <div class="input">
                                <label>
                                    <input type="checkbox" class="checkbox add model-{{ model.model_name }}"
                                           id="id_{{ model.add_perm_name }}" data-perm-id="{{ model.add_perm_id }}"
                                            {% if model.add_perm_id in user_permissions %}
                                           checked="checked"
                                            {% endif %}>
                                </label>
                            </div>
                        {% endif %}
                    </td>
                    <td class="change">
                        {% if model.change_perm_id %}
                            <div class="checkbox ">
                                <label>
                                    <input type="checkbox" class="checkbox change model-{{ model.model_name }}"
                                           id="id_{{ model.change_perm_name }}"
                                           data-perm-id="{{ model.change_perm_id }}"
                                            {% if model.change_perm_id in user_permissions %}
                                           checked="checked"
                                            {% endif %}>
                                </label>
                            </div>
                        {% endif %}
                    </td>
                    <td class="delete">
                        {% if model.delete_perm_id %}
                            <div class="checkbox ">
                                <label>
                                    <input type="checkbox" class="checkbox delete model-{{ model.model_name }}"
                                           id="id_{{ model.delete_perm_name }}"
                                           data-perm-id="{{ model.delete_perm_id }}"
                                            {% if model.delete_perm_id in user_permissions %}
                                           checked="checked"
                                            {% endif %}>
                                </label>
                            </div>
                        {% endif %}
                    </td>

                </tr>
                {% if custom_permissions_available and model.custom_permissions %}
                    <tr class="custom_permission">
                        <td>
                            {% for custom_permission in model.custom_permissions %}
                                <div class="input ">
                                    <label>
                                        <input type="checkbox" class="checkbox custom model-{{ model.model_name }}"
                                               id="id_{{ custom_permission.0 }}"
                                               data-perm-id="{{ custom_permission.2 }}"
                                                {% if custom_permission.2 in user_permissions %}
                                               checked="checked"
                                                {% endif %}>
                                        {{ custom_permission.1 }}
                                    </label>
                                </div>
                            {% endfor %}

                        </td>

                    </tr>
                {% endif %}
            {% endfor %}
            {% if app.models %}
                <tr>
                    <td colspan="{{ colspan }}" class="user-permissions-app-separator">
                        <hr>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>

<style>
    input.checkbox {
        -webkit-appearance: none;
        background-color: #fff;
        border: 1px solid #666;
        padding: 8px;
        border-radius: 3px;
        display: inline-block;
        position: relative;
        outline: none;
        cursor: pointer;
    }

    input.checkbox:checked {
        background-color: #009fe2;
        border: 1px solid #009fe2;
        color: #99a1a7;
    }
    input.checkbox:checked:before {
      content: '\2714';
        position: absolute;
        color: #fff;
        top: -2px;
        right: 2px;
    }
</style>