{% extends 'vuexy/Layout.html' %}
{% load static %}
{% block content %}
    <div class="card bg-gradient-primary text-white mb-2">
        <div class="card-title">
            <div class="card-header"><h4 class="text-white">(#{{ object.campaign_id }}) {{ object.campaign_name }}</h4></div>
        </div>
        <div class="card-datatable table-responsive">
            <div class="row w-100">
                <div class="col-xl-2 col-md-4 col-6 mb-4">
                    <div class="card">
                        <div class="card-header pb-0">
                            <h5 class="card-title mb-0">Total Budget</h5>
                        </div>

                        <div class="card-body pt-0">
                            <div class="d-flex justify-content-between align-items-center mt-3 gap-3">
                                <h4 class="mb-0">{{ object.campaign_budget_total }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4 col-6 mb-4">
                    <div class="card">
                        <div class="card-header pb-0">
                            <h5 class="card-title mb-0">CPM</h5>
                        </div>

                        <div class="card-body pt-0">
                            <div class="d-flex justify-content-between align-items-center mt-3 gap-3">
                                <h4 class="mb-0">{{ object.campaign_optimization_target }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4 col-6 mb-4">
                    <div class="card">
                        <div class="card-header pb-0">
                            <h5 class="card-title mb-0">Target Impression</h5>
                        </div>

                        <div class="card-body pt-0">
                            <div class="d-flex justify-content-between align-items-center mt-3 gap-3">
                                <h4 class="mb-0">{{ target_impression }}</h4>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-title">
            <div class="card-header"><h4>Summery Report</h4></div>
        </div>
        <div class="card-datatable table-responsive">
            <table class="datatables-users table">
                <thead class="border-top">
                <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Impressions</th>
                    <th>Clicks</th>
                    <th>CTR</th>
                    <th>Visible</th>
                    <th>Viewability</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

    <div class="card">
        <div class="card-title">
            <div class="card-header"><h4>Publisher Performance Report</h4></div>
        </div>
        <div class="card-datatable table-responsive">
            <table class="datatables-publisher table">
                <thead class="border-top">
                <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Impressions</th>
                    <th>Clicks</th>
                    <th>CTR</th>
                    <th>Visible</th>
                    <th>Viewability</th>
                    <th>CPM</th>
                    <th>Earning</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script src="{% static 'vuexy/' %}assets/vendor/libs/select2/select2.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/@form-validation/umd/bundle/popular.min.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/@form-validation/umd/plugin-bootstrap5/index.min.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/@form-validation/umd/plugin-auto-focus/index.min.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/cleavejs/cleave.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/cleavejs/cleave-phone.js"></script>
    {#    <script src="{% static 'vuexy/' %}assets/js/app-user-list-m.js"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
            integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var dt_user_table = $('.datatables-users')
        if (dt_user_table.length) {
            var dt_user = dt_user_table.DataTable({
                ajax: '/purple_patch/api/v1/campaign_summery_api?format=datatables&cm_id={{object.campaign_id}}', // JSON file to add data
                processing: true,
                serverSide: false,
                pageLength: 50,
                columns: [
                    // columns according to JSON
                    {
                        className: 'control',
                        searchable: false,
                        orderable: false,
                        responsivePriority: 2,
                        targets: 0,
                        data: '',
                        mRender: function (data, type, row) {
                            console.log(data)
                            return '';
                        }
                    },
                    {
                        data: 'ymd',
                        mRender: function (data, type, row) {
                            return data.replace('T00:00:00', '')
                        }
                    },
                    {data: 'wins__sum'},
                    {data: 'clicks__sum'},
                    {
                        data: null,
                        searchable: false,
                        mRender: function (data, type, row) {
                            let response = 0

                            if (row.clicks__sum && row.wins__sum) {
                                response = (row.clicks__sum / row.wins__sum * 100).toFixed(2);
                            }


                            return (
                                response
                            );
                        }
                    },
                    {data: 'visible__sum'},
                    {
                        data: null,
                        searchable: false,
                        mRender: function (data, type, row) {
                            let response = 0

                            if (row.visible__sum && row.wins__sum) {
                                response = (row.visible__sum / row.wins__sum * 100).toFixed(2);
                            }


                            return (
                                response
                            );
                        }
                    }
                ],
                dom:
                    '<"row me-2"' +
                    '<"col-md-2"<"me-3"l>>' +
                    '<"col-md-10"<"dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-center justify-content-end flex-md-row flex-column mb-3 mb-md-0"fB>>' +
                    '>t' +
                    '<"row mx-2"' +
                    '<"col-sm-12 col-md-6"i>' +
                    '<"col-sm-12 col-md-6"p>' +
                    '>',
                language: {
                    sLengthMenu: '_MENU_',
                    search: '',
                    searchPlaceholder: 'Search..'
                },
                buttons: [
                    {
                        extend: 'excel',
                        text: '<i class="ti ti-file-spreadsheet me-2" ></i> Excel',
                        className: 'm-2',

                    }
                ],
            })
        }

        var dt_pub_table = $('.datatables-publisher')
        if (dt_pub_table.length) {
            var dt_pub = dt_pub_table.DataTable({
                ajax: '/purple_patch/api/v1/campaign_publisher_summery_api?format=datatables&cm_id={{object.campaign_id}}', // JSON file to add data
                processing: true,
                serverSide: false,
                pageLength: 500,
                order: [[2, 'desc']],
                columns: [
                    // columns according to JSON
                    {
                        className: 'control',
                        searchable: false,
                        orderable: false,
                        responsivePriority: 2,
                        targets: 0,
                        data: '',
                        mRender: function (data, type, row) {
                            console.log(data)
                            return '';
                        }
                    },
                    {data: 'domain'},
                    {data: 'wins__sum'},
                    {data: 'clicks__sum'},
                    {
                        data: null,
                        searchable: false,
                        mRender: function (data, type, row) {
                            let response = 0

                            if (row.clicks__sum && row.wins__sum) {
                                response = (row.clicks__sum / row.wins__sum * 100).toFixed(2);
                            }


                            return (
                                response
                            );
                        }
                    },
                    {data: 'visible__sum'},
                    {
                        data: null,
                        searchable: false,
                        mRender: function (data, type, row) {
                            let response = 0

                            if (row.visible__sum && row.wins__sum) {
                                response = (row.visible__sum / row.wins__sum * 100).toFixed(2);
                            }


                            return (
                                response
                            );
                        }
                    },
                    {data: 'cpm'},
                    {data: 'earning'}
                ],
                dom:
                    '<"row me-2"' +
                    '<"col-md-2"<"me-3"l>>' +
                    '<"col-md-10"<"dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-center justify-content-end flex-md-row flex-column mb-3 mb-md-0"fB>>' +
                    '>t' +
                    '<"row mx-2"' +
                    '<"col-sm-12 col-md-6"i>' +
                    '<"col-sm-12 col-md-6"p>' +
                    '>',
                language: {
                    sLengthMenu: '_MENU_',
                    search: '',
                    searchPlaceholder: 'Search..'
                },
                buttons: [
                    {
                        extend: 'excel',
                        text: '<i class="ti ti-file-spreadsheet me-2" ></i> Excel',
                        className: 'm-2',

                    }
                ],
            })
        }


    </script>
{% endblock %}