<div class="text-center mb-4">
    <h3 class="mb-2">Edit User Information</h3>
    <p class="text-muted">Updating user details will receive a privacy audit.</p>
</div>

<form id="editUserForm" class="row g-3 fv-plugins-bootstrap5 fv-plugins-framework" data-id="{{ user.id }}" onsubmit="return false"
      novalidate="novalidate" data-select2-id="editUserForm">
    <div class="col-12 col-md-6 fv-plugins-icon-container">
        <label class="form-label" for="modalEditUserFirstName">Full Name</label>
        <input type="text" id="modalEditUserFirstName" name="first_name" value="{{ user.first_name }}"
               class="form-control"
               placeholder="John">
        <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
    </div>
    <div class="col-12 col-md-6">
        <label class="form-label" for="modalEditUserEmail">Email</label>
        <input type="text" id="modalEditUserEmail" name="email" value="{{ object.email }}" class="form-control"
               placeholder="example@domain.com">
    </div>
    <div class="col-12 col-md-6">
        <label class="form-label" for="modalEditUserStatus">Status</label>
        <select
                id="modalEditUserStatus"
                name="is_active"
                class="select2 form-select"
                aria-label="Default select example">
{#            <option selected>Status</option>#}
            <option value="1" {% if user.is_active == True %}selected{% endif %}>Active</option>
            <option value="0" {% if user.is_active == False %}selected{% endif %}>Inactive</option>
            {#            <option value="3">Suspended</option>#}
        </select>
    </div>
    <div class="col-12 col-md-6">
        <label class="form-label" for="user-role">Role</label>
        <select
                id="user-role"
                class="select2 form-select"
                aria-label="Default select example"
                name="group">
            {% for group in groups %}
                <option value="{{ group.id }}" {% if usrg and usrg.id == group.id %}
                        selected {% endif %} >{{ group.name }}</option>
            {% endfor %}

        </select>
    </div>
    <div class="col-12 col-md-6">
        <label class="form-label" for="modalEditUserPhone">Mobile Number</label>
        <div class="input-group">
            {#            <span class="input-group-text">US (+1)</span>#}
            <input type="text" id="modalEditUserPhone" name="mobile" class="form-control" placeholder="01xxxxxxxxx" value="{{ object.profile.mobile }}">
        </div>
    </div>
    <div class="col-12 col-md-6">
        <label class="form-label" for="modalEditUserCompany">Company Name</label>
        <div class="input-group">
            <select
                    id="modalEditUserCompany"
                    class="select2 form-select"
                    aria-label="Default select example"
                    name="company">
                {% for item in company %}
                    <option value="{{ item.id }}" {% if item == object.profile.company %}selected{% endif %}>{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-12 col-md-12">
        <label class="form-label" for="modalEditUserLocation">Location</label>
        <input type="text" id="modalEditUserLocation" name="location" class="form-control" value="{{ object.profile.location }}"
               placeholder="Dhaka North City Corporation">
    </div>

    <div class="col-12 text-center">
        <button type="submit" class="btn btn-primary me-sm-3 me-1 waves-effect waves-light">Submit</button>
        <button type="reset" class="btn btn-label-secondary waves-effect" data-bs-dismiss="modal" aria-label="Close">
            Cancel
        </button>
    </div>
    <input type="hidden">
</form>