{#{% extends 'vuexy/Layout.html' %}#}
{#{% block content %}#}
{#<form action="" method="post">#}
{#    <div class="card-body">#}
{#        {% csrf_token %}#}
{#        {{ form }}#}
{#    </div>#}
{#    <div class="card-footer text-left">#}
{#        <a href="{% url 'roles' %}" class="w-10 btn btn-danger">Cancel</a>#}
{#        <button class="w-10 btn btn-primary">Submit</button>#}
{#    </div>#}
{#</form>#}
{#{% endblock %}#}
<div class="text-center mb-4">
    <h3 class="mb-2">User Create Form</h3>
{#    <p class="text-muted">Enter user details will receive a privacy audit.</p>#}
</div>

<form id="createUserForm" class="row g-3 fv-plugins-bootstrap5 fv-plugins-framework" onsubmit="return false"
      novalidate="novalidate" data-select2-id="editUserForm">
    <div class="col-12 col-md-6 fv-plugins-icon-container">
        <label class="form-label" for="modalEditUserFirstName">Full Name</label>
        <input type="text" id="modalEditUserFirstName" name="first_name"
               class="form-control"
               placeholder="John">
        <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
    </div>
    <div class="col-12 col-md-6">
        <label class="form-label" for="modalEditUserEmail">Email</label>
        <input type="text" id="modalEditUserEmail" name="email" class="form-control"
               placeholder="example@domain.com">
    </div>
    <div class="col-12 col-md-6">
        <label class="form-label" for="modalEditUserStatus">Status</label>
        <select
                id="modalEditUserStatus"
                name="is_active"
                class="select2 form-select"
                aria-label="Default select example">
{#            <option selected>Status</option>#}
            <option value="1">Active</option>
            <option value="0">Inactive</option>
            {#            <option value="3">Suspended</option>#}
        </select>
    </div>
    <div class="col-12 col-md-6">
        <label class="form-label" for="user-role">Role</label>
        <select
                id="user-role"
                class="select2 form-select"
                aria-label="Default select example"
                name="group">
            {% for group in groups %}
                <option value="{{ group.id }}">{{ group.name }}</option>
            {% endfor %}

        </select>
    </div>
    <div class="col-12 col-md-6">
        <label class="form-label" for="add-user-password1">Password</label>
        <input
                type="password"
                id="add-user-password1"
                class="form-control"
                name="password1"/>
    </div>
    <div class="col-12 col-md-6">
        <label class="form-label" for="add-user-password2">Confirm Password</label>
        <input
                type="password"
                id="add-user-password2"
                class="form-control"
                name="password2"/>
    </div>
    <div class="col-12 col-md-6">
        <label class="form-label" for="modalEditUserPhone">Mobile Number</label>
        <div class="input-group">
            {#            <span class="input-group-text">US (+1)</span>#}
            <input type="text" id="modalEditUserPhone" name="mobile" class="form-control" placeholder="01xxxxxxxxx">
        </div>
    </div>
    <div class="col-12 col-md-6">
        <label class="form-label" for="modalEditUserCompany">Company Name</label>
        <div class="input-group">
            <select
                    id="modalEditUserCompany"
                    class="select2 form-select"
                    aria-label="Default select example"
                    name="company">
                {% for item in company %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <label class="form-label" for="modalZilla">Zilla Name</label>
        <div class="input-group">
            <select
                    id="modalZilla"
                    class="select2 form-select"
                    aria-label="Default select example"
                    name="zilla">
                {% for item in zilla %}
                    <option value="{{ item.id }}">{{ item.zilla }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <label class="form-label" for="modalupazila">upazila Name</label>
        <div class="input-group">
            <select
                    id="modalupazila"
                    class="select2 form-select"
                    aria-label="Default select example"
                    name="upazila">
                {% for item in upazila %}
                    <option value="{{ item.id }}">{{ item.upazila }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <label class="form-label" for="modalunion">union Name</label>
        <div class="input-group">
            <select
                    id="modalunion"
                    class="select2 form-select"
                    aria-label="Default select example"
                    name="union">
                {% for item in union %}
                    <option value="{{ item.id }}">{{ item.union }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <label class="form-label" for="modalward">ward Name</label>
        <div class="input-group">
            <select
                    id="modalward"
                    class="select2 form-select"
                    aria-label="Default select example"
                    name="ward">
                {% for item in ward %}
                    <option value="{{ item.id }}">{{ item.ward }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-12 col-md-12">
        <label class="form-label" for="modalEditUserLocation">Location</label>
        <input type="text" id="modalEditUserLocation" name="location" class="form-control"
               placeholder="Dhaka North City Corporation">
    </div>

    <div class="col-12 text-center">
        <button type="submit" class="btn btn-primary me-sm-3 me-1 waves-effect waves-light">Submit</button>
        <button type="reset" class="btn btn-label-secondary waves-effect" data-bs-dismiss="modal" aria-label="Close">
            Cancel
        </button>
    </div>
    <input type="hidden">
</form>