{% extends 'vuexy/Layout.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/select2/select2.css"/>
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/@form-validation/umd/styles/index.min.css"/>
{% endblock %}
{% block content %}
    <div class="row g-4 mb-4">
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="content-left">
                            <span>Session</span>
                            <div class="d-flex align-items-center my-2">
                                <h3 class="mb-0 me-2">{{ logged_in_today }}</h3>
{#                                <p class="text-success mb-0">(+29%)</p>#}
                            </div>
{#                            <p class="mb-0">Total Users</p>#}
                        </div>
                        <span class="badge bg-label-primary rounded p-2">
                          <i class="ti ti-user ti-sm"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="content-left">
                            <span>Staff Users</span>
                            <div class="d-flex align-items-center my-2">
                                <h3 class="mb-0 me-2">{{ staff_user }}</h3>
{#                                <p class="text-success mb-0">(+18%)</p>#}
                            </div>
{#                            <p class="mb-0">Last week analytics</p>#}
                        </div>
                        <span class="badge bg-label-danger rounded p-2">
                          <i class="ti ti-user-plus ti-sm"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="content-left">
                            <span>Active Users</span>
                            <div class="d-flex align-items-center my-2">
                                <h3 class="mb-0 me-2">{{ active_user }}</h3>
{#                                <p class="text-danger mb-0">(-14%)</p>#}
                            </div>
{#                            <p class="mb-0">Last week analytics</p>#}
                        </div>
                        <span class="badge bg-label-success rounded p-2">
                          <i class="ti ti-user-check ti-sm"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="content-left">
                            <span>Pending Users</span>
                            <div class="d-flex align-items-center my-2">
                                <h3 class="mb-0 me-2">{{ pending_user }}</h3>
{#                                <p class="text-success mb-0">(+42%)</p>#}
                            </div>
{#                            <p class="mb-0">Last week analytics</p>#}
                        </div>
                        <span class="badge bg-label-warning rounded p-2">
                          <i class="ti ti-user-exclamation ti-sm"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Users List Table -->
    <div class="card">
        {% if perms.auth.add_user %}
            <div id="add_perms"></div>
        {% endif %}
        {% if perms.auth.change_user %}
            <div id="change_perms"></div>
        {% endif %}
        {% if perms.auth.delete_user %}
            <div id="delete_perms"></div>
        {% endif %}

        <div class="card-header border-bottom">
            <h5 class="card-title mb-3">Search Filter</h5>
            <div class="d-flex justify-content-between align-items-center row pb-2 gap-3 gap-md-0">
                <div class="col-md-6 user_role"></div>
{#                <div class="col-md-4 user_plan"></div>#}
                <div class="col-md-6 user_status"></div>
            </div>
        </div>
        <div class="card-datatable table-responsive">
            <table class="datatables-users table">
                <thead class="border-top">
                <tr>
                    <th></th>
                    <th>User</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Company</th>
                    <th>Last Login</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
            </table>
        </div>
        <!-- Offcanvas to add new user -->

    </div>
{% endblock %}
{% block js %}
    <script>
    var can_delete_user = "{{ perms.auth.delete_user }}";
    </script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/select2/select2.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/@form-validation/umd/bundle/popular.min.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/@form-validation/umd/plugin-bootstrap5/index.min.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/@form-validation/umd/plugin-auto-focus/index.min.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/cleavejs/cleave.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/cleavejs/cleave-phone.js"></script>
    <script src="{% static 'vuexy/' %}assets/js/app-user-list-m.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
            integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>

        if (sadm == 'False' && can_delete_user == 'False') {
            $('html').find('.delete-record').remove();
        }


    </script>
{% endblock %}