{% extends 'vuexy/Layout.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/select2/select2.css"/>
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/@form-validation/umd/styles/index.min.css"/>
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/flatpickr/flatpickr.css"/>
    <link rel="stylesheet"
          href="{% static 'vuexy/assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.css' %}"/>
    <style>

    </style>
{% endblock %}
{% block content %}
    <!-- Users List Table -->
    <div class="card">
        <div class="card-title">
            <div class="card-header"><h4>Publisher Wise Costing Report(<span class="start_date"></span> - <span class="end_date"></span>)</h4></div>
        </div>
        <div class="card-datatable table-responsive">
            <table class="datatables-users table">
                <thead class="border-top">
                <tr>
                    <th></th>
                    <th>Publisher</th>
                    <th>Impressions</th>
                    <th>Clicks</th>
                    <th>Visible</th>
                    <th>Viewability</th>
                    <th>CPM</th>
                    <th>Earning</th>
                </tr>
                </thead>
            </table>
        </div>

        <!-- Offcanvas to add new user -->

    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'vuexy/' %}assets/vendor/libs/select2/select2.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/@form-validation/umd/bundle/popular.min.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/@form-validation/umd/plugin-bootstrap5/index.min.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/@form-validation/umd/plugin-auto-focus/index.min.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/cleavejs/cleave.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/cleavejs/cleave-phone.js"></script>
    {#    <script src="{% static 'vuexy/' %}assets/js/app-user-list-m.js"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
            integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/moment/moment.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/flatpickr/flatpickr.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.js"></script>
    <script>
        var dt_user_table = $('.datatables-users')
        if (dt_user_table.length) {
            var dt_ajax_url = '/purple_patch/api/v1/publisher_wise_cost_report?format=datatables'
            var dt_user = dt_user_table.DataTable({
                ajax: dt_ajax_url, // JSON file to add data
                processing: true,
                serverSide: false,
                pageLength: 50,
                columns: [
                    // columns according to JSON
                    {
                        className: 'control',
                        searchable: false,
                        orderable: false,
                        responsivePriority: 2,
                        targets: 0,
                        data: '',
                        mRender: function (data, type, row) {
                            console.log(data)
                            return '';
                        }
                    },
                    {data: 'domain'},
                    {data: 'wins__sum'},
                    {data: 'clicks__sum'},
                    {data: 'visible__sum'},
                    {
                        data: null,
                        searchable: false,
                        mRender: function (data, type, row) {
                            let response = 0

                            if (row.visible__sum && row.wins__sum) {
                                response = (row.visible__sum / row.wins__sum * 100).toFixed(2)
                            }


                            return (
                                response
                            );
                        }
                    },
                    {data: 'cpm'},
                    {data: 'earning'},

                ],

                order: [[2, 'desc']],
                dom:
                    '<"row me-2"' +
                    '<"col-md-2"<"me-3"l>>' +
                    '<"col-md-10"<"dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-center justify-content-end flex-md-row flex-column mb-3 mb-md-0"fB>>' +
                    '>t' +
                    '<"row mx-2"' +
                    '<"col-sm-12 col-md-6"i>' +
                    '<"col-sm-12 col-md-6"p>' +
                    '>',
                language: {
                    sLengthMenu: '_MENU_',
                    search: '',
                    searchPlaceholder: 'Search..'
                },
                // Buttons with Dropdown
                buttons: [
                    {
                        extend: 'excel',
                        text: '<i class="ti ti-file-spreadsheet me-2" ></i> Excel',
                        className: 'm-2',

                    }
                ],
                // For responsive popup
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.modal({
                            header: function (row) {
                                var data = row.data();
                                return 'Details of ' + data['full_name'];
                            }
                        }),
                        type: 'column',
                        renderer: function (api, rowIdx, columns) {
                            var data = $.map(columns, function (col, i) {
                                return col.title !== '' // ? Do not show row in modal popup if title is blank (for check box)
                                    ? '<tr data-dt-row="' +
                                    col.rowIndex +
                                    '" data-dt-column="' +
                                    col.columnIndex +
                                    '">' +
                                    '<td>' +
                                    col.title +
                                    ':' +
                                    '</td> ' +
                                    '<td>' +
                                    col.data +
                                    '</td>' +
                                    '</tr>'
                                    : '';
                            }).join('');

                            return data ? $('<table class="table"/><tbody />').append(data) : false;
                        }
                    }
                },
                initComplete: function () {
                    let cmTemplate = $('#date_range').html()
                    $('#DataTables_Table_0_filter').prepend(cmTemplate)
                    var bsRangePickerRange = $('#date_range');
                    if (bsRangePickerRange.length) {
                        bsRangePickerRange.daterangepicker({
                            ranges: {
                                Today: [moment(), moment()],
                                Yesterday: [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                                'This Month': [moment().startOf('month'), moment().endOf('month')],
                                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                            },
                            opens: isRtl ? 'left' : 'right'
                        });
                    }
                    // Adding role filter once table initialized
                    {#CampaignFilter()#}
                    this.api()
                        .columns(3)
                        .every(function () {
                            var column = this;
                            var select = $(
                                '<select id="UserRole" class="form-select text-capitalize"><option value=""> Select Role </option></select>'
                            )
                                .appendTo('.user_role')
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex($(this).val());
                                    column.search(val ? '^' + val + '$' : '', true, false).draw();
                                });

                            // column
                            //     .data()
                            //     .unique()
                            //     .sort()
                            //     .each(function (d, j) {
                            //         select.append('<option value="' + d + '">' + d + '</option>');
                            //     });
                        });
                    // Adding plan filter once table initialized
                    // this.api()
                    //     .columns(3)
                    //     .every(function () {
                    //         var column = this;
                    //         var select = $(
                    //             '<select id="UserPlan" class="form-select text-capitalize"><option value=""> Select Plan </option></select>'
                    //         )
                    //             .appendTo('.user_plan')
                    //             .on('change', function () {
                    //                 var val = $.fn.dataTable.util.escapeRegex($(this).val());
                    //                 column.search(val ? '^' + val + '$' : '', true, false).draw();
                    //             });
                    //
                    //         // column
                    //         //     .data()
                    //         //     .unique()
                    //         //     .sort()
                    //         //     .each(function (d, j) {
                    //         //         select.append('<option value="' + d + '">' + d + '</option>');
                    //         //     });
                    //     });
                    // Adding status filter once table initialized
                    this.api()
                        .columns(5)
                        .every(function () {
                            var column = this;
                            var select = $(
                                '<select id="FilterTransaction" class="form-select text-capitalize"><option value=""> Select Status </option></select>'
                            )
                                .appendTo('.user_status')
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex($(this).val());
                                    column.search(val ? '^' + val + '$' : '', true, false).draw();
                                });

                            // column
                            //     .data()
                            //     .unique()
                            //     .sort()
                            //     .each(function (d, j) {
                            //         // select.append(
                            //         //     '<option value="' +
                            //         //     statusObj[d].title +
                            //         //     '" class="text-capitalize">' +
                            //         //     statusObj[d].title +
                            //         //     '</option>'
                            //         // );
                            //     });
                        });
                }
            });
        }

        $('html').on('change', '#date_range', function () {
            CampaignFilter()
        })

        let CampaignFilter = function () {
            let dateRange = $('#date_range').val().trim()
            let dates = dateRange.split('-')
            let from_date = mdy_to_ymd(dates[0])
            let to_date = mdy_to_ymd(dates[1])
            $('.start_date').html(from_date)
            $('.end_date').html(to_date)
            {#dt_user.column(1).search(inventory).draw();#}
            dt_user.ajax.url(`${dt_ajax_url}&start_date=${from_date}&end_date=${to_date}`).load()
        }

        let mdy_to_ymd = function (dateString){
            let [month, day, year] = dateString.trim().split('/')
            return `${year}-${month}-${day}`
        }

        setInterval(function () {
            dt_user.ajax.reload()
        }, 120000)

        $('html').on('click', '.status_change', function () {
            axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
            axios.defaults.xsrfCookieName = "csrftoken";
            const config = {
                headers: {
                    'content-type': 'multipart/form-data'
                }
            }
            let status = $(this).attr('data-status');
            let id = $(this).attr('data-id');
            axios.put(`/api/v1/advertiser_banner/${id}/`, {banner_status: status})
                .then(function (response) {
                    console.log(response);
                    dt_user.ajax.reload();
                })
                .catch(function (error) {
                    console.log(error);
                });
        })

        $('html').on('click', '.user-edit', function () {
            let url = $(this).attr('data-url');
            let id = $(this).attr('data-id');
            console.log(url)
            $('#ajaxModal').modal('show');
            $('#ajaxModal').find('#modal-content').load(url, function () {
                $('#ajaxModal').find('form').attr('data-id', id)
                $('#id_campaign_start_date').datepicker({
                    todayHighlight: true,
                    autoclose: true,
                    format: 'yyyy-m-d'
                })
                $('#id_campaign_end_date').datepicker({
                    todayHighlight: true,
                    autoclose: true,
                    format: 'yyyy-m-d'
                })

            })
        });
        $('html').on('submit', '#advertiser_banner_form', function (e) {
            e.preventDefault()
            axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
            axios.defaults.xsrfCookieName = "csrftoken";
            const config = {
                headers: {
                    'content-type': 'multipart/form-data'
                }
            }
            let form_data = objectifyForm($(this).serializeArray());
            console.log(form_data);
            let id = $(this).attr('data-id');
            axios.put(`/api/v1/advertiser_banner/${id}/`, form_data)
                .then(function (response) {
                    console.log(response);
                    dt_user.ajax.reload();
                    $('#ajaxModal').find('[aria-label="Close"]').click()
                })
                .catch(function (error) {
                    console.log(error);
                });
        });
    </script>
    <script type="text/html" id="campaign_template">
        <div id="campaign_list" class="d-inline-block form-group" style="min-width: 252px !important;">
            <select name="inventory" id="inventory" class="form-control">
                <option value="">All Domain</option>
                {% for item in inventory %}
                    <option value="{{ item.inventory_domain }}">{{ item.inventory_domain }}</option>
                {% endfor %}
            </select>
        </div>
    </script>
    <script type="text/html" id="date_range">
        <div class="daterange_container d-inline-block form-group">
            <input type="text" id="date_range" class="form-control">
        </div>
    </script>
{% endblock %}