{% extends 'vuexy/Layout.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/flatpickr/flatpickr.css"/>
    <link rel="stylesheet"
          href="{% static 'vuexy/assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.css' %}"/>
{% endblock %}
{% block topfilter %}
    <input type="text" id="date_range" class="form-control">
{% endblock %}
{% block filter %}
{#    <div class="">#}
{#        <input type="text" id="date_range" class="form-control" value="{{ daterange }}">#}
{#    </div>#}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12 col-lg-12  mb-2">
            <div class="card card-border-shadow-danger">
                <div class="card-body h-80">
                    <div class="col-md-2 col-12 mb-2">
                        <label for="date_range" class="form-label">Date Range</label>
                        <input type="text" id="date_range" class="form-control" value="{{ daterange }}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-2">
        <div class="card-title">
            <div class="card-header"><h4>Summary Report</h4></div>
        </div>
        <div class="card-datatable text-nowrap  table-responsive">
            <table class="datatables-users   table table-bordered table-hover">
                <thead class="border-top">
                <tr>

                    <th>Date</th>
                    <th>Impressions</th>
                    <th>Clicks</th>
                    <th>Viewability(%)</th>

                </tr>
                </thead>
            </table>
        </div>
    </div>



    <div class="card mb-2">
        <div class="card-title">
            <div class="card-header"><h4>Publisher Performance Report</h4></div>
        </div>
        <div class="card-datatable text-nowrap  table-responsive">
            <table class="datatables-publisher   table table-bordered table-hover">
                <thead class="border-top">
                <tr>
                    <th>Domain</th>
                    <th>Impressions</th>
                    <th>Clicks</th>
                    <th>Viewability(%)</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

    <div class="card mb-2">
        <div class="card-title">
            <div class="card-header"><h4>Device Type Performance Report</h4></div>
        </div>
        <div class="card-datatable text-nowrap  table-responsive">
            <table class="datatables-device   table table-bordered table-hover">
                <thead class="border-top">
                <tr>
                    <th>Domain</th>
                    <th>Device Type</th>
                    <th>Impressions</th>
                    <th>Clicks</th>
                    <th>Viewability(%)</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>


        <div class="card mb-2">
        <div class="card-title">
            <div class="card-header"><h4>Hourly Report</h4></div>
        </div>
        <div class="card-datatable text-nowrap  table-responsive">
            <table class="datatables-hourly   table table-bordered table-hover">
                <thead class="border-top">
                <tr>

                    <th>Date & Time</th>
                    <th>Impressions</th>
                    <th>Clicks</th>
                    <th>Viewability(%)</th>

                </tr>
                </thead>
            </table>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script src="{% static 'vuexy/' %}assets/vendor/libs/moment/moment.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/flatpickr/flatpickr.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.js"></script>

    <script src="{% static 'vuexy/' %}assets/vendor/libs/select2/select2.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/@form-validation/umd/bundle/popular.min.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/@form-validation/umd/plugin-bootstrap5/index.min.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/@form-validation/umd/plugin-auto-focus/index.min.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/cleavejs/cleave.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/cleavejs/cleave-phone.js"></script>
    <script src="{% static 'vuexy/' %}assets/js/tables-datatables-extensions.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'vuexy/' %}assets/js/app-logistics-overview.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <script>

        const lineChart = document.getElementById('lineChartDetails');
        if (lineChart) {
            var statisticsChart = new Chart(lineChart, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [
                        {
                            data: [],
                            label: 'Impression',
                            // Rest of your dataset configurations...
                        },
                        {
                            data: [],
                            label: 'Visible',
                            // Rest of your dataset configurations...
                        },
                        {
                            data: [],
                            label: 'Clicks',
                            // Rest of your dataset configurations...
                        }
                    ]
                },
                options: {
                    // Your chart options...
                }
            });
            // Make an AJAX request to fetch data from the API

        }

    </script>


    <script>

        const supportTrackerEl = document.querySelector('#supportTrackerSS');
        const supportTrackerOptions = {
            series: [], // Empty series initially, to be updated later
            labels: ['Progress '],
            chart: {
                height: 360,
                type: 'radialBar'
            },
            // Other options as per your requirement
        };

        supportTrackerOptions.series = [0]

        var supportTracker = new ApexCharts(supportTrackerEl, supportTrackerOptions);
        supportTracker.render();

        // Make an AJAX request to fetch progress_percentage from your API


    </script>

    <script>
        // Function to fetch data from the API
        const ctx = document.getElementById('myChart');
        const data = {
            labels: [],
            datasets: [{
                label: 'Impressions(%)',
                data: [], // Use percentage values directly
                backgroundColor: [
                    'rgb(102, 110, 232)',
                    'rgb(40, 208, 148)',
                    'rgb(253, 172, 52)'
                ],
                hoverOffset: 4
            }]
        };

        var device_chart = new Chart(ctx, {
            type: 'pie',
            data: data
        });

    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
            integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var dt_user_table = $('.datatables-users')
        if (dt_user_table.length) {
            var dt_user_ajax_url = '/campaign/campaign_summery_api?format=datatables&campaign_id={{object.id}}'
            var dt_user = dt_user_table.DataTable({
                ajax: '/campaign/campaign_summery_api?format=datatables&campaign_id={{object.id}}', // JSON file to add data
                processing: true,
                serverSide: false,
                pageLength: 10,
                columns: [
                    // columns according to JSON

                    {
                        data: 'date',
                        mRender: function (data, type, row) {
                            return data.replace('T00:00:00', '')
                        }
                    },
                    {data: 'imp__sum'},
                    {data: 'click__sum'},
                    {
                        data: null,
                        searchable: false,
                        mRender: function (data, type, row) {
                            let response = 0

                            if (row.viewable__sum && row.imp__sum) {
                                response = (row.viewable__sum / row.imp__sum * 100).toFixed(2);
                            }


                            return (
                                response
                            );
                        }
                    }
                ],
                columnDefs: [
                    {
                        // Label
                        targets: -2,
                        render: function (data, type, full, meta) {
                            var $status_number = full['status'];
                            var $status = {
                                1: {title: 'Current', class: 'bg-label-primary'},
                                2: {title: 'Professional', class: ' bg-label-success'},
                                3: {title: 'Rejected', class: ' bg-label-danger'},
                                4: {title: 'Resigned', class: ' bg-label-warning'},
                                5: {title: 'Applied', class: ' bg-label-info'}
                            };
                            if (typeof $status[$status_number] === 'undefined') {
                                return data;
                            }
                            return (
                                '<span class="badge ' + $status[$status_number].class + '">' + $status[$status_number].title + '</span>'
                            );
                        }
                    },
                    {
                        // Actions
                        title: 'Actions',
                        searchable: false,
                        orderable: false,
                        render: function (data, type, full, meta) {
                            return (
                                '<div class="d-inline-block">' +
                                '<a href="javascript:;" class="btn btn-sm btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="text-primary ti ti-dots-vertical"></i></a>' +
                                '<div class="dropdown-menu dropdown-menu-end m-0">' +
                                '<a href="javascript:;" class="dropdown-item">Details</a>' +
                                '<a href="javascript:;" class="dropdown-item">Archive</a>' +
                                '<div class="dropdown-divider"></div>' +
                                '<a href="javascript:;" class="dropdown-item text-danger delete-record"></i>Delete</a>' +
                                '</div>' +
                                '</div>' +
                                '<a href="javascript:;" class="item-edit text-body"><i class="text-primary ti ti-pencil"></i></a>'
                            );
                        }
                    }
                ],
                dom:
                    '<"row me-2"' +
                    '<"col-md-2"<"me-3"l>>' +
                    '<"col-md-10"<"dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-center justify-content-end flex-md-row flex-column mb-3 mb-md-0"fB>>' +
                    '>t' +
                    '<"row mx-2"' +
                    '<"col-sm-12 col-md-6"i>' +
                    '<"col-sm-12 col-md-6"p>' +
                    '>',
                language: {
                    sLengthMenu: '_MENU_',
                    search: '',
                    searchPlaceholder: 'Search..'
                },

                // Buttons with Dropdown
                buttons: [
                    {
                        extend: 'collection',
                        className: 'btn btn-label-primary dropdown-toggle me-2',
                        text: '<i class="ti ti-file-export me-sm-1"></i> <span class="d-none d-sm-inline-block">Export</span>',
                        buttons: [

                            {
                                extend: 'excel',
                                text: '<i class="ti ti-file-spreadsheet me-1"></i>EXCEL',
                                className: 'dropdown-item',
                                exportOptions: {
                                    columns: [0, 1, 2, 3]
                                }
                            },
                            {
                                extend: 'pdf',
                                text: '<i class="ti ti-file-description me-1"></i>PDF',
                                className: 'dropdown-item',
                                exportOptions: {
                                    columns: [0, 1, 2, 3]
                                }
                            }
                        ]
                    },
                ],
                {#buttons: [#}
                {#       {#}
                {#           extend: 'excel',#}
                {#           text: '<i class="ti ti-file-spreadsheet me-2" ></i> Download',#}
                {#           className: 'm-2',#}
                {##}
                {#       }#}
                {#   ],#}
                scrollY: 300,
                scrollX: true,
                scrollCollapse: true,
                {#paging: false,#}
                fixedColumns: true
            })
        }

        var dt_pub_table = $('.datatables-publisher')
        if (dt_pub_table.length) {
            var dt_pub_ajax_url = '/campaign/campaign_domain_summery_api?format=datatables&campaign_id={{object.id}}'
            var dt_pub = dt_pub_table.DataTable({
                ajax: '/campaign/campaign_domain_summery_api?format=datatables&campaign_id={{object.id}}', // JSON file to add data
                processing: true,
                serverSide: true,
                pageLength: 10,
                order: [[2, 'desc']],
                columns: [

                    {data: 'domain'},
                    {data: 'imp__sum'},
                    {data: 'click__sum'},
                    {
                        data: null,
                        searchable: false,
                        mRender: function (data, type, row) {
                            let response = 0

                            if (row.viewable__sum && row.imp__sum) {
                                response = (row.viewable__sum / row.imp__sum * 100).toFixed(2);
                            }


                            return (
                                response
                            );
                        }
                    },
                ],
                columnDefs: [
                    {
                        // Label
                        targets: -2,
                        render: function (data, type, full, meta) {
                            var $status_number = full['status'];
                            var $status = {
                                1: {title: 'Current', class: 'bg-label-primary'},
                                2: {title: 'Professional', class: ' bg-label-success'},
                                3: {title: 'Rejected', class: ' bg-label-danger'},
                                4: {title: 'Resigned', class: ' bg-label-warning'},
                                5: {title: 'Applied', class: ' bg-label-info'}
                            };
                            if (typeof $status[$status_number] === 'undefined') {
                                return data;
                            }
                            return (
                                '<span class="badge ' + $status[$status_number].class + '">' + $status[$status_number].title + '</span>'
                            );
                        }
                    },
                    {
                        // Actions
                        title: 'Actions',
                        searchable: false,
                        orderable: false,
                        render: function (data, type, full, meta) {
                            return (
                                '<div class="d-inline-block">' +
                                '<a href="javascript:;" class="btn btn-sm btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="text-primary ti ti-dots-vertical"></i></a>' +
                                '<div class="dropdown-menu dropdown-menu-end m-0">' +
                                '<a href="javascript:;" class="dropdown-item">Details</a>' +
                                '<a href="javascript:;" class="dropdown-item">Archive</a>' +
                                '<div class="dropdown-divider"></div>' +
                                '<a href="javascript:;" class="dropdown-item text-danger delete-record"></i>Delete</a>' +
                                '</div>' +
                                '</div>' +
                                '<a href="javascript:;" class="item-edit text-body"><i class="text-primary ti ti-pencil"></i></a>'
                            );
                        }
                    }
                ],
                dom:
                    '<"row me-2"' +
                    '<"col-md-2"<"me-3"l>>' +
                    '<"col-md-10"<"dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-center justify-content-end flex-md-row flex-column mb-3 mb-md-0"fB>>' +
                    '>t' +
                    '<"row mx-2"' +
                    '<"col-sm-12 col-md-6"i>' +
                    '<"col-sm-12 col-md-6"p>' +
                    '>',
                language: {
                    sLengthMenu: '_MENU_',
                    search: '',
                    searchPlaceholder: 'Search..'
                },
                {#buttons: [#}
                {#    {#}
                {#        extend: 'excel',#}
                {#        text: '<i class="ti ti-file-spreadsheet me-2" ></i> Download',#}
                {#        className: 'm-2',#}
                {##}
                {#    }#}
                {#],#}
                buttons: [
                    {
                        extend: 'collection',
                        className: 'btn btn-label-primary dropdown-toggle me-2',
                        text: '<i class="ti ti-file-export me-sm-1"></i> <span class="d-none d-sm-inline-block">Export</span>',
                        buttons: [

                            {
                                extend: 'excel',
                                text: '<i class="ti ti-file-spreadsheet me-1"></i>EXCEL',
                                className: 'dropdown-item',
                                exportOptions: {
                                    columns: [0, 1, 2, 3, 4, 5]
                                }
                            },
                            {
                                extend: 'pdf',
                                text: '<i class="ti ti-file-description me-1"></i>PDF',
                                className: 'dropdown-item',
                                exportOptions: {
                                    columns: [0, 1, 2, 3, 4, 5]
                                }
                            }
                        ]
                    },
                ],
                scrollY: 300,
                scrollX: true,
                scrollCollapse: true,
                {#paging: false,#}
                fixedColumns: true
            })
        }

        var dt_pub_table = $('.datatables-device')
        if (dt_pub_table.length) {
            var dt_domain_ajax_url = '/campaign/campaign_device_summery_api?format=datatables&campaign_id={{object.id}}'
            var dt_domain = dt_pub_table.DataTable({
                ajax: '/campaign/campaign_device_summery_api?format=datatables&campaign_id={{object.id}}', // JSON file to add data
                processing: true,
                serverSide: false,
                pageLength: 10,
                order: [[2, 'desc']],
                columns: [
                    // columns according to JSON
                    {data: 'domain'},
                    {data: 'device_type'},
                    {data: 'imp__sum'},
                    {data: 'click__sum'},
                    {
                        data: null,
                        searchable: false,
                        mRender: function (data, type, row) {
                            let response = 0

                            if (row.viewable__sum && row.imp__sum) {
                                response = (row.viewable__sum / row.imp__sum * 100).toFixed(2);
                            }


                            return (
                                response
                            );
                        }
                    },
                ],
                columnDefs: [
                    {
                        // Label
                        targets: -2,
                        render: function (data, type, full, meta) {
                            var $status_number = full['status'];
                            var $status = {
                                1: {title: 'Current', class: 'bg-label-primary'},
                                2: {title: 'Professional', class: ' bg-label-success'},
                                3: {title: 'Rejected', class: ' bg-label-danger'},
                                4: {title: 'Resigned', class: ' bg-label-warning'},
                                5: {title: 'Applied', class: ' bg-label-info'}
                            };
                            if (typeof $status[$status_number] === 'undefined') {
                                return data;
                            }
                            return (
                                '<span class="badge ' + $status[$status_number].class + '">' + $status[$status_number].title + '</span>'
                            );
                        }
                    },
                    {
                        // Actions
                        title: 'Actions',
                        searchable: false,
                        orderable: false,
                        render: function (data, type, full, meta) {
                            return (
                                '<div class="d-inline-block">' +
                                '<a href="javascript:;" class="btn btn-sm btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="text-primary ti ti-dots-vertical"></i></a>' +
                                '<div class="dropdown-menu dropdown-menu-end m-0">' +
                                '<a href="javascript:;" class="dropdown-item">Details</a>' +
                                '<a href="javascript:;" class="dropdown-item">Archive</a>' +
                                '<div class="dropdown-divider"></div>' +
                                '<a href="javascript:;" class="dropdown-item text-danger delete-record"></i>Delete</a>' +
                                '</div>' +
                                '</div>' +
                                '<a href="javascript:;" class="item-edit text-body"><i class="text-primary ti ti-pencil"></i></a>'
                            );
                        }
                    }
                ],
                dom:
                    '<"row me-2"' +
                    '<"col-md-2"<"me-3"l>>' +
                    '<"col-md-10"<"dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-center justify-content-end flex-md-row flex-column mb-3 mb-md-0"fB>>' +
                    '>t' +
                    '<"row mx-2"' +
                    '<"col-sm-12 col-md-6"i>' +
                    '<"col-sm-12 col-md-6"p>' +
                    '>',
                language: {
                    sLengthMenu: '_MENU_',
                    search: '',
                    searchPlaceholder: 'Search..'
                },
                buttons: [
                    {
                        extend: 'collection',
                        className: 'btn btn-label-primary dropdown-toggle me-2',
                        text: '<i class="ti ti-file-export me-sm-1"></i> <span class="d-none d-sm-inline-block">Export</span>',
                        buttons: [

                            {
                                extend: 'excel',
                                text: '<i class="ti ti-file-spreadsheet me-1"></i>EXCEL',
                                className: 'dropdown-item',
                                exportOptions: {
                                    columns: [0, 1, 2, 3, 4, 5, 6]
                                }
                            },
                            {
                                extend: 'pdf',
                                text: '<i class="ti ti-file-description me-1"></i>PDF',
                                className: 'dropdown-item',
                                exportOptions: {
                                    columns: [0, 1, 2, 3, 4, 5, 6]
                                }
                            }
                        ]
                    },
                ],
                scrollY: 300,
                scrollX: true,
                scrollCollapse: true,
                {#paging: false,#}
                fixedColumns: true
            })
        }


    </script>

    <script>
        var dt_hourly_table = $('.datatables-hourly')
        if (dt_hourly_table.length) {
            var dt_hourly_ajax_url = '/campaign/campaign_hourly_summary_api?format=datatables&campaign_id={{object.id}}'
            var dt_hourly = dt_hourly_table.DataTable({
                ajax: '/campaign/campaign_hourly_summary_api?format=datatables&campaign_id={{object.id}}', // JSON file to add data
                processing: true,
                serverSide: false,
                pageLength: 10,
                columns: [
                    // columns according to JSON

                    {
                        data: 'time_stamp',
                        mRender: function (data, type, row) {
                            return data.split('T').join(' ');
                        }
                    },
                    {data: 'imp__sum'},
                    {data: 'click__sum'},
                    {
                        data: null,
                        searchable: false,
                        mRender: function (data, type, row) {
                            let response = 0

                            if (row.viewable__sum && row.imp__sum) {
                                response = (row.viewable__sum / row.imp__sum * 100).toFixed(2);
                            }


                            return (
                                response
                            );
                        }
                    }
                ],
                columnDefs: [
                    {
                        // Label
                        targets: -2,
                        render: function (data, type, full, meta) {
                            var $status_number = full['status'];
                            var $status = {
                                1: {title: 'Current', class: 'bg-label-primary'},
                                2: {title: 'Professional', class: ' bg-label-success'},
                                3: {title: 'Rejected', class: ' bg-label-danger'},
                                4: {title: 'Resigned', class: ' bg-label-warning'},
                                5: {title: 'Applied', class: ' bg-label-info'}
                            };
                            if (typeof $status[$status_number] === 'undefined') {
                                return data;
                            }
                            return (
                                '<span class="badge ' + $status[$status_number].class + '">' + $status[$status_number].title + '</span>'
                            );
                        }
                    },
                    {
                        // Actions
                        title: 'Actions',
                        searchable: false,
                        orderable: false,
                        render: function (data, type, full, meta) {
                            return (
                                '<div class="d-inline-block">' +
                                '<a href="javascript:;" class="btn btn-sm btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="text-primary ti ti-dots-vertical"></i></a>' +
                                '<div class="dropdown-menu dropdown-menu-end m-0">' +
                                '<a href="javascript:;" class="dropdown-item">Details</a>' +
                                '<a href="javascript:;" class="dropdown-item">Archive</a>' +
                                '<div class="dropdown-divider"></div>' +
                                '<a href="javascript:;" class="dropdown-item text-danger delete-record"></i>Delete</a>' +
                                '</div>' +
                                '</div>' +
                                '<a href="javascript:;" class="item-edit text-body"><i class="text-primary ti ti-pencil"></i></a>'
                            );
                        }
                    }
                ],
                dom:
                    '<"row me-2"' +
                    '<"col-md-2"<"me-3"l>>' +
                    '<"col-md-10"<"dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-center justify-content-end flex-md-row flex-column mb-3 mb-md-0"fB>>' +
                    '>t' +
                    '<"row mx-2"' +
                    '<"col-sm-12 col-md-6"i>' +
                    '<"col-sm-12 col-md-6"p>' +
                    '>',
                language: {
                    sLengthMenu: '_MENU_',
                    search: '',
                    searchPlaceholder: 'Search..'
                },

                // Buttons with Dropdown
                buttons: [
                    {
                        extend: 'collection',
                        className: 'btn btn-label-primary dropdown-toggle me-2',
                        text: '<i class="ti ti-file-export me-sm-1"></i> <span class="d-none d-sm-inline-block">Export</span>',
                        buttons: [

                            {
                                extend: 'excel',
                                text: '<i class="ti ti-file-spreadsheet me-1"></i>EXCEL',
                                className: 'dropdown-item',
                                exportOptions: {
                                    columns: [0, 1, 2, 3]
                                }
                            },
                            {
                                extend: 'pdf',
                                text: '<i class="ti ti-file-description me-1"></i>PDF',
                                className: 'dropdown-item',
                                exportOptions: {
                                    columns: [0, 1, 2, 3]
                                }
                            }
                        ]
                    },
                ],
                {#buttons: [#}
                {#       {#}
                {#           extend: 'excel',#}
                {#           text: '<i class="ti ti-file-spreadsheet me-2" ></i> Download',#}
                {#           className: 'm-2',#}
                {##}
                {#       }#}
                {#   ],#}
                scrollY: 300,
                scrollX: true,
                scrollCollapse: true,
                {#paging: false,#}
                fixedColumns: true
            })
        }

    </script>
    <script>
        update_data()
        $('html').on('change', '#date_range', function () {
            update_data()
        })

        setInterval(function (){
            update_data()
        },30000)

        function update_data() {
            let dateRange = document.getElementById('date_range').value
            let dates = dateRange.split('-')
            console.log(dateRange, dates)
            let from_date = formatDate(dates[0])
            let to_date = formatDate(dates[1])
            dt_pub.ajax.url(`${dt_pub_ajax_url}&start_date=${from_date}&end_date=${to_date}`).load()
            dt_user.ajax.url(`${dt_user_ajax_url}&start_date=${from_date}&end_date=${to_date}`).load()
            dt_hourly.ajax.url(`${dt_hourly_ajax_url}&start_date=${from_date}&end_date=${to_date}`).load()
            dt_domain.ajax.url(`${dt_domain_ajax_url}&start_date=${from_date}&end_date=${to_date}`).load()

            axios.get(`/campaign/campaign_device_graph_api?start_date=${from_date}&end_date=${to_date}`, {
                params: {
                    campaign_id: '{{ object.id }}' // Assuming this is how you pass the campaign ID
                }
            }).then(function (response) {
                graph_data = response.data
                graph_data.map(entry => entry.device_type)
                graph_data.map(entry => entry.percentage)

                device_chart.data.labels = graph_data.map(entry => entry.device_type)
                device_chart.data.datasets[0].data = graph_data.map(entry => entry.percentage)
                device_chart.update()

            });

            fetch(`/campaign/campaign_imp_click_view_graph_api?campaign_id={{ object.id }}&start_date=${from_date}&end_date=${to_date}`) // Replace '/your-api-endpoint' with your actual API endpoint URL
                .then(response => response.json())
                .then(data => {
                    // Extract data from API response
                    const labels = data.campaign_summary.map(item => item.date);
                    const impressions = data.campaign_summary.map(item => item.total_imp);
                    const visible = data.campaign_summary.map(item => item.total_viewable);
                    const clicks = data.campaign_summary.map(item => item.total_click);

                    statisticsChart.data.labels = labels
                    statisticsChart.data.datasets[0].data = impressions
                    statisticsChart.data.datasets[1].data = visible
                    statisticsChart.data.datasets[2].data = clicks
                    statisticsChart.update()


                    // Update the chart with the received data

                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                });

            fetch(`/campaign/campaign_performance_graph_api?campaign_id={{ object.id }}&start_date=${from_date}&end_date=${to_date}`)
                .then(response => response.json())
                .then(data => {
                    // Extract progress_percentage from the API response
                    const goalTarget = data.goal_target;
                    const goalProgress = data.campaign_summary.total_imp;

                    // Update the HTML element with the ID 'goal_target' with the goalTarget value
                    document.getElementById('goal_target').textContent = goalTarget;
                    document.getElementById('goal_progress').textContent = goalProgress;

                    const progressPercentage = data.progress_percentage;

                    // Update the series data in supportTrackerOptions with progress_percentage

                    supportTracker.updateOptions({
                        series: [progressPercentage]
                    })

                    // Render the chart with updated options

                })
                .catch(error => console.error('Error fetching progress_percentage:', error));
            {#await fetchData();#}
            {#devide#}
            {#.data.labels = date_graph_data#}
        }
    </script>
    <script>
        var bsRangePickerRange = $('#date_range');
        if (bsRangePickerRange.length) {
            bsRangePickerRange.daterangepicker({
                ranges: {
                    Today: [moment(), moment()],
                    Yesterday: [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                opens: isRtl ? 'left' : 'right'
            });
        }
    </script>
{% endblock %}