{% load campaign_tags %}
{% load mathfilters %}
<div class="text-center mb-4">
    <h3 class="role-title mb-2">Campaign Details</h3>
    {#    <p class="text-muted">Set group campaign data</p>#}
</div>

<div class="row">
    <div class="card">
        {#        <div class="card-header border-bottom">#}
        {#            <h5 class="card-title mb-3">Search Filter</h5>#}
        {#            <div class="d-flex justify-content-between align-items-center row pb-2 gap-3 gap-md-0">#}
        {#                <div class="col-md-6 user_role"></div>#}
        {#                <div class="col-md-4 user_plan"></div>#}
        {#                <div class="col-md-6 user_status"></div>#}
        {#            </div>#}
        {#        </div>#}
        <div class="card-datatable table-responsive">
            <table id="channels" class="datatables-users table">
                <thead class="border-top">
                <tr>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Campaign Type</th>
                    <th>Domain</th>
                    <th>Banner</th>
                    <th>Channel</th>
                    <th>Impression</th>
                    <th>Visible</th>
                    <th>Complete View</th>
                    <th>Click</th>
                </tr>
                </thead>
                <tbody>
                    {% for item in daily_data %}
{#                        {% with numerator=item.viewable|mul:100 %}#}
{#                            {% with denominator=numerator|div:item.imp %}#}

                        <tr>
                            <td>{{ item.date }}</td>
                            <td>{{ item.campaign }}</td>
                            <td>{{ item.campaign.campaign_type }}</td>
                            <td>{{ item.domain }}</td>
                            <td>{{ item.banner_id }}</td>
                            <td>{{ item.campaign.platform }}</td>
                            <td>{{ item.imp }}</td>
                            <td>{{ item.viewable }} </td>
                            <td>{{ item.complete_view }} </td>
<!--                            <td>{{ denominator|floatformat:"2" }} </td>-->
                            <td>{{ item.click }}</td>

                        </tr>
{#                         {% endwith %}#}
{#                        {% endwith %}#}
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>