<div class="text-center mb-4">
    <h3 class="role-title mb-2">Campaign Group Detail</h3>
    {#    <p class="text-muted">Set group campaign data</p>#}
</div>
<table class="table">
    <tbody>
    <tr data-dt-row="0" data-dt-column="1">
        <td>Name:</td>
        <td>{{ object.name }}</td>
    </tr>
    <tr data-dt-row="0" data-dt-column="2">
        <td>Agency:</td>
        <td>{{ object.agency }}</td>
    </tr>
    <tr data-dt-row="0" data-dt-column="3">
        <td>Advertiser:</td>
        <td>{{ object.advertiser }}</td>
    </tr>
    <tr data-dt-row="0" data-dt-column="4">
        <td>Campaign Type:</td>
        <td>{{ object.get_campaign_type_display }}</td>
    </tr>
    <tr data-dt-row="0" data-dt-column="5">
        <td>Start Date:</td>
        <td>{{ object.start_date }}</td>
    </tr>
    <tr data-dt-row="0" data-dt-column="6">
        <td>End Date:</td>
        <td>{{ object.end_date }}</td>
    </tr>
    <tr data-dt-row="0" data-dt-column="7">
        <td>Currency:</td>
        <td>{{ object.currency }}</td>
    </tr>
    <tr data-dt-row="0" data-dt-column="7">
        <td>Budget:</td>
        <td>{{ object.total_budget }}</td>
    </tr>
    <tr data-dt-row="0" data-dt-column="7">
        <td>Delivery Goal:</td>
        <td>{{ object.delivery_goal }}</td>
    </tr>
    <tr data-dt-row="0" data-dt-column="7">
        <td>Goal Type:</td>
        <td>{{ object.goal_type }}</td>
    </tr>
    <tr data-dt-row="0" data-dt-column="7">
        <td>CTR:</td>
        <td>{{ object.ctr }}</td>
    </tr>
    <tr data-dt-row="0" data-dt-column="7">
        <td>Bid Price:</td>
        <td>{{ object.bid_price }}</td>
    </tr>
    <tr data-dt-row="0" data-dt-column="7">
        <td>Platform:</td>
        <td>{{ object.platform }}</td>
    </tr>
    <tr data-dt-row="0" data-dt-column="7">
        <td>Campaign Type:</td>
        <td>{{ object.get_campaign_type_display }}</td>
    </tr>
    <tr data-dt-row="0" data-dt-column="7">
        <td>Objective:</td>
        <td>{{ object.objective }}</td>
    </tr>

    </tbody>
</table>
<div class="d-flex align-items-center justify-content-between mt-2">
    {% if perms.campaigns.change_groupcampaign %}
        <a href="javascript:;" data-url="/campaign/group/{{ object.id }}/edit"
           class="btn btn-sm btn-success text-body user-edit" data-id="2"><i
                class="ti ti-edit ti-sm me-2"></i></a>
    {% endif %}
    {% if perms.campaigns.delete_groupcampaign %}
        <a href="javascript:;" class="btn btn-sm btn-warning text-body delete-record"
           data-id="{{ object.id }}"><i class="ti ti-trash ti-sm mx-2"></i></a>
    {% endif %}
</div>

