{% load crispy_forms_tags %}
{% crispy form %}

{% block js %}

    <script>


        $('html').on('change', '[name="zilla"]', function () {
            let zilla = $(this).val()
            axios.get(`/api/v1/upazila/?zilla=${zilla}`)
                .then(function (response) {
                    let data = response.data.results
                    let banner_container = $('html').find('[name="upazila"]')
                    banner_container.html('<option value="" selected="">Select Upazila</option>')
                    data.forEach(function (item) {
                        banner_container.append(`<option value="${item.id}">${item.upazila}</option>`)
                    })
                })
                .catch(function (error) {
                    console.log(error);
                });
        })

        $('html').on('change', '[name="upazila"]', function () {
            let upazila = $(this).val()
            axios.get(`/api/v1/union/?upazila=${upazila}`)
                .then(function (response) {
                    let data = response.data.results
                    let banner_container = $('html').find('[name="union"]')
                    banner_container.html('<option value="" selected="">Select union</option>')
                    data.forEach(function (item) {
                        banner_container.append(`<option value="${item.id}">${item.union}</option>`)
                    })
                })
                .catch(function (error) {
                    console.log(error);
                });
        })


        $('html').on('change', '[name="union"]', function () {
            let union = $(this).val()
            axios.get(`/api/v1/ward/?union=${union}`)
                .then(function (response) {
                    let data = response.data.results
                    let banner_container = $('html').find('[name="ward"]')
                    banner_container.html('<option value="" selected="">Select ward</option>')
                    data.forEach(function (item) {
                        banner_container.append(`<option value="${item.id}">${item.ward}</option>`)
                    })
                })
                .catch(function (error) {
                    console.log(error);
                });
        })
    </script>
{% endblock %}