<div class="text-center mb-4">
    <h3 class="mb-2">Edit Company Information</h3>
{#    <p class="text-muted">Updating user details will receive a privacy audit.</p>#}
</div>
{##}
{#<form id="editUserForm" class="row g-3 fv-plugins-bootstrap5 fv-plugins-framework" data-id="{{ company.id }}" onsubmit="return false"#}
{#      novalidate="novalidate" data-select2-id="editUserForm">#}
{#    <div class="col-12 col-md-6 fv-plugins-icon-container">#}
{#        <label class="form-label" for="modalEditUserFirstName">Name</label>#}
{#        <input type="text" id="modalEditUserFirstName" name="name" value="{{ company.name }}"#}
{#               class="form-control"#}
{#               placeholder="John">#}
{#        <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>#}
{#    </div>#}
{#    <div class="col-12 col-md-6">#}
{#        <label class="form-label" for="user-role">Type</label>#}
{#        <select#}
{#                id="user-role"#}
{#                class="select2 form-select"#}
{#                aria-label="Default select example"#}
{#                name="type">#}
{#            {% for type in company_type %}#}
{#                <option value="{{ type.id }}" {% if company.type.id == type.id %} selected {% endif %} >{{ type.name }}</option>#}
{#            {% endfor %}#}
{##}
{#        </select>#}
{#    </div>#}
{#    <div class="col-12 col-md-6">#}
{#        <label class="form-label" for="modalEditUserStatus">Status</label>#}
{#        <select#}
{#                id="modalEditUserStatus"#}
{#                name="status"#}
{#                class="select2 form-select"#}
{#                aria-label="Default select example">#}
{#            <option selected>Status</option>#}
{#            <option value="1" {% if company.status == 1 %}selected{% endif %}>Active</option>#}
{#            <option value="0" {% if company.status == 0 %}selected{% endif %}>Inactive</option>#}
            {#            <option value="3">Suspended</option>#}
{#        </select>#}
{#    </div>#}
{##}
{##}
{#    <div class="col-12 text-center">#}
{#        <button type="submit" class="btn btn-primary me-sm-3 me-1 waves-effect waves-light">Submit</button>#}
{#        <button type="reset" class="btn btn-label-secondary waves-effect" data-bs-dismiss="modal" aria-label="Close">#}
{#            Cancel#}
{#        </button>#}
{#    </div>#}
{#    <input type="hidden">#}
{#</form>#}
{% load crispy_forms_tags %}
{% crispy form %}