<div class="text-center mb-4">
    <h3 class="role-title mb-2">{{ object.type }} Detail</h3>
    {#    <p class="text-muted">Set group campaign data</p>#}
</div>

<div class="nav-align-top nav-tabs-shadow mb-4">
    <ul class="nav nav-tabs nav-fill" role="tablist">
        <li class="nav-item">
            <button
                    type="button"
                    class="nav-link active"
                    role="tab"
                    data-bs-toggle="tab"
                    data-bs-target="#navs-justified-info"
                    aria-controls="navs-justified-home"
                    aria-selected="true">
                <i class="tf-icons ti ti-home ti-xs me-1"></i> Info
                <span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-label-danger ms-1">3</span>
            </button>
        </li>
        {% if object.type.name == 'Publishers' %}
            <li class="nav-item">
                <button
                        type="button"
                        class="nav-link"
                        role="tab"
                        data-bs-toggle="tab"
                        data-bs-target="#navs-justified-inventory"
                        aria-controls="navs-justified-profile"
                        aria-selected="false">
                    <i class="tf-icons ti ti-user ti-xs me-1"></i> Slot
                </button>
            </li>
        {% endif %}
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="navs-justified-info" role="tabpanel">
            <p class="mb-0">
            <table class="table">
                <tbody>
                <tr>
                    <td>Name</td>
                    <td>{{ object.name }}</td>
                </tr>
                <tr>
                    <td>E-mail</td>
                    <td>{{ object.email }}</td>
                </tr>
                <tr>
                    <td>Website</td>
                    <td>{{ object.website }}</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>{{ object.phone }}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>{{ object.address }}</td>
                </tr>
                </tbody>
            </table>
            </p>
            <div class="d-flex justify-content-end">
                <a href="javascript:;" data-url="/accounts/company/{{ object.id }}/edit"
                   class="btn btn-sm btn-success user-edit"
                   data-id="{{ object.id }}"><i class="ti ti-pencil ti-sm me-2"></i></a>
            </div>
        </div>
        <div class="tab-pane fade" id="navs-justified-inventory" role="tabpanel">
            <p class="mb-0">
            <table class="table">
                <tbody>


                </tbody>
            </table>
            </p>
            <div class="d-flex justify-content-end">
                <a href="javascript:;" data-url="/campaign/inventory/{{ object.id }}/edit"
                   class="btn btn-sm btn-success user-edit"
                   data-id="{{ object.id }}"><i class="ti ti-pencil ti-sm me-2"></i></a>
            </div>
            <div id="ad_slot_form">

            </div>
        </div>


    </div>
</div>
