<div class="text-center mb-4">
    <h3 class="role-title mb-2">{{ object.type }} Detail</h3>
    {#    <p class="text-muted">Set group campaign data</p>#}
</div>

<div class="nav-align-top nav-tabs-shadow mb-4">
    <ul class="nav nav-tabs nav-fill" role="tablist">
        <li class="nav-item">
            <button
                    type="button"
                    class="nav-link active"
                    role="tab"
                    data-bs-toggle="tab"
                    data-bs-target="#navs-justified-info"
                    aria-controls="navs-justified-home"
                    aria-selected="true">
                <i class="tf-icons ti ti-home ti-xs me-1"></i> Info
                <span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-label-danger ms-1">3</span>
            </button>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="navs-justified-info" role="tabpanel">
            <p class="mb-0">
            <table class="table">
                <tbody>
                <tr>
                    <td>patient</td>
                    <td>{{ object.patient.patient_name }}</td>
                </tr>
                <tr>
                    <td>Period Off Time</td>
                    <td>{{ object.period_off_time }}</td>
                </tr>
                <tr>
                    <td>Pregnancy Number</td>
                    <td>{{ object.pregnancy_number }}</td>
                </tr>
                <tr>
                    <td>Alive Children Number</td>
                    <td>{{ object.alive_children_number }}</td>
                </tr>
                <tr>
                    <td>Last Children Age</td>
                    <td>{{ object.last_children_age }}</td>
                </tr>
                <tr>
                    <td>Normal Delivery Number</td>
                    <td>{{ object.normal_delivery_number }}</td>
                </tr>
                <tr>
                    <td>Csec Delivery Number</td>
                    <td>{{ object.csec_delivery_number }}</td>
                </tr>
                <tr>
                    <td>Mr Number</td>
                    <td>{{ object.mr_number }}</td>
                </tr>
                <tr>
                    <td>Monthly Income</td>
                    <td>{{ object.monthly_income }}</td>
                </tr>
                <tr>
                    <td>Delivery Center</td>
                    <td>{% if object.delivery_center == 0 %}
                                    Hospital
                                {% else %}
                                    Home
                                {% endif %}</td>
                </tr>
                <tr>
                    <td>Tt Dose Number</td>
                    <td>{{ object.tt_dose_number }}</td>
                </tr>
                <tr>
                    <td>After Delivery Plan</td>
                    <td>{{ object.after_delivery_plan }}</td>
                </tr>
                <tr>
                    <td>Complications</td>
                    <td>{{ object.complications }}</td>
                </tr>
                <tr>
                    <td>Lmp</td>
                    <td>{{ object.lmp }}</td>
                </tr>
                <tr>
                    <td>Edd</td>
                    <td>{{ object.edd }}</td>
                </tr>
                <tr>
                    <td>Patient Status</td>
                    <td>{% if object.patient_status == 0 %}
                                    Normal
                                {% else %}
                                    High Risk
                                {% endif %}</td>
                </tr>
                </tbody>
            </table>
            </p>
            <div class="d-flex justify-content-end">
                <a href="javascript:;" data-url="/accounts/pregnancycycle/{{ object.id }}/edit"
                   class="btn btn-sm btn-success user-edit"
                   data-id="{{ object.id }}"><i class="ti ti-pencil ti-sm me-2"></i></a>
            </div>
        </div>
        <div class="tab-pane fade" id="navs-justified-inventory" role="tabpanel">
            <p class="mb-0">
            <table class="table">
                <tbody>


                </tbody>
            </table>
            </p>
            <div class="d-flex justify-content-end">
                <a href="javascript:;" data-url="/campaign/inventory/{{ object.id }}/edit"
                   class="btn btn-sm btn-success user-edit"
                   data-id="{{ object.id }}"><i class="ti ti-pencil ti-sm me-2"></i></a>
            </div>
            <div id="ad_slot_form">

            </div>
        </div>


    </div>
</div>
