{% extends 'vuexy/Layout.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/flatpickr/flatpickr.css"/>
    <link rel="stylesheet"
          href="{% static 'vuexy/assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.css' %}"/>
    <style>
        .blue-badge {
            background-color: #6258cc;
            padding: 0.25rem 0.65rem;
            border-radius: 0.375rem;
            min-width: 46px;
            text-align: center;
            color: #ffffff;
        }
    </style>

    <style>
        .table-container {
            box-sizing: border-box;
        {#border: 1px solid #ddd;#}
        }

        .custom-table {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: separate;
            border-spacing: 0 15px;
            width: 100%;
            border: none;
            margin: 0 auto;
        }

        .custom-table > tbody > tr:hover {
            transform: translate(0px, -10px);

        }

        .custom-table td,
        .custom-table th {
            padding: 20px;
        }

        .custom-table tr {
            background-color: #fff;
            box-shadow: 5px 2px 4px #ccc;
            transition: transform 0.5s ease-in-out;
        }

        .custom-table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #ebf0ef;
        }

        .custom-table td:first-child,
        .custom-table th:first-child {
        {#border-radius: 10px 0 0 10px;#}
        }

        .custom-table td:last-child,
        .custom-table th:last-child {
        {#border-radius: 0 10px 10px 0;#}
        }
    </style>

{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12 col-lg-12  mb-2">
            <div class="card card-border-shadow-danger">
                <div class="card-body h-80">
                    <div class="col-md-2 col-12 mb-2">
                        <label for="date_range" class="form-label">Date Range</label>
                        <input type="text" id="date_range" class="form-control" value="{{ daterange }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row mb-4">
            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start justify-content-between">
                            <div class="content-left">
                                <span>Total Campaign</span>
                                <div class="d-flex align-items-center my-2">
                                    <h3 class="mb-0 me-2" id="today_camp">0</h3>
                                    {#                                <p class="text-success mb-0">(+29%)</p>#}
                                </div>
                                {#                            <p class="mb-0">Total Users</p>#}
                            </div>
                            <span class="badge bg-label-primary rounded p-2">
                          <i class="ti ti-ad-2 ti-sm"></i>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start justify-content-between">
                            <div class="content-left">
                                <span>Running Campaign</span>
                                <div class="d-flex align-items-center my-2">
                                    <h3 class="mb-0 me-2" id="running_camp">0</h3>
                                    {#                                <p class="text-success mb-0">(+18%)</p>#}
                                </div>
                                {#                            <p class="mb-0">Last week analytics</p>#}
                            </div>
                            <span class="badge bg-label-success rounded p-2">
                          <i class="ti ti-ad-2 ti-sm"></i>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start justify-content-between">
                            <div class="content-left">
                                <span>Ended Campaign</span>
                                <div class="d-flex align-items-center my-2">
                                    <h3 class="mb-0 me-2" id="ended_camp">0</h3>
                                    {#                                <p class="text-danger mb-0">(-14%)</p>#}
                                </div>
                                {#                            <p class="mb-0">Last week analytics</p>#}
                            </div>
                            <span class="badge bg-label-danger rounded p-2">
                          <i class="ti ti-ad-2 ti-sm"></i>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start justify-content-between">
                            <div class="content-left">
                                <span>Paused Campaign</span>
                                <div class="d-flex align-items-center my-2">
                                    <h3 class="mb-0 me-2" id="paused_campaign">0</h3>
                                    {#                                <p class="text-success mb-0">(+42%)</p>#}
                                </div>
                                {#                            <p class="mb-0">Last week analytics</p>#}
                            </div>
                            <span class="badge bg-label-warning rounded p-2">
                          <i class="ti ti-ad-2 ti-sm"></i>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Line Charts -->
    <div class="row">


        <div class="col-sm-12 col-lg-6  mb-4">
            <div class="card card-border-shadow-primary">
                <div class="card-header header-elements">
                    <div>
                        <h5 class="card-title mb-0">Statistics</h5>
                        <small class="text-muted">Impressions, Visible And Click</small>
                    </div>

                </div>
                <div class="card-body pt-2">
                    <canvas id="lineChart" class="chartjs" data-height="250"></canvas>
                </div>
            </div>
        </div>

        <!-- Horizontal Bar Charts -->
        <div class="col-sm-12 col-lg-6  mb-4">
            <div class="card h-100">
                <div class="card-header header-elements">
                    <div class="d-flex flex-column">
                        <h5 class="card-title mb-0">Channel Wise Campaign</h5>
                    </div>
                </div>
                <div class="card-body">
                    <canvas id="horizontalBarChartSSS" class="chartjs" data-height="250"></canvas>
                </div>
            </div>
        </div>
        <!-- /Horizontal Bar Charts -->
    </div>
    <!-- /Line Charts -->

    <!-- Projects table -->
    <div class="">
        <div class="card-header header-elements">
            <div>
                <h5 class="card-title mb-0">Campaigns</h5>
            </div>
        </div>

        <div class="table-container">
            <table id="datatables-campaign" class="datatables-campaigns custom-table table-hover">
                <thead class="table-light">
                <tr>
                    <th style="text-align: center; vertical-align: middle;">Name</th>
                    <th style="text-align: center; vertical-align: middle;">Channel</th>
                    <th style="text-align: center; vertical-align: middle;">Goal</th>
                    <th style="text-align: center; vertical-align: middle;">Target(Goal)</th>
                    <th style="text-align: center; vertical-align: middle;">Impression</th>
                    <th style="text-align: center; vertical-align: middle;">Progress(%)</th>
                    <th style="text-align: center; vertical-align: middle;">Viewability(%)</th>
                    <th style="text-align: center; vertical-align: middle;">Click</th>
                    <th style="text-align: center; vertical-align: middle;">Status</th>
                    <th style="text-align: center; vertical-align: middle;">Actions</th>
                </tr>
                </thead>
                <tbody id="datatables-campaign-body" class="card-datatable table-responsive">

                </tbody>
            </table>
        </div>

    </div>
    <!--/ Projects table -->
{% endblock %}
{% block js %}
    <script src="{% static 'vuexy/' %}assets/vendor/libs/moment/moment.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/flatpickr/flatpickr.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/chartjs/chartjs.js"></script>
    <script src="{% static 'vuexy/' %}assets/js/charts-chartjs.js"></script>
    <script src="{% static 'vuexy/' %}assets/js/charts-apex.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/apex-charts/apexcharts.js"></script>
    <script src="{% static 'vuexy/' %}assets/js/dashboard-data.js"></script>

    <script>
        var company_id = "{{ object.id }}"
        console.log('company_id',company_id)
        fetch('/api/v1/dashboard_data')
            .then(response => response.json())
            .then(data => {
                // Get the goal_target value from the API response
                const TotalCampaigns = data.total_campaigns;
                const RunningCampaigns = data.running_campaigns;
                const EndedCampaigns = data.ended_campaign;
                const PausedCampaigns = data.paused_campaign;

                // Update the HTML element with the ID 'goal_target' with the goalTarget value
                document.getElementById('today_camp').textContent = TotalCampaigns;
                document.getElementById('running_camp').textContent = RunningCampaigns;
                document.getElementById('ended_camp').textContent = EndedCampaigns;
                document.getElementById('paused_campaign').textContent = PausedCampaigns;
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
    </script>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const horizontalBarChart = document.getElementById('horizontalBarChartSSS');
            if (horizontalBarChart) {
                try {
                    fetch('/api/v1/dashboard_data')
                        .then(response => response.json())
                        .then(data => {
                            const channelSummary = data.channel_summery;
                            const labels = channelSummary.map(item => item.platform__name);
                            const values = channelSummary.map(item => item.total);

                            const horizontalBarChartVar = new Chart(horizontalBarChart, {
                                type: 'bar',
                                data: {
                                    labels: labels,
                                    datasets: [{
                                        data: values,
                                        label: 'Channel',
                                        backgroundColor: 'rgba(54, 162, 235, 0.5)',
                                        borderColor: 'rgba(54, 162, 235, 1)',
                                        borderWidth: 1
                                    }
                                    ]
                                },
                                options: {
                                    indexAxis: 'y',
                                    responsive: true,
                                    maintainAspectRatio: false,
                                    animation: {
                                        duration: 500
                                    },
                                    plugins: {
                                        legend: {
                                            display: false
                                        }
                                    },
                                    scales: {
                                        x: {
                                            min: 0,
                                            grid: {
                                                display: false
                                            },
                                            ticks: {
                                                beginAtZero: true
                                            }
                                        },
                                        y: {
                                            grid: {
                                                display: false
                                            }
                                        }
                                    }
                                }
                            });
                        })
                        .catch(error => console.error('Error fetching data:', error));
                } catch (error) {
                    console.error('Error creating chart:', error);
                }
            } else {
                console.error('Canvas element with ID "horizontalBarChart" not found.');
            }
        });
    </script>

    <script>
        function formatAMPM(date_string) {
            var date = new Date(date_string)
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var ampm = hours >= 12 ? 'pm' : 'am';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0' + minutes : minutes;
            var strTime = hours + ' ' + ampm;
            return strTime;
        }

        update_dashboard()
        setInterval(function () {
            update_dashboard()
        }, 5000)

        function update_dashboard() {
            let dateRange = document.getElementById('date_range').value
            let url = `/api/v1/dashboard_data?company_id=${company_id}`
            let dates = dateRange.split('-')
            if (dates[1]) {
                url = `/api/v1/dashboard_data?start_date=${dates[0]}&end_date=${dates[1]}&company_id=${company_id}`
            }
            console.log(dateRange)
            let dashboard_data = AsyncAPICall(url)
            dashboard_data.then(function (response) {
                document.getElementById('datatables-campaign-body').innerHTML = '';

                let imp__sum = response.imp__sum;
                let viewable__sum = response.viewable__sum;
                let click__sum = response.click__sum;
                $('.imp__sum').html(imp__sum)
                $('.viewable__sum').html(viewable__sum)
                $('.click__sum').html(click__sum)
                let graph_data = response.graph_data;
                let impression_graph_data = graph_data.map(e => e.imp__sum)
                let click_graph_data = graph_data.map(e => e.click__sum)
                let viewable_graph_data = graph_data.map(e => e.viewable__sum)
                let date_graph_data = graph_data.map(e => e.date)
                if (date_graph_data[0] == undefined) {
                    date_graph_data = graph_data.map(e => formatAMPM(e.time_stamp))
                }


                {#console.log(date_graph_data)#}

                {#console.log(impression_graph_data,viewable_graph_data,click_graph_data)#}


                lineChartVar.data.labels = date_graph_data
                lineChartVar.data.datasets[0].data = impression_graph_data
                lineChartVar.data.datasets[1].data = viewable_graph_data
                lineChartVar.data.datasets[2].data = click_graph_data
                lineChartVar.update();

                {#lineChartCVar.data.labels = date_graph_data#}
                {#lineChartCVar.data.datasets[0].data = click_graph_data#}
                {#lineChartCVar.update();#}

                response.campaign_summery.forEach(function (item) {
                    console.log(item)
                    let url_details = `/ad_measurement/campaign/${item.id}/detail/`;
                    console.log(url_details)
                    const date = new Date();

                    let day = date.getDate();
                    let month = date.getMonth() + 1;
                    let year = date.getFullYear();
                    let hourssss = date.getHours();
                    console.log(hourssss)
                    {#print(hourssss)#}
                    // This arrangement can be altered based on how we want the date's format to appear.
                    let currentDate = `${year}-${month}-${day}`;

                    var template = document.getElementById('campaign_template').innerHTML
                    template = template.replace('CAMPAIGN_NAME', item.name)
                    template = template.replace('CAMPAIGN_REQUEST', item.platform_name)
                    if (item.goal_type) {
                        template = template.replace('GOAL_TYPE', item.goal_type)
                    } else {
                        template = template.replace('GOAL_TYPE', 'N/A')
                    }
                    if (item.goal_type) {
                        template = template.replace('GOAL_TARGET', item.goal_target)
                    } else {
                        template = template.replace('GOAL_TARGET', 0)
                    }
                    template = template.replace('CAMPAIGN_RESPONSE', item.request_response.impression)
                    template = template.replace('PROGRESS', item.request_response.progress_percentage)
                    template = template.replace('CAMPAIGN_CLICK', item.request_response.click)

                    var vimp = Math.round(item.request_response.viewable * 100 / item.request_response.impression, 2);
                    if (vimp) {
                        template = template.replace('CAMPAIGN_VIMP', vimp);
                    } else {
                        template = template.replace('CAMPAIGN_VIMP', 0);
                    }

                    var dt = new Date(currentDate);
                    var en_dt = new Date(item.end_date);
                    {#if (en_dt < dt) {#}
                    {#    template = template.replace('STATUS', '<span class="badge bg-label-danger">' + 'ENDED' + '</span>');#}
                    {#} #}
                    {#else {#}
                    {#    if (item.request_response.paused == 0) {#}
                    {#        template = template.replace('STATUS', '<span class="badge bg-label-success">' + 'RUNNING' + '</span>');#}
                    {#    } else {#}
                    {#        template = template.replace('STATUS', '<span class="badge bg-label-primary">' + 'PAUSED' + '</span>');#}
                    {#    }#}
                    {##}
                    {#}#}

                    if (en_dt < dt) {
                        template = template.replace('STATUS', '<span class="badge bg-label-danger">' + 'ENDED' + '</span>');
                    } else {
                        template = template.replace('STATUS', '<span class="badge bg-label-success">' + 'RUNNING' + '</span>');

                    }

                    template = template.replace('Actions', `<div class="d-flex align-items-center">
                            <a href="${url_details}" target="_blank" data-id="${item.id}" class="text-body user-eye"><i class="ti ti-eye ti-sm me-2"></i></a>
                            </div>`);
                    template = htmlToElement(template)
                    console.log(template)
                    document.getElementById('datatables-campaign-body').append(template)
                })


            })
        }

        $('html').on('click', '.user-edit', function () {
            let url = $(this).attr('data-url');
            let id = $(this).attr('data-id');
            let size = $(this).attr('data-size');
            if (!size) {
                size = 'modal-lg'
            }
            console.log(url)
            $(".modal:not(#ajaxModal)").find('[aria-label="Close"]').click();
            $('#ajaxModal').find('.modal-dialog').removeClass('modal-lg').removeClass('modal-xl').addClass(size)
            $('#ajaxModal').modal('show');

            $('#ajaxModal').find('#modal-content').load(url, function () {
                $('#ajaxModal').find('form').attr('action', url)
                $('#ajaxModal').find('form').attr('data-id', id)
                $('#ajaxModal').find('#close_modal').attr('data-bs-dismiss', 'modal')
                $('#ajaxModal').find('#close_modal').attr('aria-label', "Close")


            })
        });
        var bsRangePickerRange = $('#date_range');
        if (bsRangePickerRange.length) {
            bsRangePickerRange.daterangepicker({
                ranges: {
                    Today: [moment(), moment()],
                    Yesterday: [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                opens: isRtl ? 'left' : 'right'
            });
        }

    </script>
    <script type="text/html" id="campaign_template">
        <tr>
            <td style="text-align: center; vertical-align: middle;">CAMPAIGN_NAME</td>
            <td style="text-align: center; vertical-align: middle;">CAMPAIGN_REQUEST</td>
            <td style="text-align: center; vertical-align: middle;">GOAL_TYPE</td>
            <td style="text-align: center; vertical-align: middle;">GOAL_TARGET</td>
            <td class="count" style="text-align: center; vertical-align: middle;">CAMPAIGN_RESPONSE</td>
            <td style="text-align: center; vertical-align: middle;">PROGRESS</td>
            <td class="count" style="text-align: center; vertical-align: middle;">CAMPAIGN_VIMP</td>
            <td class="count" style="text-align: center; vertical-align: middle;">CAMPAIGN_CLICK</td>
            <td style="text-align: center; vertical-align: middle;">STATUS</td>
            <td style="text-align: center; vertical-align: middle;">Actions</td>
        </tr>
    </script>
    <script>
        $(document).ready(function () {

            var counters = $(".count");
            var countersQuantity = counters.length;
            var counter = [];

            for (i = 0; i < countersQuantity; i++) {
                counter[i] = parseInt(counters[i].innerHTML);
            }


            var count = function (start, value, id) {
                var localStart = start;
                setInterval(function () {
                    if (localStart < value) {
                        localStart++;
                        counters[id].innerHTML = localStart;
                    }
                }, 40);
            }

            for (j = 0; j < countersQuantity; j++) {
                count(0, counter[j], j);
            }
        });
    </script>
{% endblock %}