<div class="text-center mb-4">
    <h3 class="role-title mb-2">{{ object.type }} Detail</h3>
    {#    <p class="text-muted">Set group campaign data</p>#}
</div>

<div class="nav-align-top nav-tabs-shadow mb-4">
    <ul class="nav nav-tabs nav-fill" role="tablist">
        <li class="nav-item">
            <button
                    type="button"
                    class="nav-link active"
                    role="tab"
                    data-bs-toggle="tab"
                    data-bs-target="#navs-justified-info"
                    aria-controls="navs-justified-home"
                    aria-selected="true">
                <i class="tf-icons ti ti-home ti-xs me-1"></i> Info
                <span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-label-danger ms-1">3</span>
            </button>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="navs-justified-info" role="tabpanel">
            <p class="mb-0">
            <table class="table">
                <tbody>
                <tr>
                    <td>Registration No</td>
                    <td>{{ object.registration_no }}</td>
                </tr>
                <tr>
                    <td>Couple Number</td>
                    <td>{{ object.couple_number }}</td>
                </tr>
                <tr>
                    <td>Patient Name</td>
                    <td>{{ object.patient_name }}</td>
                </tr>
                <tr>
                    <td>Husband Name</td>
                    <td>{{ object.husband_name }}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>Road:{{ object.road }}, Ward:{{ object.ward }}, Union:{{ object.union }}, Upazila:{{ object.upazila }}, Zilla:{{ object.zilla }}</td>
                </tr>
                <tr>
                    <td>Patient Age</td>
                    <td>{{ object.patient_age }}</td>
                </tr>
                <tr>
                    <td>Husband Age</td>
                    <td>{{ object.husband_age }}</td>
                </tr>
                <tr>
                    <td>Patient Blood Group</td>
                    <td>{{ object.patient_blood_group }}</td>
                </tr>
                <tr>
                    <td>Husband Blood Group</td>
                    <td>{{ object.husband_blood_group }}</td>
                </tr>
                </tbody>
            </table>
            </p>
            <div class="d-flex justify-content-end">
                <a href="javascript:;" data-url="/accounts/patient/{{ object.id }}/edit"
                   class="btn btn-sm btn-success user-edit"
                   data-id="{{ object.id }}"><i class="ti ti-pencil ti-sm me-2"></i></a>
            </div>
        </div>
        <div class="tab-pane fade" id="navs-justified-inventory" role="tabpanel">
            <p class="mb-0">
            <table class="table">
                <tbody>


                </tbody>
            </table>
            </p>
            <div class="d-flex justify-content-end">
                <a href="javascript:;" data-url="/campaign/inventory/{{ object.id }}/edit"
                   class="btn btn-sm btn-success user-edit"
                   data-id="{{ object.id }}"><i class="ti ti-pencil ti-sm me-2"></i></a>
            </div>
            <div id="ad_slot_form">

            </div>
        </div>


    </div>
</div>
