{% extends 'vuexy/Layout.html' %}
{% load static %}
{% block css %}{% endblock %}
{% block content %}

    <!-- Users List Table -->
    <div class="card">
        <form action="" enctype="multipart/form-data">
            <input type="file"
                   accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
            <select name="upload_option" id="upload_option">
                <option value="1">Today Data</option>
                <option value="2">Yestarday Data</option>
                <option value="3">All Data</option>
            </select>
            <button type="button" id="upload">Upload</button>
        </form>
    </div>
{% endblock %}
{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
            integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="application/javascript">
        $('html').on('click', '#upload', function () {
            upload()
        })

        function upload() {
            var formData = new FormData();
            var csv_file = document.querySelector('[type="file"]');
            var upload_option = document.getElementById('upload_option');
            formData.append("excel_file", csv_file.files[0]);
            formData.append("upload_option", upload_option.value);
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            axios.post('/purple_patch/api/v1/upload_hourly_data_api', formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then(function (response) {
                console.log(response)
            })
        }
    </script>
{% endblock %}