{% extends 'vuexy/Layout.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/flatpickr/flatpickr.css"/>
    <link rel="stylesheet"
          href="{% static 'vuexy/assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.css' %}"/>
    <style>
        .blue-badge {
            background-color: #6258cc;
            padding: 0.25rem 0.65rem;
            border-radius: 0.375rem;
            min-width: 46px;
            text-align: center;
            color: #ffffff;
        }
    </style>

    <style>
        .table-container {
            box-sizing: border-box;
        {#border: 1px solid #ddd;#}
        }

        .custom-table {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: separate;
            border-spacing: 0 15px;
            width: 100%;
            border: none;
            margin: 0 auto;
        }

        .custom-table > tbody > tr:hover {
            transform: translate(0px, -10px);

        }

        .custom-table td,
        .custom-table th {
            padding: 20px;
        }

        .custom-table tr {
            background-color: #fff;
            box-shadow: 5px 2px 4px #ccc;
            transition: transform 0.5s ease-in-out;
        }

        .custom-table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #ebf0ef;
        }

        .custom-table td:first-child,
        .custom-table th:first-child {
        {#border-radius: 10px 0 0 10px;#}
        }

        .custom-table td:last-child,
        .custom-table th:last-child {
        {#border-radius: 0 10px 10px 0;#}
        }
    </style>
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/select2/select2.css"/>
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/@form-validation/umd/styles/index.min.css"/>
{% endblock %}
{% block content %}

    <!-- Users List Table -->
    <div class="row">
        <div class="col-sm-12 col-lg-12  mb-2">
            <div class="card card-border-shadow-danger">
                <div class="card-body h-80">
                    <div class="col-md-3 col-12 mb-2">
                        <form method="POST" enctype="multipart/form-data" id="upload_excel">
                            {% csrf_token %}
                            <input type="file" id="my_file" name="my_file"/>
                            <button type="submit">Upload</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <div class="card-header header-elements">
            <div>
                <h5 class="card-title mb-0">Campaign</h5>
            </div>
        </div>

        <div class="table-container">
            <table id="datatables-company" class="datatables-company custom-table table-hover">
                <thead class="table-light">
                <tr>
                    <th style="text-align: center; vertical-align: middle;">Company Name</th>
                    <th style="text-align: center; vertical-align: middle;">Campaign Name</th>
                    <th style="text-align: center; vertical-align: middle;">Impression</th>
                    <th style="text-align: center; vertical-align: middle;">Click</th>
                    <th style="text-align: center; vertical-align: middle;">Viewable</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody id="datatables-company-body" class="card-datatable table-responsive">

                </tbody>
            </table>
        </div>

    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'vuexy/' %}assets/vendor/libs/select2/select2.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/@form-validation/umd/bundle/popular.min.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/@form-validation/umd/plugin-bootstrap5/index.min.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/@form-validation/umd/plugin-auto-focus/index.min.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/cleavejs/cleave.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/cleavejs/cleave-phone.js"></script>
    <script src="{% static 'vuexy/' %}assets/js/app-company-list-by-type.js"></script>


    <script src="{% static 'vuexy/' %}assets/vendor/libs/moment/moment.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/flatpickr/flatpickr.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/chartjs/chartjs.js"></script>
    <script src="{% static 'vuexy/' %}assets/js/charts-chartjs.js"></script>
    <script src="{% static 'vuexy/' %}assets/js/charts-apex.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/apex-charts/apexcharts.js"></script>
    <script src="{% static 'vuexy/' %}assets/js/dashboard-data.js"></script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
            integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var company_type = "{{ type }}";
        var company_type_id = "{{ type_obj.pk }}";


    </script>
    <script>
        $('html').on('submit', '#upload_excel', function (e) {
            e.preventDefault()
            var data = new FormData();
            const fileInput = document.getElementById("my_file");
            data.append("my_file", fileInput.files[0]);
            {#formData.append("file", fileInput.files[0]);#}

            var xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.addEventListener("readystatechange", function () {
                if (this.readyState === 4) {
                    console.log(this.responseText);
                    window.location.reload()
                }
            });

            xhr.open("POST", "/campaign/import-campaign-data");
            // WARNING: Cookies will be stripped away by the browser before sending the request.
            {#xhr.setRequestHeader("Cookie", "csrftoken=WgujgdMFB24O3bm6pfYctg68iXfuyLEy");#}
            {#xhr.setRequestHeader("Content-Type", "multipart/form-data");#}

            xhr.send(data);
        })

    </script>
    <script>
        function formatAMPM(date_string) {
            var date = new Date(date_string)
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var ampm = hours >= 12 ? 'pm' : 'am';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0' + minutes : minutes;
            var strTime = hours + ' ' + ampm;
            return strTime;
        }

        update_dashboard()
        setInterval(function () {
            update_dashboard()
        }, 5000000000)

        function update_dashboard() {
            let url = '/api/v1/campaign_deviation_data'
            let dashboard_data = AsyncAPICall(url)
            dashboard_data.then(function (response) {
                document.getElementById('datatables-company-body').innerHTML = '';

                response.forEach(function (item) {
                    console.log(item.campaign_code)
                    let url_details = `/ad_measurement/campaign/import/${item.campaign_code}/details/`;
                    const date = new Date();

                    var template = document.getElementById('campaign_template').innerHTML
                    template = template.replace('COMPANY_NAME', item.company__name)
                    template = template.replace('CAMPAIGN_NAME', item.campaign__name)
                    template = template.replace('IMP', item.imp__sum)
                    template = template.replace('CLICK', item.click__sum)
                    template = template.replace('VIEWABLE', item.viewable__sum)

                    template = template.replace('Actions', `<div class="d-flex align-items-center" style="text-align: center; vertical-align: middle;">
                            <a href="${url_details}" target="_blank" data-id="${item.campaign_code}" class="text-body user-eye"><i class="ti ti-eye ti-sm me-2"></i></a>
                            </div>`);

                    template = htmlToElement(template)
                    console.log(template)
                    document.getElementById('datatables-company-body').append(template)
                })

            })
        }

        $('html').on('click', '.user-edit', function () {
            let url = $(this).attr('data-url');
            let id = $(this).attr('data-id');
            let size = $(this).attr('data-size');
            if (!size) {
                size = 'modal-lg'
            }
            console.log(url)
            $(".modal:not(#ajaxModal)").find('[aria-label="Close"]').click();
            $('#ajaxModal').find('.modal-dialog').removeClass('modal-lg').removeClass('modal-xl').addClass(size)
            $('#ajaxModal').modal('show');

            $('#ajaxModal').find('#modal-content').load(url, function () {
                $('#ajaxModal').find('form').attr('action', url)
                $('#ajaxModal').find('form').attr('data-id', id)
                $('#ajaxModal').find('#close_modal').attr('data-bs-dismiss', 'modal')
                $('#ajaxModal').find('#close_modal').attr('aria-label', "Close")


            })
        });
        var bsRangePickerRange = $('#date_range');
        if (bsRangePickerRange.length) {
            bsRangePickerRange.daterangepicker({
                ranges: {
                    Today: [moment(), moment()],
                    Yesterday: [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                opens: isRtl ? 'left' : 'right'
            });
        }

    </script>
    <script type="text/html" id="campaign_template">
        <tr>
            <td style="text-align: center; vertical-align: middle;">COMPANY_NAME</td>
            <td style="text-align: center; vertical-align: middle;">CAMPAIGN_NAME</td>
            <td style="text-align: center; vertical-align: middle;">IMP</td>
            <td style="text-align: center; vertical-align: middle;">CLICK</td>
            <td style="text-align: center; vertical-align: middle;">VIEWABLE</td>
            <td>Actions</td>
        </tr>
    </script>
{% endblock %}
