{% extends 'vuexy/Layout.html' %}
{% block content %}
    <div class="card">
        <form action="" method="post">
            <div class="card-body">
                {% csrf_token %}
{#                <div class="mb-3 row">#}
{#                    <label class="form-label col-md-2" for="user-role">Company</label>#}
{#                    <div class="col-md-10">#}
{#                        <select id="user-role" class="form-select" name="company">#}
{#                            {% for type in company %}#}
{#                                <option value="{{ type.id }}">{{ type.name }}</option>#}
{#                            {% endfor %}#}
{##}
{#                        </select>#}
{#                    </div>#}
{##}
{#                </div>#}
                {{ form }}
            </div>
            <div class="card-footer text-left">
                <a href="{% url 'roles' %}" class="w-10 btn btn-danger">Cancel</a>
                <button class="w-10 btn btn-primary">Submit</button>
            </div>
        </form>

    </div>


{% endblock %}
{% block js %}
    <script type="application/javascript">
        $(document).ready(function () {
            $('[for="id_group-name"]').before('<div id="id_group-name_container" class="mb-3 row"></div>');
            $('[for="id_group-name"]').addClass('col-md-2')
            $('#id_group-name').addClass('form-control col-md-10').after('<div></div><hr/>')
            let name_level = $('[for="id_group-name"]');
            let name_input = $('#id_group-name');
            console.log(name_level)
            $('#id_group-name_container').append(name_level);
            $('#id_group-name_container').append(`<div class="col-md-10"></div>`).find('.col-md-10').html(name_input);
            $('#id_profile-can_view_dashboard').after('<br/>')
            $('[for="id_profile-company"]').before('<div id="id_profile-company_container" class="mb-3 row"></div>');
            $('#id_profile-company_container').append($('[for="id_profile-company"]'))
            $('[for="id_profile-company"]').addClass('col-md-2')
            $('#id_profile-company').addClass('form-control col-md-10')
            $('#id_profile-company_container').append(`<div class="col-md-10"></div>`).find('.col-md-10').html($('[id="id_profile-company"]'))

            $(".related-widget-wrapper:has(table)").addClass('related-widget-wrapper-user-permissions');
            $('#perm_view_select_all').on('change', function () {
                var state = $(this).prop('checked');
                $('#tabular_permissions').find('tr td.view').find('input').each(function (i, e) {
                    $(e).prop('checked', state)
                })
            });
            $('#perm_add_select_all').on('change', function () {
                var state = $(this).prop('checked');
                $('#tabular_permissions').find('tr td.add').find('input').each(function (i, e) {
                    $(e).prop('checked', state)
                })
            });
            $('#perm_change_select_all').on('change', function () {
                var state = $(this).prop('checked');
                $('#tabular_permissions').find('tr td.change').find('input').each(function (i, e) {
                    $(e).prop('checked', state)
                })
            });
            $('#perm_delete_select_all').on('change', function () {
                var state = $(this).prop('checked');
                $('#tabular_permissions').find('tr td.delete').find('input').each(function (i, e) {
                    $(e).prop('checked', state)
                })
            });
            $('.select-all.select-row').on('change', function () {
                var $this = $(this);
                $this.parents('tr').find('.checkbox').not('.select-all').each(function (i, elem) {
                    $(elem).prop('checked', $this.prop('checked'));
                })
            });

            $('tbody tr').find('.view').closest('tr').each(function () {
                let checked_input = $(this).find('.view,.change,.delete,.add').find('input:checked').length
                let all_input = $(this).find('.view,.change,.delete,.add').find('input').length

                if (checked_input == all_input) {
                    $(this).find('.select-all').prop('checked', true)
                }

            })

            $('.view,.delete,.add,.change').on('change', function () {
                let checked_input = $(this).closest('tr').find('.view,.change,.delete,.add').find('input:checked').length
                let all_input = $(this).closest('tr').find('.view,.change,.delete,.add').find('input').length
                $(this).closest('tr').find('.select-all').prop('checked', false)
                if (checked_input == all_input) {
                    $(this).closest('tr').find('.select-all').prop('checked', true)
                }
            })


            $('[type="checkbox"]').on('change', function () {
                set_permissions()
            });
            set_permissions();
        });
        let set_permissions = function () {
            $('[name="group-permissions"]').html('');
            $('tbody .select-all').each(function () {
                let model_name = $(this).attr('data-model-name')
                if (model_name) {
                    $(this).closest('tr').find('input.view,input.add,input.change,input.delete').each(function () {
                        if ($(this).is(':checked')) {
                            let value = $(this).attr('data-perm-id')
                            $('[name="group-permissions"]').append($("<option></option>").val(value).prop('selected', true))
                        }
                    });
                }
            });
        }
    </script>
{% endblock %}
