{% load campaign_tags %}
<div class="text-center mb-4">
    <h3 class="role-title mb-2">Campaign Detail</h3>
    {#    <p class="text-muted">Set group campaign data</p>#}
</div>

<div class="nav-align-top nav-tabs-shadow mb-4">
    <ul class="nav nav-tabs nav-fill" role="tablist">
        <li class="nav-item">
            <button
                    type="button"
                    class="nav-link active"
                    role="tab"
                    data-bs-toggle="tab"
                    data-bs-target="#navs-justified-info"
                    aria-controls="navs-justified-home"
                    aria-selected="true">
                <i class="tf-icons ti ti-home ti-xs me-1"></i> Info
                <span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-label-danger ms-1">3</span>
            </button>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="navs-justified-info" role="tabpanel">
            <p class="mb-0">
            <table class="table">
                <tbody>
                <tr data-dt-row="0" data-dt-column="1">
                    <td>Name:</td>
                    <td>{{ object.name }}</td>
                </tr>
                <tr data-dt-row="0" data-dt-column="2">
                    <td>Code:</td>
                    <td>{{ object.code }}</td>
                </tr>
                <tr data-dt-row="0" data-dt-column="5">
                    <td>Agency:</td>
                    <td>{{ object.agency }}</td>
                </tr>
                <tr data-dt-row="0" data-dt-column="5">
                    <td>Platform:</td>
                    <td>{{ object.platform }}</td>
                </tr>
                <tr data-dt-row="0" data-dt-column="5">
                    <td>Campaign Type:</td>
                    <td>{{ object.campaign_type }}</td>
                </tr>
                <tr data-dt-row="0" data-dt-column="7">
                    <td>Start Date:</td>
                    <td>{{ object.start_date }}</td>
                </tr>
                <tr data-dt-row="0" data-dt-column="7">
                    <td>End Date:</td>
                    <td>{{ object.end_date }}</td>
                </tr>
                </tbody>
            </table>
            </p>
            <div class="d-flex justify-content-end">
                <a href="javascript:;" data-url="/campaign/{{ object.id }}/edit"
                   class="btn btn-sm btn-success user-edit"
                   data-id="{{ object.id }}"><i class="ti ti-pencil ti-sm me-2"></i></a>
            </div>
        </div>
        <div class="tab-pane fade" id="navs-justified-inventory" role="tabpanel">
            <p class="mb-0">
            <table class="table">
                <tbody>

                <tr data-dt-row="0" data-dt-column="1">
                    <td>Frequency Capping:</td>
                    <td>{{ object.campaigninventory.frequency_capping }}</td>
                </tr>
                {% if object.campaigninventory.frequency_capping %}
                    <tr data-dt-row="0" data-dt-column="1">
                        <td>Capping Per Day:</td>
                        <td>{{ object.campaigninventory.capping_per_day }}</td>
                    </tr>
                {% endif %}
                <tr data-dt-row="0" data-dt-column="1">
                    <td>Rewarded Inventory:</td>
                    <td>{{ object.campaigninventory.is_rewarded_inventory }}</td>
                </tr>
                <tr data-dt-row="0" data-dt-column="1">
                    <td>Deal Package:</td>
                    <td>{{ object.campaigninventory.is_pmp }}</td>
                </tr>
                <tr data-dt-row="0" data-dt-column="1">
                    <td>Day Parting:</td>
                    <td>{{ object.campaigninventory.date_parting }}</td>
                </tr>
                <tr data-dt-row="0" data-dt-column="1">
                    <td>Open Publisher:</td>
                    <td>{{ object.campaigninventory.open_publisher }}</td>
                </tr>
                {% if not object.campaigninventory.open_publisher %}
                    <tr data-dt-row="0" data-dt-column="1">
                        <td>Sites:</td>
                        <td>{{ object.campaigninventory.sites | get_tag_from_list_of_dict | safe }}</td>
                    </tr>
                    <tr data-dt-row="0" data-dt-column="1">
                        <td>Apps:</td>
                        <td>{{ object.campaigninventory.apps | get_tag_from_list_of_dict | safe }}</td>
                    </tr>
                {% endif %}

                </tbody>
            </table>
            </p>
            <div class="d-flex justify-content-end">
                <a href="javascript:;" data-url="/campaign/inventory/{{ object.id }}/edit"
                   class="btn btn-sm btn-success user-edit"
                   data-id="{{ object.id }}"><i class="ti ti-pencil ti-sm me-2"></i></a>
            </div>
        </div>
        <div class="tab-pane fade" id="navs-justified-targets" role="tabpanel">
            <p class="mb-0">
            <table class="table">
                <tbody>
                <tr data-dt-row="0" data-dt-column="1">
                    <td>URL:</td>
                    <td>{{ object.campaigntargets.url }}</td>
                </tr>
                <tr data-dt-row="0" data-dt-column="1" class="border-bottom-primary">
                    <td>Landing URL:</td>
                    <td>{{ object.campaigntargets.landing_url }}</td>
                </tr>
                <hr/>
                <tr data-dt-row="0" data-dt-column="1">
                    <td>Billing ID:</td>
                    <td>{{ object.campaigntargets.billing_id }}</td>
                </tr>
                <tr data-dt-row="0" data-dt-column="1" class="border-bottom-primary">
                    <td>Deal ID:</td>
                    <td>{{ object.campaigntargets.deal_id }}</td>
                </tr>
                <tr data-dt-row="0" data-dt-column="1">
                    <td>From Hour:</td>
                    <td>{{ object.campaigntargets.from_hour }}</td>
                </tr>
                <tr data-dt-row="0" data-dt-column="1">
                    <td>To Hour:</td>
                    <td>{{ object.campaigntargets.to_hour }}</td>
                </tr>


                </tbody>
            </table>
            </p>
            <div class="d-flex justify-content-end">
                <a href="javascript:;" data-url="/campaign/targets/{{ object.id }}/edit"
                   class="btn btn-sm btn-success user-edit"
                   data-id="{{ object.id }}"><i class="ti ti-pencil ti-sm me-2"></i></a>
            </div>
        </div>
        <div class="tab-pane fade" id="navs-justified-creatives" role="tabpanel">
            <p class="mb-0">
            <table class="table">
                <thead>
                <tr>
                    <th>Creative</th>
                    <th>Dimension</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Approval Status</th>
                </tr>
                </thead>
                <tbody>
                {% for creative in object.campaign_creatives.all %}
                    <tr>
                        <td>
                            <div class="creative_view">
                                {% if creative.type == 1 %}
                                    <img src="{{ creative.file.url }}" style="width: 100%" alt="">
                                {% elif creative.type == 101 %}
                                    {{ creative.html_tag | safe }}
                                {% elif creative.type == 301 %}
                                    <video src="{{ creative.file.url }}" style="width: 100%" controls></video>
                                {% endif %}
                                <div class="overlay">
                                    <a href="#" class="icon fullscreen" title="User Profile">
                                        <i class="fa fa-search-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>

                        </td>
                        <td>{{ creative.dimension }}</td>
                        <td>{{ creative.get_type_display }}</td>
                        <td>{{ creative.get_status_display }}</td>
                        <td>
{#                            <button type="button"#}
{#                                    class="btn btn-info">{{ creative.get_approval_status_display }}</button>#}
                            <select name="approval_status" data-id="{{ creative.id }}" class="approval_status">
                                <option value="0" {% if creative.approval_status == 0 %}selected{% endif %}>Pending</option>
                                <option value="1" {% if creative.approval_status == 1 %}selected{% endif %}>Approved</option>
                                <option value="2" {% if creative.approval_status == 2 %}selected{% endif %}>Rejected</option>
                            </select>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </p>
            <div class="d-flex justify-content-end">
                <a href="javascript:;" data-url="/campaign/creative/{{ object.id }}/create"
                   class="btn btn-sm btn-success user-edit"
                   data-id="{{ object.id }}"><i class="ti ti-plus ti-sm me-2"></i> New Creative</a>
            </div>
        </div>
    </div>
</div>
