{% extends 'vuexy/Layout.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/typeahead-js/typeahead.css"/>
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/bs-stepper/bs-stepper.css"/>
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/bootstrap-select/bootstrap-select.css"/>
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/select2/select2.css"/>
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/@form-validation/umd/styles/index.min.css"/>

{% endblock %}
{% block content %}
    <!-- Vertical Wizard -->
    <div class="col-12 mb-4">
{#                  <small class="text-light fw-medium">Vertical Icons</small>#}
                  <div class="bs-stepper vertical wizard-vertical-icons-example mt-2">
                    <div class="bs-stepper-header">
                      <div class="step active" data-target="#account-details-vertical">
                        <button type="button" class="step-trigger" aria-selected="true">
                          <span class="bs-stepper-circle">
                            <i class="ti ti-file-description"></i>
                          </span>
                          <span class="bs-stepper-label">
                            <span class="bs-stepper-title">Account Details</span>
                            <span class="bs-stepper-subtitle">Setup Account Details</span>
                          </span>
                        </button>
                      </div>
                      <div class="line"></div>
                      <div class="step" data-target="#personal-info-vertical">
                        <button type="button" class="step-trigger" aria-selected="false">
                          <span class="bs-stepper-circle">
                            <i class="ti ti-user"></i>
                          </span>
                          <span class="bs-stepper-label">
                            <span class="bs-stepper-title">Personal Info</span>
                            <span class="bs-stepper-subtitle">Add personal info</span>
                          </span>
                        </button>
                      </div>
                      <div class="line"></div>
                      <div class="step" data-target="#social-links-vertical">
                        <button type="button" class="step-trigger" aria-selected="false">
                          <span class="bs-stepper-circle"><i class="ti ti-brand-instagram"></i> </span>
                          <span class="bs-stepper-label">
                            <span class="bs-stepper-title">Social Links</span>
                            <span class="bs-stepper-subtitle">Add social links</span>
                          </span>
                        </button>
                      </div>
                    </div>
                    <div class="bs-stepper-content">
                      <form onsubmit="return false">
                        <!-- Account Details -->
                        <div id="account-details-vertical" class="content dstepper-block active">
                          <div class="content-header mb-3">
                            <h6 class="mb-0">Account Details</h6>
                            <small>Enter Your Account Details.</small>
                          </div>
                          <div class="row g-3">
                            <div class="col-sm-6">
                              <label class="form-label" for="username1">Username</label>
                              <input type="text" id="username1" class="form-control" placeholder="john.doe">
                            </div>
                            <div class="col-sm-6">
                              <label class="form-label" for="email1">Email</label>
                              <input type="text" id="email1" class="form-control" placeholder="john.doe" aria-label="john.doe">
                            </div>
                            <div class="col-sm-6 form-password-toggle">
                              <label class="form-label" for="password60">Password</label>
                              <div class="input-group input-group-merge">
                                <input type="password" id="password60" class="form-control" placeholder="············" aria-describedby="password6">
                                <span class="input-group-text cursor-pointer" id="password6"><i class="ti ti-eye-off"></i></span>
                              </div>
                            </div>
                            <div class="col-sm-6 form-password-toggle">
                              <label class="form-label" for="confirm-password61">Confirm Password</label>
                              <div class="input-group input-group-merge">
                                <input type="password" id="confirm-password61" class="form-control" placeholder="············" aria-describedby="confirm-password7">
                                <span class="input-group-text cursor-pointer" id="confirm-password7"><i class="ti ti-eye-off"></i></span>
                              </div>
                            </div>
                            <div class="col-12 d-flex justify-content-between">
                              <button class="btn btn-label-secondary btn-prev waves-effect" disabled="">
                                <i class="ti ti-arrow-left me-sm-1"></i>
                                <span class="align-middle d-sm-inline-block d-none">Previous</span>
                              </button>
                              <button class="btn btn-primary btn-next waves-effect waves-light">
                                <span class="align-middle d-sm-inline-block d-none me-sm-1">Next</span>
                                <i class="ti ti-arrow-right"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                        <!-- Personal Info -->
                        <div id="personal-info-vertical" class="content dstepper-block">
                          <div class="content-header mb-3">
                            <h6 class="mb-0">Personal Info</h6>
                            <small>Enter Your Personal Info.</small>
                          </div>
                          <div class="row g-3">
                            <div class="col-sm-6">
                              <label class="form-label" for="first-name1">First Name</label>
                              <input type="text" id="first-name1" class="form-control" placeholder="John">
                            </div>
                            <div class="col-sm-6">
                              <label class="form-label" for="last-name1">Last Name</label>
                              <input type="text" id="last-name1" class="form-control" placeholder="Doe">
                            </div>
                            <div class="col-sm-6">
                              <label class="form-label" for="country1">Country</label>
                              <div class="position-relative"><select class="select2 select2-hidden-accessible" id="country1" data-select2-id="country1" tabindex="-1" aria-hidden="true">
                                <option label=" " data-select2-id="4"></option>
                                <option>UK</option>
                                <option>USA</option>
                                <option>Spain</option>
                                <option>France</option>
                                <option>Italy</option>
                                <option>Australia</option>
                              </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="3" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-country1-container"><span class="select2-selection__rendered" id="select2-country1-container" role="textbox" aria-readonly="true"><span class="select2-selection__placeholder">Select value</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span></div>
                            </div>
                            <div class="col-sm-6">
                              <label class="form-label" for="language1">Language</label>
                              <div class="dropdown bootstrap-select show-tick w-auto"><select class="selectpicker w-auto" id="language1" data-style="btn-default" data-icon-base="ti" data-tick-icon="ti-check text-white" multiple="">
                                <option>English</option>
                                <option>French</option>
                                <option>Spanish</option>
                              </select><button type="button" tabindex="-1" class="btn dropdown-toggle bs-placeholder btn-default" data-bs-toggle="dropdown" role="combobox" aria-owns="bs-select-2" aria-haspopup="listbox" aria-expanded="false" title="Nothing selected" data-id="language1"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Nothing selected</div></div> </div></button><div class="dropdown-menu "><div class="inner show" role="listbox" id="bs-select-2" tabindex="-1" aria-multiselectable="true"><ul class="dropdown-menu inner show" role="presentation"></ul></div></div></div>
                            </div>
                            <div class="col-12 d-flex justify-content-between">
                              <button class="btn btn-label-secondary btn-prev waves-effect">
                                <i class="ti ti-arrow-left me-sm-1"></i>
                                <span class="align-middle d-sm-inline-block d-none">Previous</span>
                              </button>
                              <button class="btn btn-primary btn-next waves-effect waves-light">
                                <span class="align-middle d-sm-inline-block d-none me-sm-1">Next</span>
                                <i class="ti ti-arrow-right"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                        <!-- Social Links -->
                        <div id="social-links-vertical" class="content dstepper-block">
                          <div class="content-header mb-3">
                            <h6 class="mb-0">Social Links</h6>
                            <small>Enter Your Social Links.</small>
                          </div>
                          <div class="row g-3">
                            <div class="col-sm-6">
                              <label class="form-label" for="twitter1">Twitter</label>
                              <input type="text" id="twitter1" class="form-control" placeholder="https://twitter.com/abc">
                            </div>
                            <div class="col-sm-6">
                              <label class="form-label" for="facebook1">Facebook</label>
                              <input type="text" id="facebook1" class="form-control" placeholder="https://facebook.com/abc">
                            </div>
                            <div class="col-sm-6">
                              <label class="form-label" for="google1">Google+</label>
                              <input type="text" id="google1" class="form-control" placeholder="https://plus.google.com/abc">
                            </div>
                            <div class="col-sm-6">
                              <label class="form-label" for="linkedin1">Linkedin</label>
                              <input type="text" id="linkedin1" class="form-control" placeholder="https://linkedin.com/abc">
                            </div>
                            <div class="col-12 d-flex justify-content-between">
                              <button class="btn btn-label-secondary btn-prev waves-effect">
                                <i class="ti ti-arrow-left me-sm-1"></i>
                                <span class="align-middle d-sm-inline-block d-none">Previous</span>
                              </button>
                              <button class="btn btn-success btn-submit waves-effect waves-light">Submit</button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
    <!-- /Vertical Wizard -->
{% endblock %}
{% block js %}
    <!-- Vendors JS -->
    <script src="{% static 'vuexy/' %}assets/vendor/libs/bs-stepper/bs-stepper.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/bootstrap-select/bootstrap-select.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/select2/select2.js"></script>
    <!-- Page JS -->

    <script src="{% static 'vuexy/' %}assets/js/form-wizard-icons.js"></script>
{% endblock %}