{% extends 'vuexy/Layout.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/select2/select2.css"/>
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/tagify/tagify.css"/>
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/@form-validation/umd/styles/index.min.css"/>
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/jquery-timepicker/jquery-timepicker.css">
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/animate-css/animate.css"/>
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/sweetalert2/sweetalert2.css"/>

    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/typeahead-js/typeahead.css"/>
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/bs-stepper/bs-stepper.css"/>
    <link rel="stylesheet" href="{% static 'vuexy/' %}assets/vendor/libs/bootstrap-select/bootstrap-select.css"/>
    {#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">#}
    {#<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>#}
    <style>
        .creative_view {
            position: relative;
            width: 100%;
            max-width: 200px;
        }

        .image {
            display: block;
            width: 100%;
            height: auto;
        }

        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .3s ease;
            background-color: #38444d66;
        }

        .creative_view:hover .overlay {
            opacity: 1;
        }

        .icon {
            color: white;
            font-size: 100px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }

        .fa-user:hover {
            color: #eee;
        }
    </style>
{% endblock %}
{% block content %}

    <!-- Users List Table -->
    <div class="card">
        {#        <div class="card-header border-bottom">#}
        {#            <h5 class="card-title mb-3">Search Filter</h5>#}
        {#            <div class="d-flex justify-content-between align-items-center row pb-2 gap-3 gap-md-0">#}
        {#                <div class="col-md-6 user_role"></div>#}
        {#                <div class="col-md-4 user_plan"></div>#}
        {#                <div class="col-md-6 user_status"></div>#}
        {#            </div>#}
        {#        </div>#}
        <div class="card-datatable table-responsive">
            <table class="datatables-users table">
                <thead class="border-top">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Platform</th>
                    <th>Campaign Type</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
            </table>
        </div>
        <!-- Offcanvas to add new user -->
        <div class="offcanvas offcanvas-end"
             tabindex="-1"
             id="offcanvasAddUser2"
             aria-labelledby="offcanvasAddUserLabel">
            <div class="offcanvas-header">
                <h5 id="offcanvasAddUserLabel" class="offcanvas-title">Add Group Campaign</h5>
                <button
                        type="button"
                        class="btn-close text-reset"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body mx-0 flex-grow-0 pt-0 h-100" id="user_creation_form_container">
                <form class="add-new-user pt-0" id="addNewUserForm" onsubmit="return false">

                </form>
            </div>
        </div>
        <div class="offcanvas offcanvas-end"
             tabindex="-1"
             id="offcanvasAddUser"
             aria-labelledby="offcanvasAddUserLabel">
            <div class="offcanvas-header">
                <h5 id="offcanvasAddUserLabel" class="offcanvas-title">Add Company</h5>
                <button
                        type="button"
                        class="btn-close text-reset"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body mx-0 flex-grow-0 pt-0 h-100">
                <form class="add-new-user pt-0" id="addNewUserForm" onsubmit="return false">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label" for="add-user-fullname">Name</label>
                        <input
                                type="text"
                                class="form-control"
                                id="add-user-fullname"
                                placeholder="John Doe"
                                name="name"
                                aria-label="John Doe"/>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="user-role">Type</label>
                        <select id="user-role" class="form-select" name="type">
                            {% for type in company_type %}
                                <option value="{{ type.id }}">{{ type.name }}</option>
                            {% endfor %}

                        </select>
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="user-plan">Select Plan</label>
                        <select id="user-plan" name="status" class="form-select">
                            <option value="1" selected="">Active</option>
                            <option value="0">Inactive</option>
                        </select>
                    </div>
                    <button type="submit" id="submit_data" class="btn btn-primary me-sm-3 me-1 data-submit">Submit
                    </button>
                    <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="offcanvas">Cancel</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'vuexy/' %}assets/vendor/libs/select2/select2.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/tagify/tagify.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/@form-validation/umd/bundle/popular.min.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/@form-validation/umd/plugin-bootstrap5/index.min.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/@form-validation/umd/plugin-auto-focus/index.min.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/cleavejs/cleave.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/cleavejs/cleave-phone.js"></script>
    <script src="{% static 'vuexy/' %}assets/js/app-campaign-list.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
            integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/jquery-timepicker/jquery-timepicker.js"></script>
    {#    <script src="{% static 'vuexy/' %}assets/js/forms-tagify.js"></script>#}
    <script src="{% static 'vuexy/' %}assets/vendor/libs/sweetalert2/sweetalert2.js"></script>

    <!-- Vendors JS -->
    <script src="{% static 'vuexy/' %}assets/vendor/libs/bs-stepper/bs-stepper.js"></script>
    <script src="{% static 'vuexy/' %}assets/vendor/libs/bootstrap-select/bootstrap-select.js"></script>
    <!-- Page JS -->

    <script src="{% static 'vuexy/' %}assets/js/form-wizard-icons.js"></script>
    <script src="{% static 'vuexy/libs/' %}fullscreen-element/jquery.fullscreen-min.js"></script>
    {#    <script src="{% static 'vuexy/' %}assets/js/modal-create-app.js"></script>#}

    <script>
        if (staff == 'False' && sadm == 'False') {
            $('html').find('.delete-record').remove();
        }
        confirmColor = document.querySelector('#confirm-color');

        $('html').on('click', '.fullscreen', function (e) {
            {#console.log($(this).closest('.creative_view'))#}
            $(this).closest('.creative_view').fullScreen(true);

        })
        $('html').on('change', '[name="approval_status"]', function (e) {
            let id = $(this).attr('data-id');
            let status = $(this).val()
            axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
            axios.defaults.xsrfCookieName = "csrftoken";
            const config = {
                headers: {
                    'content-type': 'multipart/form-data'
                }
            }
            axios.put(`/api/v1/campaign_creatives/${id}/`, {approval_status: status})
                .then(function (response) {
                    console.log(response);
                    Swal.fire({
                        icon: 'success',
                        title: 'Changed!',
                        text: 'Status Changed.',
                        timer: 2000,
                        buttons: false,
                        showCancelButton: false,
                        showConfirmButton: false,
                        customClass: {
                            confirmButton: 'btn btn-success'
                        }
                    });
                })
                .catch(function (error) {
                    console.log(error);
                });
        })
        $('html').on('change', '[name="image"]', function () {
            var file = document.querySelector('input[type="file"][name="image"]').files[0];
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function () {
                console.log(reader.result);
                document.querySelector('input[name="image_file"]').value = reader.result;
            };
            reader.onerror = function (error) {
                console.log('Error: ', error);
            };
        })

        $('html').on('change', '[name="file"]', function () {
            var file = document.querySelector('input[type="file"][name="file"]').files[0];
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function () {
                console.log(reader.result);
                document.querySelector('input[name="file_file"]').value = reader.result;
            };
            reader.onerror = function (error) {
                console.log('Error: ', error);
            };
        })

        $('html').on('change', '[name="type"]', function () {
            let type = $(this).val()
            $('html').find('input[type="file"][name="file"]').val('').prop('required', true)
            if (type) {
                let accept = ''
                if (type == 1) {
                    accept = 'image/*'
                    $('#div_id_file').closest('.form-group').show()
                    $('#id_html_tag').closest('.form-group').hide()
                    $('html').find('input[type="file"][name="file"]').prop('disabled', false)
                    $('html').find('input[type="file"][name="file"]').attr('accept', accept)
                    $('html').find('[name="html_tag"]').prop('disabled', true).prop('required', false)
                } else if ([301, 302, '301', '302'].includes(type)) {
                    accept = 'video/*'
                    $('#div_id_file').closest('.form-group').show()
                    $('#id_html_tag').closest('.form-group').hide()
                    $('html').find('input[type="file"][name="file"]').prop('disabled', false)
                    $('html').find('input[type="file"][name="file"]').attr('accept', accept)
                    $('html').find('[name="html_tag"]').prop('disabled', true).prop('required', false)
                } else if (type = 101) {
                    $('#div_id_file').closest('.form-group').hide()
                    $('#id_html_tag').closest('.form-group').show()
                    $('html').find('[name="html_tag"]').prop('disabled', false).prop('required', true)
                    $('html').find('input[type="file"][name="file"]').prop('disabled', true)
                }

            } else {
                $('html').find('input[type="file"][name="file"]').prop('disabled', true)
            }

        })


    </script>
{% endblock %}